<p>
    If an employer is listed in
    <a target="_blank" href="http://www.legislation.gov.uk/uksi/2017/353/schedule/2/made" class="content">
        Schedule 2 of the Equality Act 2010 (Specific Duties and Public Authorities) Regulations 2017 <span class="visually-hidden">(opens in a new window)</span>
    </a>&nbsp; and has 250 or more employees on 31 March, then they must publish their report by 30 March of the following year.
</p>
<p>
    Any employer who is not listed in schedule 2 and has 250 or more employees on 5 April must publish their report by 4 April of the following year.
</p>