<p>
    From 2017, any employer who has a headcount of 250 or more on their &lsquo;snapshot date&rsquo; must comply with regulations on gender pay gap reporting.
</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>
            most
            <a target="_blank" href="https://www.gov.uk/guidance/who-needs-to-report-their-gender-pay-gap#public-regulations" rel="noopener" class="content">
                public authority employers<span class="visually-hidden">(opens in a new window)</span>
            </a> must use a snapshot date of 31 March and report and publish gender pay gap information by 30 March of the following year
        </p>
    </li>
    <li>
        <p>
            <a target="_blank" href="https://www.gov.uk/guidance/who-needs-to-report-their-gender-pay-gap#private-regulations" rel="noopener" class="content">
                private, voluntary and all other public authority employers<span class="visually-hidden">(opens in a new window)</span>
            </a> must use a snapshot date of 5 April and report and publish gender pay gap information by 4 April of the following year.
        </p>
    </li>
</ul>
