@using GenderPayGap.Core
@using GenderPayGap.WebUI.Views.Components.StepByStep
@model ReportingStepsViewModel

@{
    var steps = new List<StepViewModel>
    {
        new StepViewModel
        {
            Title = "Check when you are required to report by",
            StepType = StepType.Number,
            StepNumber = 1,
            Description = new StepDescription
            {
                Html =
                    @<text>
                        <p class="govuk-body">
                            Organisations that are required to report and publish their gender pay
                            gap data, and written statement, must do so by these dates:
                        </p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li class="govuk-!-margin-bottom-3">public sector organisations must publish before 31 March each year</li>
                            <li>
                                all other private, voluntary and public sector employers must publish before 5 April
                                each year
                            </li>
                        </ul>
                     </text>
            },
            StepTasks = new List<StepTask>
            {
                new StepTask
                {
                    TaskText = "Find out more about gender pay gap reporting deadlines",
                    TaskUrl = ""
                }
            }
        },
        new StepViewModel
        {
            Title = "Create a user account or sign-in",
            StepType = StepType.Number,
            StepNumber = 2,
            Description = new StepDescription
            {
                Text = "You will need to create your own user account, even if someone else has previously reported your"
                       + " organisation's gender pay gap. After you have created an account, you can add or manage your "
                       + "organisation.",
            },
            StepTasks = new List<StepTask>
            {
                new StepTask {TaskText = "Create your user account", TaskUrl = "/Register"},
                new StepTask {TaskText = "Sign in to your account", TaskUrl = "/Register"},
            }
        },
        new StepViewModel
        {
            Title = "Add or manage your organisations",
            StepType = StepType.And,
            Description = new StepDescription
            {
                Text = "Adding a new organisation to your user account can take up to three weeks to verify. You must create your user "
                       + "account before you can add an organisation."
            },
            StepTasks = new List<StepTask>
            {
                new StepTask
                {
                    TaskText = "Add an organisation",
                    TaskUrl = @Url.Action("ChooseSector", "AddOrganisationChooseSector")
                },
                new StepTask
                {
                    TaskText = "Manage my organisations",
                    TaskUrl = @Url.Action("ManageOrganisationsGet", "ManageOrganisations")
                },
            }
        },
        new StepViewModel
        {
            Title = "Prepare and calculate your gender pay gap information",
            StepType = StepType.Number,
            StepNumber = 3,
            Description = new StepDescription
            {
                Html = @<text>
                           <p class="govuk-body">
                               To calculate your organisation's gender pay gap figures, you'll need to get information
                               from your payroll system.
                           </p>
                           <p class="govuk-body">
                               If your organisation is a business or charity it must also publish a 'written statement'.
                           </p>
                           <p class="govuk-body">
                               You may also add a supporting narrative and action plan.
                           </p>
                        </text>
            },
            StepTasks = new List<StepTask>
            {
                new StepTask
                {
                    TaskText = "Find out what data you will need to gather",
                    TaskUrl = ""
                },
                new StepTask
                {
                    TaskText = "Make your gender pay gap calculations",
                    TaskUrl = "",
                },
                new StepTask
                {
                    TaskText = "Find out about the written statement and supporting narrative",
                    TaskUrl = "",
                }
            }
        },
        new StepViewModel
        {
            Title = "Report your gender pay gap information",
            StepType = StepType.Number,
            StepNumber = 4,
            Description = new StepDescription
            {
                Text = "By law, all employers with 250 or more employees are required to report their gender pay gap "
                       + "data through this service. This must be reported for each organisation."
            },
            StepTasks = new List<StepTask>
            {
                new StepTask
                {
                    TaskText = "Report your gender pay gap data",
                    TaskUrl = @Global.StartUrl ?? Url.Action("ManageOrganisationsGet", "ManageOrganisations")
                },
            }
        },
        new StepViewModel
        {
            Title = "Publish your gender pay gap report on your organisation's public facing website",
            StepType = StepType.Number,
            StepNumber = 5,
            Description = new StepDescription
            {
                Html = @<text>
                           <p class="govuk-body">
                               You must publish your gender pay gap report on your organisation's public facing 
                               website. If applicable, you must also publish your written statement.
                           </p>
                           <p class="govuk-body">
                               You can also publish a supporting narrative and action plan on your website, and submit
                               a website link to this when your report.
                           </p>
                           <p class="govuk-body">
                               Providing a supporting narrative and action plan is discretionary.
                           </p>
                        </text>,

            },
            StepTasks = new List<StepTask>
            {
                new StepTask
                {
                    TaskText = "Find out what information you must publish",
                    TaskUrl = ""
                },
                new StepTask
                {
                    TaskText = "View other organisation's gender pay gap reports and supporting narrative",
                    TaskUrl = ""
                },
            }
        }
    };
    if (Model.CurrentStep != null && Model.CurrentTask != null)
    {
        steps[Model.CurrentStep.Value].IsCurrentStep = true;
        steps[Model.CurrentStep.Value].StepTasks[(int) Model.CurrentTask].IsCurrentTask = true;
    }
}

@{ await Html.RenderPartialAsync("/Views/Components/StepByStep/Steps.cshtml", steps); }
