@model ReportingStepsViewModel
<div class="app-step-nav-related app-step-nav-related--singular">
    <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Part of</span>
        <a href="@(Url.Action("StepByStepStandalone", "ReportingStepByStep"))"
           class="govuk-link">
            Report your gender pay gap: step by step
        </a>
    </h2>
</div>

<div id="step-by-step-navigation"
     class="app-step-nav js-hidden"
     data-id="e01e924b-9c7c-4c71-8241-66a575c2f61f"
     data-show-text="show"
     data-hide-text="hide"
     data-show-all-text="Show all"
     data-hide-all-text="Hide all">
    @{ await Html.RenderPartialAsync("/Views/ReportingStepByStep/ReportingSteps.cshtml", new ReportingStepsViewModel
       {
           CurrentStep = Model.CurrentStep,
           CurrentTask = Model.CurrentTask
       }); }
</div>
