@using GenderPayGap.WebUI.Controllers.Guidance
@{
    ViewBag.Title = "Reporting for your Organisation - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Prepare and report your gender pay gap: step by step
        </h1>

        <p class="govuk-body">
            Before you can continue you will need to:
        </p>
        <p class="govuk-body">
            <a href="" class="govuk-link">
                Find out what the gender pay gap is
            </a>
        </p>
        <p class="govuk-body">
            <a href="" class="govuk-link">
                Find out if your organisation is required to report
            </a>
        </p>
        <div class="govuk-warning-text">
            <span class="warning-text__icon govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                It can take up to three weeks to verify each organisation you add to your user account before you
                can submit your data.
            </strong>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div id="step-by-step-navigation"
             class="app-step-nav app-step-nav--large app-step-nav--active"
             data-show-text="Show" data-hide-text="Hide"
             data-show-all-text="Show all"
             data-hide-all-text="Hide all">
            @{ await Html.RenderPartialAsync("/Views/ReportingStepByStep/ReportingSteps.cshtml",
                   new ReportingStepsViewModel()); }
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">
            Next steps
        </h3>
        <h4 class="govuk-heading-s">
            Diagnose your gender pay gap
        </h4>
        <p class="govuk-body">
            To understand why a gender pay gap exists within an organisation and what actions might be taken to address
            it, it is important to diagnose specifically what is causing a gender pay gap in an organisation.
        </p>
        <p class="govuk-body">
            <a class="govuk-link govuk-!-font-weight-bold"
               href="@Url.Action(nameof(EightWaysGuidanceController.EightWaysOverview), "EightWaysGuidance")">
                Find out what contributes to the gender pay gap
            </a>
        </p>
        <h4 class="govuk-heading-s">
            Create an action plan
        </h4>
        <p class="govuk-body">
            Your organisation may want to consider creating an action plan that explains how you intend to
            tackle your gender pay gap. By publishing a plan with targets and clear actions, you will be sending
            a strong signal about your commitment to gender equality in the workplace. An action plan can either be
            published as part of your supporting narrative or alongside it.
        </p>
        <p class="govuk-body">
            <a href="@Url.Action("Overview", "ActionHub")" class="govuk-link govuk-!-font-weight-bold">
                Actions you can take to close your gender pay gap
            </a>
        </p>
    </div>
</div>
