@using GenderPayGap.WebUI.Views.Components
@using GenderPayGap.WebUI.Views.Components.PaginationLinks
@{
    ViewBag.Title = "Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{ await Html.RenderPartialAsync("/Views/ReportingStepByStep/ReportingPageHeader.cshtml"); }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Guidance</span>
        <h1 class="govuk-heading-xl">
            Report your gender pay gap
        </h1>

        <h3 class="govuk-heading-m">Contents</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a class="govuk-link" href="#">Overview</a>
            </li>
            <li>
                <a class="govuk-link" href="#">What is the gender pay gap?</a>
            </li>
            <li>
                <a class="govuk-link" href="#">What contributes to the gender pay gap</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Viewing and comparing other organisation’s gender pay gaps</a>
            </li>
            <li>
                <a class="govuk-link" href="#">When and who are required to report their gender pay gap?</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Find out your snapshot date</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Data you will need to calculate your gender pay gap</a>
            </li>
            <li>
                <a class="govuk-link" href="#">How to calculate your gender pay gap</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Diagnose your gender pay gap and learn how to close it</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Create an employer account on the Gender Pay Gap service</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Register your organisation</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Report your gender pay gap</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Creating and publishing a statement and narrative response</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Further information and useful contacts</a>
            </li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--visible">

        <h2 class="govuk-heading-l govuk-!-margin-top-3">Overview</h2>
        <p class="govuk-body">
            Employers with 250 or more employees must publish and report specific figures about their gender pay gap.
            Still working on this! It will be about one paragraph that speaks to what this service is as a whole, who
            has to engage with it, why they have to engage with it, and to what outcome(s) does the service speak to.
            It should also state what the GPG is, in terms not too dissimilar to what is directly below (but not just
            a copy and paste).
        </p>

        <h2 class="govuk-heading-l">What is the gender pay gap?</h2>
        <p class="govuk-body">
            The gender pay gap is the difference between the average hourly wage of all men and all women in an
            organisation. This is expressed as a percentage of men’s earnings, so a gender pay gap of 15% means that
            the average hourly wage of all men in an organisation is 15% higher than the average hourly wage of all
            women in the same organisation. This figure can either be shown as the mean or median.
        </p>
        <p class="govuk-body">
            If men do more of the well paid jobs than women within an organisation, the gender pay gap in favour of men
            is usually bigger.
        </p>

        <h3 class="govuk-heading-m">Mean calculations</h3>
        <p class="govuk-body">
            A mean is created by adding up all of the numbers in a list and dividing the results by how many numbers are
            in the list.
        </p>

        <h3 class="govuk-heading-m">Median calculations</h3>
        <p class="govuk-body">
            A median is created by listing all of the numbers in numerical order. If there is an odd number of results,
            the median is the middle number, so in a list of 11 numbers ranked numerically the sixth number would be the
            median. If there is an even number of results, the median is the mean of the two central numbers, so if the
            two middle numbers are five and seven the median will be six.
        </p>

        <div class="govuk-inset-text">
            The gender pay gap is not the same as equal pay, which is paying men and women differently for performing
            the same (or similar) work.  This has been unlawful in the UK since 1970.
        </div>
        
        @{ await Html.RenderPartialAsync("/Views/Components/PaginationLinks/PaginationLink.cshtml",
               new PaginationLinkViewModel
               {
                   ArrowDirection = ArrowDirection.Right,
                   Title = "Next",
                   Text = "What contributes to the gender pay gap",
                   Url = "/"
               }); }

    </div>
    <div class="govuk-grid-column-one-third">
        @{ await Html.RenderPartialAsync("/Views/ReportingStepByStep/ReportingSidebar.cshtml",
               new ReportingStepsViewModel
               {
                   CurrentStep = 0,
                   CurrentTask = 0
               }); }
    </div>
</div>
