@model GenderPayGap.WebUI.Models.Search.SearchViewModel
@{
    ViewBag.Title = "Search for an employer's gender pay gap report - GOV.UK";
    ViewBag.pageDescription = "Search for an employer by name or type to view their gender pay gap data";
    if (string.IsNullOrWhiteSpace(ViewBag.ReturnUrl))
    {
        ViewBag.ReturnUrl = Context.GetUri().PathAndQuery;
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @using (Html.BeginForm("SearchResults", "Viewing", FormMethod.Get, new { id = "FinderForm", @class = "js-live-search-form" }))
        {
            <partial name="~/Views/Compare/ComparisonBasket.cshtml" model="ViewBag.BasketViewModel" />
            <div class="govuk-grid-row">
                <div style="margin-top: 15px;">
                    <partial name="/Views/Components/EnforcementChangesMessage.cshtml" />
                </div>
            </div>
            <div class="govuk-grid-row finder comparison-divider">
                <div class="govuk-grid-column-two-thirds">
                    <partial name="Finder/Parts/Facets/Keywords" model="Model" />
                </div>
            </div>
            <br/>
            <div class="govuk-grid-row finder">
                <div class="govuk-grid-column-one-third">
                    <partial name="Finder/Parts/Filter" model="Model" />
                </div>
                <div class="govuk-grid-column-two-thirds js-live-search-results-block" aria-live="assertive">
                    <div id="loading"></div>
                    <div>
                        <partial name="Finder/Parts/OrderBy" model="Model" />
                    </div>
                    <div id="main">
                        <partial name="Finder/Parts/MainContent" model="Model" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        (function () {
            "use strict";

            // bind to the finder filter collapse link (used for mobile)
            GOVUK.Collapsible.bindElements("#ChangeFiltersCollapsible.js-collapsible");

            //Keep comparison basket within viewport
            GOVUK.stickAtTopWhenScrolling.init();
            
            let serializedModel = @Json.Serialize(Model);

            new GOVUK.LiveSearch({
                formId: "FinderForm",
                $results: $('.js-live-search-results-block'),
                onRefresh: function () {
                    $("#AddAllOrgsToCompare").toggle();
                },
                isTrackingFilters: true,
                filterInfo: {
                    category: "Search filters",
                    filterGroups: [
                        serializedModel['SizeFilterGroup'], 
                        serializedModel['SectorFilterGroup'], 
                        serializedModel['ReportingYearFilterGroup'], 
                        serializedModel['ReportingStatusFilterGroup']
                        ]
                }
            });

            new GOVUK.Ajaxify({
                onRefresh: function () {
                    GOVUK.stickAtTopWhenScrolling.init();
                },
                onError: function (errorCode, error, errorThrown) {
                    window.location.href = '/error';
                }
            });
        }());
    </script>
}