@model GenderPayGap.WebUI.Models.Search.SearchViewModel
@{
    ViewBag.Title = "Search for an employer's gender pay gap report - GOV.UK";
    ViewBag.pageDescription = "Search for an employer by name or type to view their gender pay gap data";
    if (string.IsNullOrWhiteSpace(ViewBag.ReturnUrl))
    {
        ViewBag.ReturnUrl = Context.GetUri().PathAndQuery;
    }
}
<div class="grid-row">
    <div class="column-full">
        @using (Html.BeginForm("SearchResults", "Viewing", FormMethod.Get, new {id = "FinderForm", @class = "js-live-search-form"}))
        {
            <partial name="~/Views/Compare/ComparisonBasket.cshtml" model="ViewBag.BasketViewModel"/>
            <div class="grid-row">
                <div style="margin-top: 15px;"> 
                    <partial name="/Views/Components/NotificationBanner.cshtml"/> 
                </div> 
            </div>
            <div class="grid-row finder">
                <div class="column-two-thirds">
                    <partial name="Finder/Parts/Facets/Keywords" model="Model"/>
                </div>
            </div>

            <div class="grid-row finder">
                <div class="column-one-third">
                    <partial name="Finder/Parts/Filter" model="Model"/>
                </div>
                <div class="column-two-thirds js-live-search-results-block" aria-live="assertive">
                    <div id="loading"></div>
                    <div id="main">
                        <partial name="Finder/Parts/MainContent" model="Model"/>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        (function () {
            "use strict";

            // bind to the finder filter collapse link (used for mobile)
            GOVUK.Collapsible.bindElements("#ChangeFiltersCollapsible.js-collapsible");

            //Keep comparison basket within viewport
            GOVUK.stickAtTopWhenScrolling.init();

            // Instantiate an option select for each one found on the page
            var filters = $('#FinderForm .govuk-option-select').map(function () {
                return new GOVUK.OptionSelect({ $el: $(this) });
            });

            new GOVUK.LiveSearch({
                formId: "FinderForm",
                $results: $('.js-live-search-results-block'),
                //$atomAutodiscoveryLink: $atomAutodiscoveryLink,
                onRefresh: function () {
                    $("#AddAllOrgsToCompare").toggle();
                }
            });

            new GOVUK.Ajaxify({
                onRefresh: function () {
                    GOVUK.stickAtTopWhenScrolling.init();
                },
                onError: function (errorCode, error, errorThrown) {
                    window.location.href = '/error/1146';
                }
            });

        }());

    </script>
}