

@{
    ViewBag.Title = $"Report gender pay gap data - reporting year  - Gender pay gap service"; // TODO: insert snapshot date
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-fieldset__heading">
            Report Gender pay gap data
        </h1>
`       <h2 class="govuk-heading-m govuk-!-margin-bottom-8 govuk-!-margin-top-4 govuk-!-font-weight-regular">For @(Model.Organisation.OrganisationName)</h2>
    </div>
</div>

