@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using GenderPayGap.Core
@using System.ComponentModel.DataAnnotations
@model GenderPayGap.WebUI.Models.Search.SearchPageViewModel

@{
    ViewBag.Title = "Search for an employer's gender pay gap report";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Homepage",
                Href = Url.Action("Index", "Homepage")
            },
            new CrumbViewModel
            {
                Text = "Search and compare",
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<partial name="../ViewReports/ComparisonBasketNew"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
            
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
            Search by employer name
            <br/>
            <span class="govuk-!-font-size-27" style="display: inline-block;">
                or filter by sector or number of employees
            </span>
        </h1>
        
        <div class="govuk-form-group">
            <label class="govuk-label" for="query">
                Employer name
            </label>

            <div class="gpg-search-box">
                <input type="text"
                       name="query"
                       id="query"
                       class="govuk-input"
                       value=""
                       aria-describedby="query-hint">
                <input type="submit" value="Search" class="gpg-search-button" />
            </div>
        </div>
        
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">
            Filters
        </h2>
        
        <p class="govuk-body">
            <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" data-module="govuk-button">
                Clear all filters
            </button>
        </p>
        
        <details class="govuk-details" open="@(Model.EmployerSize.Count > 0)">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Number of employees
                </span>
            </summary>
            <div class="govuk-details__text govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                @{
                    OrganisationSizes[] allOrganisationSizes = (OrganisationSizes[]) Enum.GetValues(typeof(OrganisationSizes));
                }
                @await Html.GovUkCheckboxesFor(
                    m => m.EmployerSize,
                    labelOptions: allOrganisationSizes.ToDictionary(
                        orgSize => orgSize,
                        orgSize => new LabelViewModel
                        {
                            Text = orgSize.GetAttribute<DisplayAttribute>().Name
                        }
                        ),
                    classOptions: new Dictionary<OrganisationSizes, string> {{OrganisationSizes.NotProvided, "gpg-search-page--filter-employerSize--not-provided"}},
                    fieldsetOptions: new FieldsetViewModel
                    {
                        Classes = "gpg-search-page--filter-employerSize--fieldset",
                        Legend = new LegendViewModel
                        {
                            Html = @<text></text>
                        }
                    }
                )
            </div>
        </details>        
    </div>
    
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
            Search results
        </h2>
    </div>
</div>
