@model GenderPayGap.IdentityServer4.Models.Account.LoggedOutViewModel

@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
    ViewData["PageTitle"] = "Sign out - Gender pay gap reporting service - GOV.UK";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight">
            <h1 class="bold-large">Signed Out</h1>
        </div>
        <p>You are now signed out of the @(Model.ClientName ?? "Gender pay gap reporting service").</p>

        @if (Model.PostLogoutRedirectUri != null)
        {
            <div>
                <div class="subsection panel-indent">
                    <div class="bold-small">Click the button below to return to the <span>@Model.ClientName</span></div>
                </div>

                <p></p>
                <a class="button" href="@Model.PostLogoutRedirectUri" role="button">Continue</a>
            </div>
        }
        else
        {
            <div hide="model.redirectUrl">
                <div class="subsection panel-indent">
                    <div class="bold-small">Click the button below to sign in again</div>
                </div>

                <p></p>
                <a class="button" href="/manage-organisations" role="button">Sign In</a>
            </div>
        }
    </div>
</div>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}