@using GenderPayGap.IdentityServer4.Classes
@model GenderPayGap.IdentityServer4.Models.Account.LoginViewModel
@{
    ViewData["PageTitle"] = "Sign in - Gender pay gap reporting service - GOV.UK";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <partial name="/Views/Shared/CovidMessage.cshtml"/>
    </div>
</div>

<div class="grid-row">

    <div class="column-two-thirds">

        @if (ViewData.ModelState.ErrorCount > 0)
        {
            @await Html.CustomValidationSummaryAsync(validationSummaryMessage: "There’s a problem with your email address or password")
        }
        
        <h1 class="heading-large">
            Sign in
        </h1>
        <p>
            If you have a user account, enter your email address and password. After signing into your 
            account you can add an organisation or manage your existing organisations.
        </p>
        <p class="notice">
            <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
            </i>
            <strong class="bold-small">
                If you add an organisation to your account it may take up to three weeks to verify
            </strong>
        </p>   

        <form asp-route="Login">
            <input type="hidden" asp-for="ReturnUrl"/>

            <anti-forgery-token token="model.antiForgery"></anti-forgery-token>
            <fieldset>
                <legend class="visuallyhidden">Sign in</legend>
                <div class="form-group ">
                    <label asp-for="Username" class="form-label">Email</label>
                    <input type="email" class="form-control" asp-for="Username" autofocus maxlength="100" autocomplete="off" required>
                </div>
                <div class="form-group ">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input type="password" class="form-control" asp-for="Password" maxlength="100" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <button class="button dynamic-content default-content alert manual" name="button" value="login">Sign In</button>
                </div>
            </fieldset>
        </form>
        
        <a id="forgotten-password" href="/Register/password-reset">Reset your password</a>
        
        <h2 class="heading-medium">
            Don't have a user account?
        </h2>
        <p>If you're new to the service you will need to create an account. This will allow you to add 
            organisations or manage existing ones. 
        </p>
        <p>
            <a href="/create-user-account">Create a user account</a>
        </p>
        
        <div class="panel panel-border-wide">
            <p>
                You will need to create your own user account even if someone else has previously reported your
                organisation's gender pay gap.
            </p>
        </div>
    </div>

</div>