<p>
    To build better evidence, we encourage researchers and employers to evaluate the actions they take to improve gender equality in the workplace.
</p>

<p>
    The Government Equalities Office will be working with employers to build more evidence on what works.
    If you represent an organisation with 4000 or more employees in the UK and would like to partner with us, please contact the Gender and Behavioural Insights programme <a href="mailto:gabiprogramme@bi.team">gabiprogramme@bi.team</a>
    <br/>
    This is a programme run by the Behavioural Insights Team for the Government Equalities Office.
</p>