@using Newtonsoft.Json
@using GenderPayGap.Core
@using GenderPayGap.Core.Helpers
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.ManageOrganisations.AllOrganisationReportsViewModel

@{
    ViewBag.Title = "View all your employers reports - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
    var organisation = Model.Organisation;
    // Breadkcrumbs for going back
    // All reports header
    // for [Organisation name]
    // filter (requires main table to exist with class name that matches)
    // main table
    // Pagination
    
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            Manage your employer's reporting
            <br>
            <span class="govuk-!-font-size-27">
                for @(Model.Organisation.OrganisationName)
            </span>
        </h1>
    </div>
    <div class="filteringArea">
        <input type="hidden" id="selectOptionsFromReports"
               value=@JsonConvert.SerializeObject(
                         organisation.GetRecentReports(
                             Global.ShowReportYearCount)
                             .Select(
                                 report => report.GetReportingPeriod())
                             .ToArray())>
    </div>
    @{
        var desktopHeader = new TableRowViewModel
        {
            Row = new List<TableCellViewModel>
            {
                new TableCellViewModel
                {
                    Html = @<text>
                               <div>
                                   <div class="govuk-grid-column-one-quarter govuk-!-padding-left-0">
                                       <h3 class="heading-medium govuk-!-margin-top-0 govuk-!-margin-bottom-0 ">Snapshot date</h3>
                                   </div>
                                   <div class="govuk-grid-column-one-quarter govuk-!-padding-left-0">
                                       <h3 class="heading-medium govuk-!-margin-top-0 govuk-!-margin-bottom-0 govuk-employer-table-right">Reporting requirements</h3>
                                   </div>
                                   <div class="govuk-grid-column-one-quarter govuk-!-padding-left-0">
                                       <h3 class="heading-medium govuk-!-margin-top-0 govuk-!-margin-bottom-0 govuk-employer-table-right">Report Status</h3>
                                   </div>
                                   <div class="govuk-grid-column-one-quarter govuk-!-padding-left-0">
                                   </div>
                               </div>
                            </text>
                }
            }
        };
        var allDesktopRows = organisation
            .GetRecentReports(Global.ShowReportYearCount)
            .Select
            (
                report => new TableRowViewModel
                {
                    Row = new List<TableCellViewModel>
                    {
                        new TableCellViewModel
                        {
                            Html = @<text>
                                       <p>
                                           @report.GetReportingPeriod()
                                       </p>
                                    </text>
                        }
                    }
                }
            )
            .ToList();
        var allMobileRows = new List<TableRowViewModel>();
        var dateJoinedRow = new TableRowViewModel
        {
            Row = new List<TableCellViewModel>
            {
                new TableCellViewModel
                {
                    Html = @<text>
                               @await Html.GovUkHint(
                                   new HintViewModel
                                   {
                                       Text = "Employer joined Gender Pay Gap service on " + @Model.Organisation.Created.ToString("dd/MM/yyyy"),
                                       Classes = "govuk-!-margin-top-4 govuk-!-text-align-centre"
                                   })
                            </text>
                }
            }
        };
        
        var indexOfCompanyJoined = organisation.GetRecentReports(Global.ShowReportYearCount).ToList().FindIndex(report => Model.Organisation.Created > ReportingYearsHelper.GetDeadlineForAccountingDate(report.AccountingDate));
        if(indexOfCompanyJoined >= 0)
        {
            allMobileRows.Insert(indexOfCompanyJoined, dateJoinedRow);
            allDesktopRows.Insert(indexOfCompanyJoined, dateJoinedRow);
        }
        else
        {
            allMobileRows.Add(dateJoinedRow);
            allDesktopRows.Add(dateJoinedRow);
        }
        
        var currentPage = Model.CurrentPage ?? 1;
        var entriesPerPage = Model.EntriesPerPage ?? 10;
        var startIndex = (currentPage - 1) * entriesPerPage;
        var endIndex = startIndex + entriesPerPage > allDesktopRows.Count ? allDesktopRows.Count : startIndex + entriesPerPage;
                
        var desktopDisplayRows = new List<TableRowViewModel>();
        var mobileDisplayRows = new List<TableRowViewModel>();
                    
        for (int i = startIndex; i < endIndex; i++)
        {
            //mobileDisplayRows.Add(allMobileRows[i]);
            desktopDisplayRows.Add(allDesktopRows[i]);
        }
        
        if (desktopDisplayRows.Count > 0)
        {
            desktopDisplayRows.Insert(0,desktopHeader);
        }
    }
    
    @await Html.GovUkTable(new TableGovUkViewModel
        {
            Head = new List<TableCellViewModel>(),
            Rows = desktopDisplayRows,
            Classes = "gpg-govuk-hideOnMobile"
        })
    
    @{
        var nextLink = new PaginationLinkViewModel()
        {
            Text = "Next page",
            LabelText = $"{Model.CurrentPage + 1} of {Model.TotalPages}",
            // Href = Url.Action("Employer", new {employerIdentifier, page = Model.CurrentPage + 1})
        };
    
        var previousLink = new PaginationLinkViewModel()
        {
            Text = "Previous page",
            LabelText = $"{Model.CurrentPage - 1} of {Model.TotalPages}",
            // Href = Url.Action("Employer", new {employerIdentifier, page = Model.CurrentPage - 1})
        };
    
        // if (Model.TotalPages < 2 || Model.CurrentPage == Model.TotalPages)
        //     nextLink = null;
        // if (Model.CurrentPage < 2)
        //     previousLink = null;
    }
    @await Html.GovUkPagination(new PaginationViewModel()
        {
            Next = nextLink,
            Previous = previousLink,
        })
</div>

<script>
    //var parentForSelect = document.getElementById("filteringArea");
    //    
    //    var selectLabel = document.createElement("label");
    //    selectLabel.className = "govuk-label";
    //    selectLabel.for = "yearFilter";
    //    selectLabel.textContent = "Filter for a reporting period";
    //    
    //    var elements = document.getElementsByClassName("yearTextForFiltering");
    //    
    //    var selectList = document.createElement("select");
    //    selectList.className = "govuk-select govuk-!-margin-bottom-3";
    //    selectList.id = "filterYearSelect";
    //    selectList.addEventListener("change",function (e){
    //        for (var i = 0; i < elements.length; i++){
    //            var tableRow = elements[i].closest("tr");
    //            tableRow.hidden = true;
    //            
    //            if (elements[i].innerHTML.includes(e.target.value) || e.target.value === "Show All"){
    //                tableRow.hidden = false;
    //            }
    //        }
    //    }) 
    //    
    //    var selectHint = document.createElement("div");
    //    selectHint.className = "govuk-hint";
    //    selectHint.textContent = "For example, if the snapshot date is 5 April 2017 but the deadline is 4 April 2018 then the reporting period is 2017 - 2018.";
    //   
    //    parentForSelect.appendChild(selectLabel);
    //    parentForSelect.appendChild(selectList);
    //    parentForSelect.appendChild(selectHint);
    //
    //    var showAll = document.createElement("option");
    //    showAll.value = "Show All";
    //    showAll.text = "Show All";
    //    showAll.selected = true;
    //    selectList.appendChild(showAll);
    //    
    //    var arrayOfYears = JSON.parse(document.getElementById("selectOptionsFromReports").value);
    //    for (var i = 0; i < arrayOfYears.length; i++){
    //         var option = document.createElement("option");
    //         option.value = arrayOfYears[i];
    //         option.text = arrayOfYears[i];
    //         selectList.appendChild(option);
    //    }
</script>



