@using GenderPayGap.Core
@using GenderPayGap.Database
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.ManageOrganisations.ManageOrganisationViewModel

@{
    ViewBag.Title = "Manage your employers - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Manage Employers",
                Href = Url.Action("ManageOrganisationsGet", "ManageOrganisations")
            },
            new CrumbViewModel
            {
                Text = Model.Organisation.OrganisationName
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            Manage your employer's reporting
            <br>
            <span class="govuk-!-font-size-27">
                for @(Model.Organisation.OrganisationName)
            </span>
        </h1>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Need to make changes to your employer's details?
                </span>
            </summary>
            <div class="govuk-details__text">
                If you are a private or voluntary employer and need to change your employer name, sector information,
                or address you should do this via Companies House. Changes you make will automatically be reflected on this service. 
                If this information is not available on Companies House, please contact 
                <a href="mailto:@(Global.GpgReportingEmail)" class="govuk-link">
                    @Global.GpgReportingEmail
                </a>
            </div>
        </details>
        
        @{
            await Html.RenderPartialAsync("OrganisationReportsTable", Model);

            <div class="govuk-!-margin-bottom-6">
                <p>
                    <a href="" class="govuk-!-font-size-19 govuk-link govuk-!-font-weight-bold">See all reports</a> <!--TODO: GPG-916: Point this link to the manage all reports page when that is created-->
                </p>
            </div>
            await Html.RenderPartialAsync("UsersRegisteredToReportForOrganisation", Model);
        }
        
        <h2 class="govuk-heading-l">
            Registered Address
        </h2>
        <p class="govuk-body">
            @foreach (string addressLine in Model.Organisation.GetLatestAddress().GetAddressLines())
            {
                @(addressLine)<br/>
            }
        </p>


    </div>
</div>

