@using GenderPayGap.Core
@using GenderPayGap.Core.Classes
@using GenderPayGap.Database
@using GenderPayGap.WebUI.Classes.Formatters
@using GenderPayGap.WebUI.Helpers
@using GenderPayGap.WebUI.Models.Organisation
@model GenderPayGap.WebUI.Models.Organisation.ManageOrganisationViewModel

@{
    ViewBag.Title = "Manage your organisations - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        await Html.RenderPartialAsync("../Components/Navigation/AccountTabs");
    }
    
    <div class="govuk-!-margin-top-3">
        @{
            await Html.RenderPartialAsync("../Components/CovidMessage");
        }
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Reporting as @Model.Organisation.OrganisationName</span>
        <h1 class="govuk-heading-xl">Manage your organisation's reporting</h1>
        
        <dl>
            <dt class="govuk-body govuk-!-font-weight-bold">
                Address
            </dt>
            <div>
                <dt class="govuk-caption-m govuk-!-font-size-16">
                    @Html.Raw(Model.Organisation.GetLatestAddress()?.GetAddressString("&#44;<br/>"))
                </dt>
            </div>
        </dl>
        
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Need to make changes to your organisation details?
                </span>
            </summary>
            <div class="govuk-details__text">
                If you are a private or voluntary organisation and need to change your organisation name, sector information,
                or address you should do this via Companies House. Changes that you make will automatically be reflected on this site. 
                If this information is not available on Companies House, please contact 
                <a href="mailto:@(Global.GpgReportingEmail)" class="govuk-link">
                    @Global.GpgReportingEmail
                </a>
            </div>
        </details>
        
        <h2 class="govuk-heading-l">Manage reports</h2>
        @{
            await Html.RenderPartialAsync("OrganisationReportsTable", new OrganisationReportsViewModel
            {
                Organisation = Model.Organisation,
                YearsWithDraftReturns = Model.YearsWithDraftReturns
            }); 
            
        }
    </div>
</div>

