@using GenderPayGap.Core
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Organisation.ManageOrganisationViewModel

@{
    ViewBag.Title = "Manage your organisations - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Manage Organisations",
                Href = Url.Action("ManageOrganisationsGet", "ManageOrganisations")
            },
            new CrumbViewModel
            {
                Text = Model.Organisation.OrganisationName
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
    
    <div class="govuk-!-margin-top-3">
        @{
            await Html.RenderPartialAsync("../Components/CovidMessage");
        }
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            Manage your organisation's reporting
            <br>
            <span class="govuk-!-font-size-27">
                for @(Model.Organisation.OrganisationName)
            </span>
        </h1>
        
        <dl>
            <dt class="govuk-body govuk-!-font-weight-bold">
                Address
            </dt>
            <dd class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-left-0">
                @Html.Raw(Model.Organisation.GetLatestAddress()?.GetAddressString("&#44;<br/>"))
            </dd>
        </dl>
        
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Need to make changes to your organisation details?
                </span>
            </summary>
            <div class="govuk-details__text">
                If you are a private or voluntary organisation and need to change your organisation name, sector information,
                or address you should do this via Companies House. Changes that you make will automatically be reflected on this site. 
                If this information is not available on Companies House, please contact 
                <a href="mailto:@(Global.GpgReportingEmail)" class="govuk-link">
                    @Global.GpgReportingEmail
                </a>
            </div>
        </details>
        
        <h2 class="govuk-heading-l">Manage reports</h2>
        @{
            await Html.RenderPartialAsync("OrganisationReportsTable", Model);
        }
        
        <h2 class="govuk-heading-l">Registered users</h2>

        @{
            var usersRegisteredToReportForOrganisation = Model.Organisation.UserOrganisations.Where(uo => uo.PINConfirmedDate.HasValue).Select(uo => uo.User).Distinct().ToList();
        }
        @if (usersRegisteredToReportForOrganisation.Count == 0)
        {
            <p class="govuk-body">
                You are the only person registered to report for this organisation.
            </p>
            <p class="govuk-body">
                If you remove yourself:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>You will not be able to report for this organisation</li>
                <li>Someone else must register this organisation to report - this can take up to a week</li>
                <li>Your account will remain open</li>
            </ul>
        } else
        {
            <p class="govuk-body">
                The following people are registered to report gender pay gap data for this organisation. 
            </p>

            await Html.RenderPartialAsync("UsersRegisteredToReportForOrganisation", Model);
        }

    </div>
</div>

