@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Organisation.ManageOrganisationsViewModel

@{
    ViewBag.Title = "Manage your organisations - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <partial name="/Views/Components/CovidMessage.cshtml"/>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-padding-top-4">
            Select an organisation
        </h1>
    </div>
</div>
