@import "../../assets/stylesheets/accessible-autocomplete.min";

.autocomplete__input {
  background-color: govuk-colour("white");
  width: 100%;
  height: 50px;
  border: 2px solid $govuk-border-colour;
}

.autocomplete__option {
  padding: 7.5px;
  margin: 0;
  text-transform: uppercase;
  @extend .govuk-body;
  
  .previous-name-marker {
    color: $govuk-secondary-text-colour;
    text-transform: lowercase;
    
    .previous-name {
      text-transform: uppercase;
    }
  }

  &:hover {
    background-color: govuk-colour("blue");
    color: govuk-colour("white");
    
    .previous-name-marker {
      color: govuk-colour("white");
    }
  }
}

.autocomplete__option--focused {
  background-color: govuk-colour("blue");
  color: govuk-colour("white");

  .previous-name-marker {
    color: govuk-colour("white");
  }
}
