
.account-tabs {
    border-bottom: 1px solid $govuk-border-colour;

    ul {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            padding: 0 15px;
            line-height: 40px;

            &.account-tab--selected {
                border-bottom: 4px solid $govuk-link-colour;
            }

            a {
                font-weight: 700;
                text-decoration: none;
            }
        }
    }
}
