
.gpg-compare-table-static-wrapper {
    position: relative;
    width: calc(min(100vw, 1500px));
    margin-left: calc(50% - min(100vw, 1500px)/2);
    padding: 0 5px;

    .gpg-compare-table-scroll-wrapper {
        overflow-x: auto;
        overscroll-behavior-x: none;
        display: flex;
        position: relative;

        .gpg-compare-table {
            font-size: 16px;

            .gpg-compare-table-cell {
                text-align: center;
                vertical-align: middle;
                padding: 10px;

                &.gpg-compare-table-cell--border-left {
                    border-left: 1px solid govuk-colour("mid-grey");
                }
            }
        }
        
        .gpg-compare-table-scroll-indicator-hider {
            background: govuk-colour("white");
            z-index: 4;
            width: 60px;
            flex-shrink: 0;
        }
    }
    
    .gpg-compare-table-scroll-indicator {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 5px;
        width: 50px;
        background: #ccc;
        z-index: 3;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        
        p {
            margin: 0 12px;
        }
    }
}
