.horizontal-bar-chart__section {
  margin: 50px 0 100px;
}

.horizontal-bar-chart__figure {
  margin: 0;
  position: relative;
  
  .horizontal-bar-chart__title {
    margin: 10px 0;
  }
  
  .horizontal-bar-chart__bar {
    height: 30px;
  }
  
  .horizontal-bar-chart__bar--women {
    background-color:  govuk-colour("blue");
  }

  .horizontal-bar-chart__bar--men {
    background-color:  govuk-colour("brown");
  }

  .horizontal-bar-chart__bar--empty {
    height: 34px;
    border: 2px govuk-colour("dark-grey") solid;
  }

  .horizontal-bar-chart__footer {
    margin: 10px 0 55px;
    
    .horizontal-bar-chart__label--left {
      position: absolute;
      left: 0;
    }

    .horizontal-bar-chart__label--right {
      position: absolute;
      right: 0;
    }
  }
  
  .horizontal-bar-chart__footer--separated-women {
    margin-bottom: 50px;
  }

  .horizontal-bar-chart__footer--separated-men {
    margin-bottom: 70px;
  }
}
