.horizontal-bar-chart {
    .horizontal-bar-chart__bar--wide {
        height: 20px;

        @media (min-width: map-get($govuk-breakpoints, 'tablet')) {
            height: 25px;
        }
    }

    .horizontal-bar-chart__bar--narrow {
        box-sizing: content-box;
        height: 15px;

        @media (min-width: map-get($govuk-breakpoints, 'tablet')) {
            height: 20px;
        }
    }

    .horizontal-bar-chart__bar {
        .horizontal-bar-chart__bar {
            height: 100%;
        }
    }

    .horizontal-bar-chart__bar--women {
        background-color: govuk-colour("blue");
    }

    .horizontal-bar-chart__bar--men {
        background-color: govuk-colour("brown");
    }

    .horizontal-bar-chart__bar--empty {
        border: 2px govuk-colour("dark-grey") solid;
    }
}
