
.guidance-related-content {
    .related-content-section-break {
        border-bottom-color: govuk-colour("blue");
        border-bottom-width: 2px;
        margin-bottom: 10px;
    }

    .related-content-list {
        li {
            margin-bottom: 15px;

            @media (min-width: map-get($govuk-breakpoints, 'tablet')) {
                margin-bottom: 20px;
            }
        }
    }
}

.guidance-warning-text {
    @extend .govuk-warning-text;
    padding: 30px;
    background: govuk-colour("light-grey");

    .guidance-warning-text__icon {
        @extend .govuk-warning-text__icon;
        margin: -5px 0 0 30px;
        min-width: 35px;
        min-height: 35px;
        font-size: 30px;
        padding: 0;
        top: auto;
    }

    .guidance-warning-text__text {
        @extend .govuk-warning-text__text;
        margin-bottom: 20px;

        @media (min-width: map-get($govuk-breakpoints, 'tablet')) {
            margin-bottom: 30px;
        }
    }

    :last-child {
        margin-bottom: 0;
    }
}

.guidance-list-with-dashes {
    li {
        position: relative;
        padding-left: 20px;

        &:before {
            content: "–";
            position: absolute;
            left: 0;
            width: 20px;
            overflow: hidden;
        }
    }
}

.print-link {
    background: url(../../assets/images/icon-print.png) no-repeat 0 50%;
    padding: 0.5em 0 0.5em 1.75em;
}

.pdf-preview {
    
    .pdf-preview__image {
        width: 80px;

        @media (min-width: map-get($govuk-breakpoints, 'tablet')) {
            float: left;
        }
    }
    
    .pdf-preview__text {
        margin-left: 1em;
        width: 200px;

        @media (min-width: map-get($govuk-breakpoints, 'tablet')) {
            float: left;
        }
    }
}
