.section-break__guidance-update-details {
  margin-bottom: 10px;
}

.guidance-update-details, .update-records {
  margin-bottom: 30px;
  
  .govuk-body-s {
    margin-bottom: 0px;
  }
}

.section-break__related-content {
  border-bottom-color: govuk-colour("blue");
  margin-bottom: 10px;
}

.link-list__related-content {
  li {
    margin-bottom: 20px;
  }
}