.hero-banner{
  margin: 0 calc((100vw - 100%)/-2) 15px;
  padding: 15px calc((100vw - 100%)/2);
  background-color: govuk-colour("blue");
  border: none;
  
  .hero-banner-content{
      color: govuk-colour("white");
    
      &:focus {
        color: govuk-colour("black");
      }
  }
}