.action-step {
  position:relative;
  padding-bottom:10px
}

.action-step .icon {
  vertical-align:text-top;
  position:absolute
}

.action-step h3,.action-step p,.action-step ul {
  padding-left:30px
}

.icon {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
}

@mixin is-number-icon($number) {
  width: 23px;
  height: 23px;
  background-image: url("../../public/images/icon-steps/icon-step-#{$number}.png");

  @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:20 / 10),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx) {
    background-image: url("../../public/images/icon-steps/icon-step-#{$number}-2x.png");
    background-size: 100%;
  }
}

@for $i from 1 through 14 {
  .icon-step-#{$i} {
    @include is-number-icon($i);
  }
}