$icon-size: 23px;

.action-steps {
  padding-bottom: 10px;

  ol {
    position: relative;
    list-style: none;
    counter-reset: action-step-counter;
    padding-left: 35px;

    > h3 {
      margin-left: 30px;
    }

    > li {
      counter-increment: action-step-counter;
      
      &::before {
        content: counter(action-step-counter);
        position: absolute;
        line-height: $icon-size;
        font-size: small;
        text-align: center;
        width: $icon-size;
        height: $icon-size;
        color: $govuk-body-background-colour;
        background: $govuk-text-colour;
        border-radius: 50%;
        left: 0;
      }
    }
  }
}