.pagination-link {
  color: $govuk-link-colour;
  text-decoration: none;
  
  .pagination-link-title {
    display: block;
    border: none;
    margin: 0 0 10px;
    padding: 0;
  }
  
  .pagination-link-text {
    box-sizing: border-box;
    font-size: 19px;
    font-weight: bold;
  }
  
  .pagination-link-label {
    display: block;
    margin-top: .1em;
    text-decoration: underline;
  }

  .pagination-link-icon {
    margin-right: 15px;
  }
  
  .pagination-link-wrapper {
    background-color: inherit;
    margin-bottom: 25px;
  }
  
}

@media only screen and (min-width: 700px) {
  .pagination-link.right-arrow {
    .pagination-link-title {
      text-align: right;
    }

    .pagination-link-label {
      text-align: right;
      margin-left: 22px;
    }
  }
}

.pagination-link.left-arrow {
  .pagination-link-label {
    margin-left: 0;
  }
}
