
$pay-comparison-vertical-bar-chart--men-color: #12436d;
$pay-comparison-vertical-bar-chart--women-color: #28a197;
$pay-comparison-vertical-bar-chart--coin-size: 56px;
$pay-comparison-vertical-bar-chart--font-size: 16px;

.pay-comparison-vertical-bar-chart {
    margin: 10px 0;

    .pay-comparison-vertical-bar-chart-more-or-less {
        display: flex;
        justify-content: center;

        .pay-comparison-vertical-bar-chart-more-or-less-inner {
            width: $pay-comparison-vertical-bar-chart--coin-size;
            margin: 3px;
            font-size: $pay-comparison-vertical-bar-chart--font-size;
            text-align: center;
        }

        .pay-comparison-vertical-bar-chart-more-or-less-arrow {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-width: 2px;
            border-style: solid;
            border-top-color: #0b0c0c;
            border-right-color: #0b0c0c;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
    }
    
    .pay-comparison-vertical-bar-chart-bars {
        display: flex;
        justify-content: center;
        align-items: end;
        height: 120px;

        .pay-comparison-vertical-bar-chart-bar {
            width: $pay-comparison-vertical-bar-chart--coin-size;
            margin: 3px;

            &.pay-comparison-vertical-bar-chart-bar--women {
                background-color: #28A197;
                height: 50%;
            }

            &.pay-comparison-vertical-bar-chart-bar--men {
                background-color: #12436D;
                height: 100%;
            }
        }
    }

    .pay-comparison-vertical-bar-chart-coins {
        display: flex;
        justify-content: center;

        .pay-comparison-vertical-bar-chart-coin {
            width: $pay-comparison-vertical-bar-chart--coin-size;
            height: $pay-comparison-vertical-bar-chart--coin-size;
            margin: 3px;
            text-align: center;
            line-height: $pay-comparison-vertical-bar-chart--coin-size - 9px;
            font-size: $pay-comparison-vertical-bar-chart--font-size;
            border-width: 4px;
            border-style: solid;
            border-radius: 50%;

            &.pay-comparison-vertical-bar-chart-coin--women {
                border-color: #28A197;
            }

            &.pay-comparison-vertical-bar-chart-coin--men {
                border-color: #12436D;
            }
        }
    }
    
    .pay-comparison-vertical-bar-chart-captions {
        display: flex;
        justify-content: center;
        
        .pay-comparison-vertical-bar-chart-caption {
            width: $pay-comparison-vertical-bar-chart--coin-size;
            margin: 3px;
            font-size: $pay-comparison-vertical-bar-chart--font-size;
            text-align: center;
            white-space: nowrap;
        }
    }
}
