// A fix to make the warning icon appear circular rather than oval
.govuk-warning-text {
    .govuk-warning-text__icon {
        margin-top: -5px;
        min-width: 35px;
        min-height: 35px;
        font-size: 30px;
        padding: 0;
        top: auto;
    }
}