
.gpg-yesno {
    position: relative;
    padding-left: 1.7em;

    &.gpg-yesno--yes:before,
    &.gpg-yesno--no:before,
    &.gpg-yesno--no:after {
        content: "";
        position: absolute;
        border: solid;
    }

    &.gpg-yesno--yes:before {
        border-width: 0 0 .2em .2em;
        width: 1em;
        height: .5em;
        left: 0;
        top: 0.1em;
        transform: rotate(-45deg);
    }

    &.gpg-yesno--no:before {
        border-width: .2em 0 0 0;
        width: 1.25em;
        height: 0;
        left: 0;
        top: 0.5em;
        transform: rotate(-45deg);
    }

    &.gpg-yesno--no:after {
        border-width: 0 0 .2em 0;
        width: 1.25em;
        height: 0;
        left: 0;
        top: 0.5em;
        transform: rotate(45deg);
    }
}
