@model GenderPayGap.WebUI.Models.Search.SearchViewModel
<div id="SearchByKeywordsGroup" class="form-group" style="position: relative;">
    <h1 class="heading-large">
        Search by <span class="visuallyhidden">either employer name or SIC code</span>
    </h1>
    <fieldset class="inline">
        <legend class="visually-hidden">
            Select how you want to search: either by employer name or by Sector (SIC code)
        </legend>

        <div class="multiple-choice">
            <input 
                id="rdoEmployerName"
                type="radio" 
                name="t" 
                value="1" 
                onclick="searchTypeRadioButtonClicked(this.value);" 
                @(!string.IsNullOrEmpty(Model.t) && Model.t == "1" ? "checked" : "")/>
            <label for="rdoEmployerName">Employer name</label>
        </div>
        <div class="multiple-choice">
            <input 
                id="rdoBySectorType" 
                type="radio" 
                name="t" 
                value="2" 
                onclick="searchTypeRadioButtonClicked(this.value);" 
                @(!string.IsNullOrEmpty(Model.t) && Model.t == "2" ? "checked" : "")/>
            <label for="rdoBySectorType">Employer type or SIC code</label>
        </div>

        <div class="panel panel-border-wide">
            <div class="font-xsmall">
                Search by employer or industry type, eg banks, supermarkets, law firms. You can
                also search by SIC codes which provide an easy way of describing what an employer does.
                <a href="https://resources.companieshouse.gov.uk/sic/" target="_blank" rel="noopener">Find SIC codes
                    <span class="visually-hidden">(opens in a new window)</span>
                </a>
            </div>
        </div>

    </fieldset>

    <fieldset>
        <div class="gov-uk-c-searchbar">
            <div class="gov-uk-l-searchbar__table">
                <div class="gov-uk-l-searchbar__cell">
                    <label id="SearchInputLabel"for="FinderKeywords" class="visuallyhidden">
                        @(!string.IsNullOrEmpty(Model.t) && Model.t == "1" 
                            ? "Search by employer name" : "Search by employer type or SIC code")
                    </label>
                    <input class="gov-uk-c-searchbar__input" type="text" autocomplete="off" name="search" id="FinderKeywords" value="@(Model.search)">
                </div>
                <div class="gov-uk-l-searchbar__cell">
                    <button class="gov-uk-c-searchbar__submit gov-uk-c-searchbar__submit--blue" id="NextStep" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<div class="viewing-search-orderby">
    <fieldset class="govuk-fieldset">
        <div class="govuk-radios govuk-radios--small govuk-radios--inline">
            <div class="govuk-radios__item" style="padding-left: 0;">
                <legend class="govuk-body govuk-!-font-weight-bold" style="padding-top: 7px;">
                    Order:
                </legend>
            </div>
            <div class="govuk-radios__item" style="margin-right: 0;">
                <input class="govuk-radios__input" id="changed-name" name="orderBy" type="radio" value="relevance"
                       @{if (Model.OrderBy == "relevance") { <text> checked </text>}}
                       onchange="submitSearchForm();">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                    By relevance
                </label>
            </div>
            <div class="govuk-radios__item" style="margin-right: 0;">
                <input class="govuk-radios__input" id="changed-name-2" name="orderBy" type="radio" value="alphabetically"
                       @{if (Model.OrderBy == "alphabetically") { <text> checked </text>}}
                       onchange="submitSearchForm();">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    Alphabetically
                </label>
            </div>
        </div>
    </fieldset>
</div>

<script>
    function searchTypeRadioButtonClicked(radioValue) {
        var element = document.getElementById("SearchInputLabel");
        if (radioValue == 1) {
            element.textContent = "Search by employer name";
        }
        if (radioValue == 2) {
            element.textContent = "Search by employer type or SIC code";
        }
    }

    function submitSearchForm() {
        document.getElementById('FinderForm').submit();
    }
                
</script>
