<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CustomErrorMessages" type="GenderPayGap.Core.Classes.ErrorMessages.CustomErrorMessagesSection, GenderPayGap.Core" />
  </configSections>
  <CustomErrorMessages>
    <!-- On Page Errors -->
    <CustomErrorMessage code="0" title="Something’s gone wrong" description="Please try again later" default="true"/>
    <CustomErrorMessage code="310" title="Too many redirects" description="Too many redirects occurred to while attempting authentication" callToAction="Please sign out of the system and try again" actionUrl="/logout" actionText="Log Out"/>
    <CustomErrorMessage code="400" title="Something’s gone wrong" description="Please try again later"/>
    <CustomErrorMessage code="401" title="Something’s gone wrong" description="Please sign out and sign in again to continue" actionUrl="/logout" actionText="Sign in"/>
    <CustomErrorMessage code="403" title="Something’s gone wrong" description="Please use your browser’s ‘Back’ button to return to the previous step"/>
    <CustomErrorMessage code="404" title="We can’t find the page you need" description="Please use your browser’s ‘Back’ button to return to the previous step"/>
    <CustomErrorMessage code="410" title="This page is no longer available" description="The data for the page you requested is no longer available"/>
    <CustomErrorMessage code="408" title="Something’s gone wrong" description="Please use your browser’s ‘Back’ button to return to the previous step"/>
    <CustomErrorMessage code="429" title="Something’s gone wrong" description="Please try again later"/>
    <CustomErrorMessage code="500" title="Something’s gone wrong" description="Please try again later"/>
    <CustomErrorMessage code="501" title="Something’s gone wrong" description="Please try again later"/>
    <CustomErrorMessage code="1000" title="You’re not signed in properly" description="Please sign out and sign in again to continue" callToAction="Sign out" actionUrl="/logout"/>
    <CustomErrorMessage code="1001" title="You’re not signed in properly" description="Please sign out and sign in again to continue" callToAction="Sign out" actionUrl="/logout"/>
    <CustomErrorMessage code="1002" title="You’re not signed in" description="Please sign in to continue" callToAction="Sign in" actionUrl="/Home/Login"/>
    <CustomErrorMessage code="1003" title="Something’s gone wrong" description="Please try again later"/>
    <CustomErrorMessage code="1100" title="You haven’t verified your email address yet" description="Please verify your email address to continue"/>
    <CustomErrorMessage code="1101" title="You haven’t verified your email address yet" description="The verification code we sent to you has expired. You’ll need to get a new verification email to continue"/>
    <CustomErrorMessage code="1102" title="You haven’t verified your email address yet" description="Please check your email and junk mail folder."/>
    <CustomErrorMessage code="1103" title="You haven’t verified your email address yet" description="Please check your email and junk mail folder."/>
    <CustomErrorMessage code="1104" title="We need more information about your organisation" callToAction="Tell us about your organisation" actionUrl="/Register/organisation-type"/>
    <CustomErrorMessage code="1105" title="We need to send you a PIN in the post to complete your registration" callToAction="Get a PIN to finish your registration" actionUrl="/Register/pin-sent"/>
    <CustomErrorMessage code="1106" title="Your PIN has expired" callToAction="Get a replacement PIN" actionUrl="/Register/pin-sent"/>
    <CustomErrorMessage code="1107" title="Please enter your PIN" description="You need to enter your PIN that we sent in the post to complete your registration. If you haven’t got it yet, you can request another one in {remainingTime}" callToAction="Enter your PIN" actionUrl="/Register/activate-service"/>
    <CustomErrorMessage code="1108" title="Your PIN has expired" description="The PIN we sent you in the post has expired" callToAction="Get another PIN" actionUrl="/Register/request-pin"/>
    <CustomErrorMessage code="1109" title="You’re already registered for this service" callToAction="Manage your organisations" actionUrl="/manage-organisations"/>
    <CustomErrorMessage code="1110" title="You’ve made too many attempts to verify your email address" description="Please sign out and try again in {remainingTime}" actionUrl="/logout"/>
    <CustomErrorMessage code="1111" title="You’ve entered the wrong email verification code" description="Please try again using the correct verification code"/>
    <CustomErrorMessage code="1112" title="Something’s gone wrong" description="We need you to tell us about your organisation again" callToAction="Tell us about your organisation" actionUrl="/Register/organisation-type"/>
    <CustomErrorMessage code="1113" title="You’ve entered the incorrect PIN too many times" description="Sign in again and enter your PIN in {remainingTime}" actionUrl="/logout" actionText="Sign out"/>
    <CustomErrorMessage code="1114" title="You’ve entered the wrong registration review code" description="Please try again using the correct registration review code"/>
    <CustomErrorMessage code="1115" title="This registration request isn't valid" description="This registration was previously declined and the user informed by email"/>
    <CustomErrorMessage code="1117" title="Forbidden" description="As an administrator you are not permitted to view this page" />
    <CustomErrorMessage code="1118" title="Something’s gone wrong" description="Please start your search again" callToAction="Find Employers" actionUrl="/Viewing/search-results"/>
    <CustomErrorMessage code="1119" title="Service Unavailable" description="The Gender Pay Gap service is currently unavailable due to maintenance" callToAction="Please try again later" />
    <CustomErrorMessage code="1120" title="It's too soon to request a new PIN" description="Please wait for up to 7 days for your PIN to arrive. You can request another PIN in {remainingTime}" callToAction="Enter your PIN now" actionUrl="/Register/activate-service"/>
    <CustomErrorMessage code="1121" title="You’ve tried to reset your password too many times" description="You can try again in {remainingTime}" />
    <CustomErrorMessage code="1122" title="Something’s gone wrong" description="There was a problem sending your password reset email. Please try again."  />
    <CustomErrorMessage code="1123" title="You’ve entered the wrong password reset code" description="Please try again using the correct password reset code"/>
    <CustomErrorMessage code="1124" title="This password reset request is no longer valid" description="This user account no longer exists. You must register again" callToAction="Create a user account" actionUrl="/create-user-account"/>
    <CustomErrorMessage code="1125" title="Too many attempts" description="You've attempted this action too many times." callToAction="Please try again in {remainingTime}" actionUrl="#"/>
    <CustomErrorMessage code="1126" title="This password reset request has expired" description="Please request a new password reset email." callToAction="Reset password" actionUrl="/Register/password-reset"/>
    <CustomErrorMessage code="1127" title="Password successfully reset" description="Your new password has been accepted." actionUrl="/manage-organisations" actionText="Sign In"/>
    <CustomErrorMessage code="1129" title="Something’s gone wrong" description="We need you to tell us your PIN again" callToAction="Tell us your PIN" actionUrl="/Register/activate-service"/>
    <CustomErrorMessage code="1130" title="We first need to know your organisation" callToAction="Select your organisation" actionUrl="/manage-organisations"/>
    <CustomErrorMessage code="1131" title="Something’s gone wrong" description="There was a problem sending the cancellation email. Please try again."  />
    <CustomErrorMessage code="1132" title="Something’s gone wrong" description="There was a problem sending the acceptance email. Please try again."  />
    <CustomErrorMessage code="1133" title="Too many password resets" description="Too many password resets were recently requested from your internet address." callToAction="Please try again in {remainingTime}" actionUrl="/register/password-reset"/>
    <CustomErrorMessage code="1134" title="Session has expired" description="Your session has expired." />
    <CustomErrorMessage code="1135" title="Address Expired" description="The web address link you entered expired on {expiryDate} and is no longer available." />
    <CustomErrorMessage code="1136" title="Address Unrecognised" description="The web address link you entered is invalid." callToAction="Please try again entering the correct full web address."/>
    <CustomErrorMessage code="1137" title="Security Already Used" description="Your security code has already been used." callToAction="Resend a new security code" actionUrl="/Scope/resend-security-code"/>
    <CustomErrorMessage code="1138" title="Something’s gone wrong" description="We need to reload the page again" actionUrl="#"/>
    <CustomErrorMessage code="1139" title="Update Queued" description="Your update has been successfully queued. Please refresh the page in a few minutes." actionUrl="#"/>
    <CustomErrorMessage code="1140" title="Companies House Unavailable" description="We are having problems connecting to the Companies House service.&lt;br /&gt; Please try again later or use the button below to register your organisation manually." callToAction="Register your organisation manually" actionUrl="/register/add-organisation"/>
    <CustomErrorMessage code="1141" title="We couldn't connect to the Companies House service - please use the 'Search' button to try again."/>
    <CustomErrorMessage code="1142" title="We couldn't connect to the Companies House service - please use the 'Confirm &amp; continue' button to try again."/>
    <CustomErrorMessage code="1143" title="Your references conflict with {conflictCount} existing organisations." description="Consider removing this reference" />
    <CustomErrorMessage code="1144" title="Your security code has expired" description="Enter a new security code" />
    <CustomErrorMessage code="1145" title="This registration request is no longer valid" description="This registration has previously been approved and the user informed by email"/>
    <CustomErrorMessage code="1146" title="Wrong search type" description="The organisation you selected belongs to the public sector." callToAction="Search again while selecting 'Public sector organisation'..." actionUrl="/register/organisation-type" />
    <CustomErrorMessage code="1147" title="Wrong search type" description="The organisation you selected does not belong to the public sector." callToAction="Search again while selecting a private sector organisation..." actionUrl="/register/organisation-type" />
    <CustomErrorMessage code="1148" title="Someone else is registering for this employer" description="You cannot register for this employer while another user is in the process of registering." callToAction="Please try again in {remainingTime}&lt;br /&gt;or contact us if you need to register sooner." actionUrl="#" actionText="Back" />
    <CustomErrorMessage code="1149" title="This employer has been deleted" description="You cannot register for this employer as it has been deleted from our records." callToAction="Please contact us to register this employer." actionUrl="#" actionText="Back" />
    <CustomErrorMessage code="1150" title="Page has expired" description="This page has already been submitted by you and cannot be resubmitted.&lt;br /&gt; &lt;br /&gt; This may also happen when you accidentally double-click on a button." callToAction="Use the button below to return to the previous page and try again..." actionText="Back to previous page" actionUrl="#" />

    <!-- In-line Errors from Data Annotations-->
    <!-- In-line Errors hard coded -->


    <CustomErrorMessage code="2000" validator="RegisterViewModel.EmailAddress:Required" displayName="Email address" title="There's a problem with your email address" description="Please enter your email address" />
    <CustomErrorMessage code="2001" validator="RegisterViewModel.ConfirmEmailAddress:Required" displayName="Confirm your email address" title="There's a problem with your email address" description="Please enter your email address again" />
    <CustomErrorMessage code="2002" validator="RegisterViewModel.ConfirmEmailAddress:Compare" displayName="Confirm your email address" title="There's a problem with your email address" description="The email addresses don't match. Please enter your email address again" />
    <CustomErrorMessage code="2003" validator="RegisterViewModel.FirstName:Required" displayName="First name" title="There's a problem with your personal details" description="Please enter your first name" />
    <CustomErrorMessage code="2004" validator="RegisterViewModel.LastName:Required" displayName="Last name" title="There's a problem with your personal details" description="Please enter your last name" />
    <CustomErrorMessage code="2005" validator="RegisterViewModel.JobTitle:Required" displayName="Job title" title="There's a problem with your personal details" description="Please enter your job title" />
    <CustomErrorMessage code="2006" validator="RegisterViewModel.Password:Required" displayName="Password" title="There's a problem with your personal details" description="Please enter your password" />
    <CustomErrorMessage code="2007" validator="RegisterViewModel.Password:StringLength" displayName="Password" title="There's a problem with your password" description="Your password must be at least {1} characters long" />
    <CustomErrorMessage code="2008" validator="RegisterViewModel.Password:DataType" displayName="Password" title="There's a problem with your password" description="Your password contains invalid characters, please try again" />
    <CustomErrorMessage code="2009" validator="RegisterViewModel.Password:Password" displayName="" title="There's a problem with your password" description="Your password isn't valid, please try again" />
    <CustomErrorMessage code="2010" validator="RegisterViewModel.ConfirmPassword:Required" displayName="Confirm password" title="There's a problem with your password" description="Please enter your password again" />
    <CustomErrorMessage code="2011" validator="RegisterViewModel.ConfirmPassword:DataType" displayName="Confirm password" title="There's a problem with your password" description="Your password contains invalid characters, please enter your password again" />
    <CustomErrorMessage code="2012" validator="RegisterViewModel.ConfirmPassword:Compare" displayName="Confirm your password" title="There's a problem with your password" description="The passwords entries don't match. Please enter your password again" />
    <CustomErrorMessage code="2013" validator="OrganisationViewModel.SearchText:Required" displayName="SearchText" title="There's a problem with your search" description="Please enter an organisation to search for" />
    <CustomErrorMessage code="2014" validator="OrganisationViewModel.SearchText:StringLength" displayName="SearchText" title="There's a problem with your search" description="You must enter an employers name or company number of between 3 and 100 characters" />
    <CustomErrorMessage code="2015" validator="CompleteViewModel.PIN:Required" displayName="Enter pin" title="There’s a problem with your PIN" description="Please enter your PIN" />
    <CustomErrorMessage code="2016" validator="CompleteViewModel.PIN:Pin" displayName="Enter pin" title="There's a problem with your PIN" description="Please enter your PIN, using at least 6 letters or numbers" />
    <CustomErrorMessage code="2017" validator="ReturnViewModel.DiffMeanHourlyPayPercent:Required" displayName="Enter the difference in mean hourly rate" title="There’s a problem with your data entry" description="Please enter your data" />
  <CustomErrorMessage code="2018" validator="ReturnViewModel.DiffMeanHourlyPayPercent:Range" displayName="Enter the difference in mean hourly rate" title="There’s a problem with your data entry" description="Please enter a percentage between -499.99 and 100" />
  <CustomErrorMessage code="2019" validator="ReturnViewModel.DiffMedianHourlyPercent:Required" displayName="Enter the difference in median hourly rate" title="There’s a problem with your data entry" description="Please enter your data" />
  <CustomErrorMessage code="2020" validator="ReturnViewModel.DiffMedianHourlyPercent:Range" displayName="Enter the difference in median hourly rate" title="There’s a problem with your data entry" description="Please enter a percentage between -499.99 and 100" />
  <CustomErrorMessage code="2021" displayName="Enter the difference in mean bonus pay" title="There’s a problem with your data entry" description="Please enter your data" />
  <CustomErrorMessage code="2022" validator="ReturnViewModel.DiffMeanBonusPercent:Range" displayName="Enter the difference in mean bonus pay" title="There’s a problem with your data entry" description="Please enter a percentage lower than or equal to 100" />
  <CustomErrorMessage code="2023" displayName="Enter the difference in median bonus pay" title="There’s a problem with your data entry" description="Please enter your data" />
  <CustomErrorMessage code="2024" validator="ReturnViewModel.DiffMedianBonusPercent:Range" displayName="Enter the difference in median bonus pay" title="There’s a problem with your data entry" description="Please enter a percentage lower than or equal to 100" />
  <CustomErrorMessage code="2025" validator="ReturnViewModel.MaleMedianBonusPayPercent:Required" displayName="Males who received bonus pay" title="There’s a problem with your data entry" description="Please enter your data" />
  <CustomErrorMessage code="2026" validator="ReturnViewModel.MaleMedianBonusPayPercent:Range" displayName="Males who received bonus pay" title="There’s a problem with your data entry" description="Please enter a percentage between 0 and 100" />
  <CustomErrorMessage code="2027" validator="ReturnViewModel.FemaleMedianBonusPayPercent:Required" displayName="Females who received bonus pay" title="There’s a problem with your data entry" description="Please enter your data" />
  <CustomErrorMessage code="2028" validator="ReturnViewModel.FemaleMedianBonusPayPercent:Range" displayName="Females who received bonus pay" title="There’s a problem with your data entry" description="Please enter a percentage between 0 and 100" />
  <CustomErrorMessage code="2029" validator="ReturnViewModel.MaleLowerPayBand:Required" displayName="Male" title="There’s a problem with your data entry" description="Please enter your data" />
  <CustomErrorMessage code="2030" validator="ReturnViewModel.MaleLowerPayBand:Range" displayName="Male" title="There’s a problem with your data entry" description="Please enter a percentage – this must be a positive number" />
  <CustomErrorMessage code="2031" validator="ReturnViewModel.FemaleLowerPayBand:Required" displayName="Female" title="There’s a problem with your data entry" description="Please enter your data" />
  <CustomErrorMessage code="2032" validator="ReturnViewModel.FemaleLowerPayBand:Range" displayName="Female" title="There’s a problem with your data entry" description="Please enter a percentage – this must be a positive number" />
  <CustomErrorMessage code="2033" validator="ReturnViewModel.MaleMiddlePayBand:Required" displayName="Male" title="There’s a problem with your data entry" description="Please enter your data" />
  <CustomErrorMessage code="2034" validator="ReturnViewModel.MaleMiddlePayBand:Range" displayName="Male" title="There’s a problem with your data entry" description="Please enter a percentage – this must be a positive number" />
  <CustomErrorMessage code="2035" validator="ReturnViewModel.FemaleMiddlePayBand:Required" displayName="Female" title="There’s a problem with your data entry" description="Please enter your data" />
  <CustomErrorMessage code="2036" validator="ReturnViewModel.FemaleMiddlePayBand:Range" displayName="Female" title="There’s a problem with your data entry" description="Please enter a percentage – this must be a positive number" />
  <CustomErrorMessage code="2037" validator="ReturnViewModel.MaleUpperPayBand:Required" displayName="Male" title="There’s a problem with your data entry" description="Please enter your data" />
  <CustomErrorMessage code="2038" validator="ReturnViewModel.MaleUpperPayBand:Range" displayName="Male" title="There’s a problem with your data entry" description="Please enter a percentage – this must be a positive number" />
  <CustomErrorMessage code="2039" validator="ReturnViewModel.FemaleUpperPayBand:Required" displayName="Female" title="There’s a problem with your data entry" description="Please enter your data" />
  <CustomErrorMessage code="2040" validator="ReturnViewModel.FemaleUpperPayBand:Range" displayName="Female" title="There’s a problem with your data entry" description="Please enter a percentage – this must be a positive number" />
  <CustomErrorMessage code="2041" validator="ReturnViewModel.MaleUpperQuartilePayBand:Required" displayName="Male" title="There’s a problem with your data entry" description="Please enter your data" />
  <CustomErrorMessage code="2042" validator="ReturnViewModel.MaleUpperQuartilePayBand:Range" displayName="Male" title="There’s a problem with your data entry" description="Please enter a percentage – this must be a positive number" />
  <CustomErrorMessage code="2043" validator="ReturnViewModel.FemaleUpperQuartilePayBand:Required" displayName="Female" title="There’s a problem with your data entry" description="Please enter your data" />
  <CustomErrorMessage code="2044" validator="ReturnViewModel.FemaleUpperQuartilePayBand:Range" displayName="Female" title="There’s a problem with your data entry" description="Please enter a percentage – this must be a positive number" />
  <CustomErrorMessage code="2045" validator="ReturnViewModel.FirstName:Required" displayName="First name" title="There’s a problem with your data entry" description="Please enter a first name" />
  <CustomErrorMessage code="2046" validator="ReturnViewModel.LastName:Required" displayName="Last name" title="There’s a problem with your data entry" description="Please enter a last name" />
  <CustomErrorMessage code="2047" validator="ReturnViewModel.JobTitle:Required" displayName="Job title" title="There’s a problem with your data entry" description="Please enter a job title" />
  <CustomErrorMessage code="2048" validator="OrganisationViewModel.Address1:MaxLength" displayName="Address1" title="There's a problem with your address" description="Enter up to 100 characters" />
  <CustomErrorMessage code="2049" validator="OrganisationViewModel.Address2:MaxLength" displayName="Address2" title="There's a problem with your address" description="Enter up to 100 characters" />
  <CustomErrorMessage code="2050" validator="OrganisationViewModel.Address3:MaxLength" displayName="Address3" title="There's a problem with your address" description="Enter up to 100 characters" />
  <CustomErrorMessage code="2051" displayName="Male" title="There’s a problem with your data entry" description="Please try again - figures for each quartile must add up to 100%" />
  <CustomErrorMessage code="2052" displayName="Female" title="There’s a problem with your data entry" description="Please try again - figures for each quartile must add up to 100%" />
  <CustomErrorMessage code="2053" validator="ReturnViewModel.DiffMeanHourlyPayPercent:RegularExpression" displayName="Enter the difference in mean hourly rate" title="There’s a problem with your data entry" description="Please enter your data to one decimal place using only numbers" />
  <CustomErrorMessage code="2054" validator="ReturnViewModel.DiffMedianHourlyPercent:RegularExpression" displayName="Enter the difference in median hourly rate" title="There’s a problem with your data entry" description="Please enter your data to one decimal place using only numbers" />
  <CustomErrorMessage code="2055" validator="ReturnViewModel.DiffMeanBonusPercent:RegularExpression" displayName="Enter the difference in mean bonus pay" title="There’s a problem with your data entry" description="Please enter your data to one decimal place using only numbers" />
  <CustomErrorMessage code="2056" validator="ReturnViewModel.DiffMedianBonusPercent:RegularExpression" displayName="Enter the difference in median bonus pay" title="There’s a problem with your data entry" description="Please enter your data to one decimal place using only numbers" />
  <CustomErrorMessage code="2057" validator="ReturnViewModel.MaleMedianBonusPayPercent:RegularExpression" displayName="Males who received bonus pay" title="There’s a problem with your data entry" description="Please enter your data  to one decimal place using only numbers" />
  <CustomErrorMessage code="2058" validator="ReturnViewModel.FemaleMedianBonusPayPercent:RegularExpression" displayName="Females who received bonus pay" title="There’s a problem with your data entry" description="Please enter your data to one decimal place using only numbers" />
  <CustomErrorMessage code="2059" validator="ReturnViewModel.MaleLowerPayBand:RegularExpression" displayName="Male" title="There’s a problem with your data entry" description="Please enter your data to one decimal place using only numbers" />
  <CustomErrorMessage code="2060" validator="ReturnViewModel.FemaleLowerPayBand:RegularExpression" displayName="Female" title="There’s a problem with your data entry" description="Please enter your data to one decimal place using only numbers" />
  <CustomErrorMessage code="2061" validator="ReturnViewModel.MaleMiddlePayBand:RegularExpression" displayName="Male" title="There’s a problem with your data entry" description="Please enter your data to one decimal place using only numbers" />
  <CustomErrorMessage code="2062" validator="ReturnViewModel.FemaleMiddlePayBand:RegularExpression" displayName="Female" title="There’s a problem with your data entry" description="Please enter your data to one decimal place using only numbers" />
  <CustomErrorMessage code="2063" validator="ReturnViewModel.MaleUpperPayBand:RegularExpression" displayName="Male" title="There’s a problem with your data" description="Please enter your data to one decimal place using only numbers" />
  <CustomErrorMessage code="2064" validator="ReturnViewModel.FemaleUpperPayBand:RegularExpression" displayName="Female" title="There’s a problem with your gender pay gap data" description="Please enter your data to one decimal place using only numbers" />
  <CustomErrorMessage code="2065" validator="ReturnViewModel.MaleUpperQuartilePayBand:RegularExpression" displayName="Male" title="There’s a problem with your data entry" description="Please enter your data to one decimal place using only numbers" />
  <CustomErrorMessage code="2066" validator="ReturnViewModel.FemaleUpperQuartilePayBand:RegularExpression" displayName="Female" title="There’s a problem with your data entry" description="Please enter your data to one decimal place using only numbers" />
  <CustomErrorMessage code="2067" validator="ReturnViewModel.CompanyLinkToGPGInfo:Url" displayName="Website address" title="There's a problem with your website address" description="Please enter a valid web address (URL)" />
  <CustomErrorMessage code="2068" validator="OrganisationViewModel.OrganisationName:Required" displayName="Organisation name" title="There's a problem with your employer details" description="Please enter your organisation name" />
  <CustomErrorMessage code="2069" validator="OrganisationViewModel.Address1:Required" displayName="Address1" title="There's a problem with your address" description="Please enter your address" />
  <CustomErrorMessage code="2070" validator="OrganisationViewModel.Address3:Required" displayName="Town or City" title="There's a problem with your address" description="Please enter your town or city" />
  <CustomErrorMessage code="2071" validator="OrganisationViewModel.PostCode:Required" displayName="Postcode" title="There's a problem with your address" description="Please enter your postcode" />
  <CustomErrorMessage code="2072" validator="OrganisationViewModel.ContactFirstName:Required" displayName="First name" title="There's a problem with your contact details" description="Please enter your first name" />
  <CustomErrorMessage code="2073" validator="OrganisationViewModel.ContactLastName:Required" displayName="Last name" title="There's a problem with your contact details" description="Please enter your last name" />
  <CustomErrorMessage code="2074" validator="OrganisationViewModel.ContactJobTitle:Required" displayName="Job title" title="There's a problem with your contact details" description="Please enter your job title" />
  <CustomErrorMessage code="2076" validator="OrganisationViewModel.ContactEmailAddress:Required" displayName="Email address" title="There's a problem with your contact details" description="Please enter your email address" />
  <CustomErrorMessage code="2077" validator="OrganisationViewModel.ContactPhoneNumber:Required" displayName="Telephone number" title="There's a problem with your contact details" description="Please enter your telephone number" />
  <CustomErrorMessage code="2078" validator="OrganisationViewModel.OrganisationName:StringLength" displayName="Organisation name" title="There's a problem with your employer details" description="Enter between 3 and 100 characters" />
  <CustomErrorMessage code="2083" validator="OrganisationViewModel.ContactFirstName:MaxLength" displayName="First name" title="There's a problem with your address" description="Enter up to 50 characters" />
  <CustomErrorMessage code="2084" validator="OrganisationViewModel.ContactLastName:MaxLength" displayName="Last name" title="There's a problem with your contact details" description="Enter up to 50 characters" />
  <CustomErrorMessage code="2085" validator="OrganisationViewModel.ContactJobTitle:MaxLength" displayName="Job title" title="There's a problem with your contact details" description="Enter up to 50 characters" />
  <CustomErrorMessage code="2087" validator="OrganisationViewModel.ContactEmailAddress:DataType" displayName="Email address" title="There's a problem with your contact details" description="Please enter a valid email address" />
  <CustomErrorMessage code="2088" validator="OrganisationViewModel.ContactPhoneNumber:Phone" displayName="Telephone number" title="There's a problem with your contact details" description="Please enter a valid phone number" />
  <CustomErrorMessage code="2089" validator="OrganisationViewModel.SectorType:Required" displayName="Type of organisation" title="There's a problem with your organisation type" description="Please choose your type of organisation" />
  <CustomErrorMessage code="2090" validator="ResetViewModel.EmailAddress:Required" displayName="Email address" title="There's a problem with your email address" description="Please enter your email address" />
  <CustomErrorMessage code="2091" validator="ResetViewModel.EmailAddress:EmailAddress" displayName="Email address" title="There's a problem with your email address" description="Please enter a valid email address (e.g. john.smith@smithlimited.co.uk)" />
  <CustomErrorMessage code="2092" validator="ResetViewModel.ConfirmEmailAddress:Required" displayName="Confirm your email address" title="There's a problem with your email address" description="Please enter your email address again" />
  <CustomErrorMessage code="2093" validator="ResetViewModel.ConfirmPassword:DataType" displayName="Confirm password" title="There's a problem with your password" description="Your password contains invalid characters, please enter your password again" />
  <CustomErrorMessage code="2094" validator="ResetViewModel.ConfirmEmailAddress:Compare" displayName="Confirm your email address" title="There's a problem with your email address" description="The email addresses don't match. Please enter your email address again" />
  <CustomErrorMessage code="2095" validator="ResetViewModel.Password:Required" displayName="Password" title="There's a problem with your password" description="Please enter your password" />
  <CustomErrorMessage code="2096" validator="ResetViewModel.Password:StringLength" displayName="Password" title="There's a problem with your password" description="Your password must be at least {1} characters long" />
  <CustomErrorMessage code="2097" validator="ResetViewModel.Password:DataType" displayName="Password" title="There's a problem with your password" description="Your password contains invalid characters, please try again" />
  <CustomErrorMessage code="2098" validator="ResetViewModel.Password:Password" displayName="" title="There's a problem with your password" description="Your password isn't valid, please try again" />
  <CustomErrorMessage code="2099" validator="OrganisationViewModel.PostCode:StringLength" displayName="Postcode" title="There's a problem with your address" description="Enter between 3 and 20 characters" />
  <CustomErrorMessage code="2100" validator="RegisterViewModel.EmailAddress:EmailAddress" displayName="Email address" title="There's a problem with your email address" description="Please enter a valid email address (e.g. john.smith@smithlimited.co.uk)" />
  <CustomErrorMessage code="2101" validator="FeedbackViewModel.DifficultyType:Required" displayName="selection" title="There's a problem with your selection" description="Please choose an option" />
  <CustomErrorMessage code="2102" validator="FeedbackViewModel.Details:StringLength" displayName="Details" title="There's a problem with your feedback details" description="Enter up to 2000 characters" />
  <CustomErrorMessage code="2103" validator="FeedbackViewModel.EmailAddress:EmailAddress" displayName="Email address" title="There's a problem with your email address" description="Please enter a valid email address (e.g. john.smith@smithlimited.co.uk)" />
  <CustomErrorMessage code="2104" validator="FeedbackViewModel.PhoneNumber:Phone" displayName="Phone number" title="There's a problem with your phone number" description="Please enter a valid phone number" />
  <CustomErrorMessage code="2105" validator="OrganisationViewModel.CompanyNumber:Required" displayName="Company number" title="There's a problem with your employer details" description="Please enter a company number" />
  <CustomErrorMessage code="2106" validator="OrganisationViewModel.CompanyNumber:CompanyNumber" displayName="Company number" title="There's a problem with your employer details" description="Company number must contain 8 characters" />
  <CustomErrorMessage code="2107" validator="ScopingViewModel.EmailAddress:Required" displayName="Email address" title="There's a problem with your contact details" description="Please enter your email address" />
  <CustomErrorMessage code="2108" validator="ScopingViewModel.EmailAddress:EmailAddress" displayName="Email address" title="There's a problem with your email address" description="Please enter a valid email address (e.g. john.smith@smithlimited.co.uk)" />
  <CustomErrorMessage code="2109" validator="ScopingViewModel.ConfirmEmailAddress:Required" displayName="Confirm your email address" title="There's a problem with your contact details" description="Please confirm your email address" />
  <CustomErrorMessage code="2110" validator="ScopingViewModel.ConfirmEmailAddress:Compare" displayName="Confirm your email address" title="There's a problem with your contact details" description="The email addresses don't match. Please confirm your email address" />
  <CustomErrorMessage code="2111" validator="ScopingViewModel.FirstName:Required" displayName="First name" title="There's a problem with your contact details" description="Please enter your first name" />
  <CustomErrorMessage code="2112" validator="ScopingViewModel.LastName:Required" displayName="Last name" title="There's a problem with your contact details" description="Please enter your last name" />
  <CustomErrorMessage code="2113" validator="ScopingViewModel.EmployerReference:Required" displayName="Employer Reference" title="There's a problem with your employer reference or security code" description="Please enter your employer reference" />
  <CustomErrorMessage code="2114" validator="ScopingViewModel.SecurityToken:Required" displayName="Security code" title="There's a problem with your employer reference or security code" description="Please enter your security code" />
  <CustomErrorMessage code="2115" validator="ScopingViewModel.Reason:Required" displayName="Reason" title="You must tell us the reason for being out of scope" description="Please enter the reason for being out of scope" />
  <CustomErrorMessage code="2116" validator="ScopingViewModel.ReadGuidance:Required" displayName="Read guidance" title="You must tell us if you have read the guidance" description="Please answer the guidance question" />
  <CustomErrorMessage code="2118" validator="OrganisationViewModel.CharityNumber:Required" displayName="Charity number" title="There's a problem with your employer details" description="Please enter a charity number" />
  <CustomErrorMessage code="2119" validator="OrganisationViewModel.MutualNumber:Required" displayName="Mutual partnership number" title="There's a problem with your employer details" description="Please enter a mutual partnership number" />
  <CustomErrorMessage code="2120" validator="OrganisationViewModel.OtherName:Required" displayName="Name or type" title="There's a problem with your employer details" description="Please enter a name for this reference" />
  <CustomErrorMessage code="2121" validator="OrganisationViewModel.OtherValue:Required" displayName="Unique number or value" title="There's a problem with your employer details" description="Please enter a value for this reference" />
  <CustomErrorMessage code="2122" validator="OrganisationViewModel.CharityNumber:StringLength" displayName="Charity number" title="There's a problem with your employer details" description="Enter between 3 and 100 characters" />
  <CustomErrorMessage code="2123" validator="OrganisationViewModel.MutualNumber:StringLength" displayName="Mutual partnership number" title="There's a problem with your employer details" description="Enter between 3 and 100 characters" />
  <CustomErrorMessage code="2124" validator="OrganisationViewModel.OtherName:StringLength" displayName="Name or type" title="There's a problem with your employer details" description="Enter between 3 and 100 characters" />
  <CustomErrorMessage code="2125" validator="OrganisationViewModel.OtherValue:StringLength" displayName="Unique number or value" title="There's a problem with your employer details" description="Enter between 3 and 100 characters" />
  <CustomErrorMessage code="2126" validator="OrganisationViewModel.SicCodeIds:Required" displayName="SIC Codes" title="There's a problem with your SIC codes" description="Please enter at least one SIC code" />
  <CustomErrorMessage code="2129" validator="OrganisationViewModel.ContactPhoneNumber:MaxLength" displayName="Telephone number" title="There's a problem with your contact details" description="Enter up to 20 digits" />
  <CustomErrorMessage code="2130" displayName="Bonus difference" title="There’s a problem with your bonus difference" description="Where the % of women receiving a bonus is > 0 AND men also received a bonus greater than 0, then the mean or median bonus difference must be less than 100%" />
  <CustomErrorMessage code="2131" displayName="Bonus difference" title="There’s a problem with your bonus difference" description="Do not enter a bonus difference if 0% of your male employees received a bonus" />

    <CustomErrorMessage code="3000" title="There's a problem with your password" description="Enter a password that doesn't contain 'password'" />
    <CustomErrorMessage code="3001" title="There's a problem with your registration" description="This email address has already been registered. Please sign in or enter a different email address" />
    <CustomErrorMessage code="3002" title="There's a problem with your registration" description="This email address is awaiting confirmation. Please enter a different email address or try again in {remainingTime}" />
    <CustomErrorMessage code="3003" title="Something’s gone wrong" description="There was a problem sending your confirmation email. Please try again" />
    <CustomErrorMessage code="3004" title="You’ve entered the wrong email verification code" description="Please try again using the correct verification code or request a new one"/>
    <CustomErrorMessage code="3005" title="There’s a problem" description="Please choose your type of organisation"/>
    <CustomErrorMessage code="3006" title="There’s a problem" description="Please enter your organisation name{orCompanyNumber}"/>
    <CustomErrorMessage code="3007" title="There’s a problem" description="Please enter between 3 and 100 characters"/>
    <CustomErrorMessage code="3008" title="Another user has already registered for this organisation" description="Only one person in an organisation can register"/>
    <CustomErrorMessage code="3009" title="Another user is trying to register for this organisation" description="Please try again in {remainingTime}"/>
    <CustomErrorMessage code="3010" title="You don't have permission to register for this organisation" description="Only one person in an organisation can register" />
    <CustomErrorMessage code="3011" title="There's a problem with your address" description="Please enter your address"/>
    <CustomErrorMessage code="3012" title="There's a problem with your address" description="Please enter your town or city"/>
    <CustomErrorMessage code="3013" title="There's a problem with your address" description="Please enter your postcode"/>
    <CustomErrorMessage code="3014" title="Something’s gone wrong" description="There was a problem sending your PIN" callToAction="Use the button below to try again" actionUrl="/Register/pin-sent" />
    <CustomErrorMessage code="3015" title="There's a problem with your PIN" description="You've entered an incorrect PIN. Please try again"/>
    <CustomErrorMessage code="3016" title="Your email verification code has expired" description="Please request a new verification code"/>
    <CustomErrorMessage code="3017" title="This organisation was previously registered by {approvedUser} on {approvedDate} at {approvedAddress}" />
    <CustomErrorMessage code="3018" title="{requestCount} other pending registration request(s) exist for this organisation" />
    <CustomErrorMessage code="3019" title="There’s a problem" description="Please enter an employer name"/>
    <CustomErrorMessage code="3020" title="You are already registered for this organisation" description="You can only register for an organisation once" actionUrl="/register/choose-organisation"/>
    <CustomErrorMessage code="3021" title="You have already started registering for this organisation" description="You can only register for an organisation once" actionUrl="/register/choose-organisation" />
    <CustomErrorMessage code="3022" title="You must complete one registration before you can register more organisations." description="You must complete one registration before you can register more organisations."/>
    <CustomErrorMessage code="3023" title="You can't remove this registration yet." description="Please try again in {remainingTime}" actionUrl="/manage-organisations"/>

    <CustomErrorMessage code="3024" title="Too many sign-ups were recently detected from your internet address. Please try again in {remainingTime}" />
    <CustomErrorMessage code="3025" title="Too much feedback was recently submitted from your internet address. Please try again in {remainingTime}" />
    <CustomErrorMessage code="3026" title="Too many password resets were recently requested from your internet address. Please try again in {remainingTime}" />

    <CustomErrorMessage code="3027" title="There's a problem with your employer reference or security code" />
    <CustomErrorMessage code="3028" title="An organisation with this name already exists of the type '{organisationType}'." description="Please select the correct organisation type" />
    <CustomErrorMessage code="3029" title="An organisation with this name already exists with company number '{companyNumber}'." description="Please enter the correct company number" />

    <CustomErrorMessage code="3031" title="The organisation {organisationName} already has this {referenceName}." />

    <CustomErrorMessage code="3032" title="There’s a problem" description="Please tell us if your organisation was required to report"/>
    <CustomErrorMessage code="3032" title="You are already registered for this organisation" description="You can only register for an organisation once"/>

    <CustomErrorMessage code="3040" title="Someone else is working on this" description="You can continue working on the draft report once the other person has finished." actionUrl="/manage-organisations"/>
  </CustomErrorMessages>
</configuration>
