<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CustomErrorMessages" type="GenderPayGap.Core.Classes.ErrorMessages.CustomErrorMessagesSection, GenderPayGap.Core" />
  </configSections>
  <CustomErrorMessages>
    <!-- On Page Errors -->
    <CustomErrorMessage code="0" title="Something’s gone wrong" description="Please try again later" default="true"/>
    <CustomErrorMessage code="310" title="Too many redirects" description="Too many redirects occurred to while attempting authentication" callToAction="Please sign out of the system and try again" actionUrl="/logout" actionText="Log Out"/>
    <CustomErrorMessage code="400" title="Something’s gone wrong" description="Please try again later"/>
    <CustomErrorMessage code="401" title="Something’s gone wrong" description="Please sign out and sign in again to continue" actionUrl="/logout" actionText="Sign in"/>
    <CustomErrorMessage code="403" title="Something’s gone wrong" description="Please use your browser’s ‘Back’ button to return to the previous step"/>
    <CustomErrorMessage code="404" title="We can’t find the page you need" description="Please use your browser’s ‘Back’ button to return to the previous step"/>
    <CustomErrorMessage code="410" title="This page is no longer available" description="The data for the page you requested is no longer available"/>
    <CustomErrorMessage code="408" title="Something’s gone wrong" description="Please use your browser’s ‘Back’ button to return to the previous step"/>
    <CustomErrorMessage code="429" title="Something’s gone wrong" description="Please try again later"/>
    <CustomErrorMessage code="500" title="Something’s gone wrong" description="Please try again later"/>
    <CustomErrorMessage code="501" title="Something’s gone wrong" description="Please try again later"/>
    <CustomErrorMessage code="1100" title="You haven’t verified your email address yet" description="Please verify your email address to continue"/>
    <CustomErrorMessage code="1101" title="You haven’t verified your email address yet" description="The verification code we sent to you has expired. You’ll need to get a new verification email to continue"/>
    <CustomErrorMessage code="1102" title="You haven’t verified your email address yet" description="Please check your email and junk mail folder."/>
    <CustomErrorMessage code="1106" title="Your PIN has expired" callToAction="Get a replacement PIN" actionUrl="/Register/pin-sent"/>
    <CustomErrorMessage code="1109" title="You’re already registered for this service" callToAction="Manage your organisations" actionUrl="/account/organisations"/>
    <CustomErrorMessage code="1112" title="Something’s gone wrong" description="We need you to tell us about your employer again" callToAction="Tell us about your organisation" actionUrl="/Register/organisation-type"/>
    <CustomErrorMessage code="1113" title="You’ve entered the incorrect PIN too many times" description="Sign in again and enter your PIN in {remainingTime}" actionUrl="/logout" actionText="Sign out"/>
    <CustomErrorMessage code="1114" title="You’ve entered the wrong registration review code" description="Please try again using the correct registration review code"/>
    <CustomErrorMessage code="1115" title="This registration request isn't valid" description="This registration was previously declined and the user informed by email"/>
    <CustomErrorMessage code="1117" title="Forbidden" description="As an administrator you are not permitted to view this page" />
    <CustomErrorMessage code="1120" title="It's too soon to request a new PIN" description="Please wait for up to 7 days for your PIN to arrive. You can request another PIN in {remainingTime}" callToAction="Enter your PIN now" actionUrl="/Register/activate-service"/>
    <CustomErrorMessage code="1134" title="Session has expired" description="Your session has expired." />
    <CustomErrorMessage code="1145" title="This registration request is no longer valid" description="This registration has previously been approved and the user informed by email"/>
    <CustomErrorMessage code="1149" title="This employer has been deleted" description="You cannot add this employer to your user account as it has been deleted from our records." callToAction="Please contact us to register this employer." actionUrl="#" actionText="Back" />
    
    <!-- In-line Errors from Data Annotations-->
    <!-- In-line Errors hard coded -->
    <CustomErrorMessage code="3015" title="There's a problem with your PIN" description="You've entered an incorrect PIN. Please try again"/>
    <CustomErrorMessage code="3017" title="This employer was previously registered by {approvedUser} on {approvedDate} at {approvedAddress}" />
    <CustomErrorMessage code="3018" title="{requestCount} other pending registration request(s) exist for this employer" />
    <CustomErrorMessage code="3023" title="You can't remove this registration yet." description="Please try again in {remainingTime}" actionUrl="/account/organisations"/>
    <CustomErrorMessage code="3031" title="The employer {organisationName} already has this {referenceName}." />

    <CustomErrorMessage code="3032" title="There’s a problem" description="Please tell us if your employer was required to report"/>
    <CustomErrorMessage code="3032" title="You have already added this employer to your user account" description="You can only add an employer to your user account once."/>
  </CustomErrorMessages>
</configuration>
