<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
    <add key="repositoryPath" value=".\packages" />
	</config>
	<repositoryPath>.\packages</repositoryPath>
  <packageSources>
    <add key="Nuget" value="https://www.nuget.org/api/v2/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Local" value="./Lib" /><!-- Allows us to put a GovUkDesignSystem package in /Lib -->
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>