<p>
    The mean hourly rate is the average hourly wage across the entire organisation so the mean gender pay gap is a measure of the difference between women&rsquo;s mean hourly wage and men&rsquo;s mean hourly wage.
</p>
<p>
    The median hourly rate is calculated by ranking all employees from the highest paid to the lowest paid, and taking the hourly wage of the person in the middle; so the median gender pay gap is the difference between women&rsquo;s median hourly wage (the middle paid woman) and men&rsquo;s median hourly wage (the middle paid man).
</p>