@using GenderPayGap.Core
@using GenderPayGap.WebUI.Helpers
@using GenderPayGap.WebUI.Models.AccountCreation
@using GovUkDesignSystem
@using GovUkDesignSystem.Attributes
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.AccountCreation.AlreadyCreatedAnAccountViewModel
@{
    ViewBag.Title = "Have you already created your user account - Gender pay gap service";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Have you previously created a user account?</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="GET" action="@Url.Action("AlreadyCreatedAnAccountQuestionGet", "AccountCreation")">

            <div class="govuk-form-group">

                @(await Html.GovUkErrorSummary(ViewData.ModelState))

                @{
                    var errorMessage = ModelErrorHelper.GetErrorMessage(ViewData.ModelState, nameof(Model.HaveYouAlreadyCreatedYourUserAccount));
                    ErrorMessageViewModel errorMessageViewModel = errorMessage != null
                        ? new ErrorMessageViewModel {Text = errorMessage}
                        : null;
                }

                @if (Model.HaveYouAlreadyCreatedYourUserAccount == null
                   || Model.HaveYouAlreadyCreatedYourUserAccount == HaveYouAlreadyCreatedYourUserAccount.Unspecified)
                {
                    <input type="radio"
                           name="HaveYouAlreadyCreatedYourUserAccount"
                           value="Unspecified"
                           checked
                           style="display: none" />
                }

                @await Html.GovUkRadios(new RadiosViewModel
                {
                    Name = nameof(AlreadyCreatedAnAccountViewModel.HaveYouAlreadyCreatedYourUserAccount),
                    Items = Enum.GetValues(typeof(HaveYouAlreadyCreatedYourUserAccount))
                        .Cast<HaveYouAlreadyCreatedYourUserAccount>()
                        .Where(item => item != HaveYouAlreadyCreatedYourUserAccount.Unspecified)
                        .Select(answer =>
                        {
                            string fieldName = nameof(AlreadyCreatedAnAccountViewModel.HaveYouAlreadyCreatedYourUserAccount);
                            string fieldValue = answer.ToString();
                            string fieldId = $"{fieldName}_{fieldValue}";

                            return (ItemViewModel)new RadioItemViewModel
                            {
                                Name = fieldName,
                                Value = fieldValue,
                                Id = fieldId,
                                Label = new LabelViewModel
                                {
                                    Text = GovUkRadioCheckboxLabelTextAttribute.GetLabelText(answer),
                                    For = fieldId
                                }
                            };
                        })
                        .ToList(),
                    ErrorMessage = errorMessageViewModel
                })

                <div class="govuk-inset-text">
                    You will need to create your own user account even if someone else has
                    previously reported your employer's gender pay gap.
                </div>

                @(await Html.GovUkButton(new ButtonViewModel
                {
                    Text = "Continue"
                }))
                @{ var reportingUrl = Url.Action("ManageOrganisationsGet", "ManageOrganisations"); }
                <p class="govuk-body">
                    <a href="@(Global.StartUrl ?? reportingUrl)" class="govuk-link">Cancel</a>
                </p>
            </div>
            
        </form>
    </div>
</div>
