@model GenderPayGap.WebUI.Models.AccountCreation.ConfirmEmailAddressViewModel
@{
    ViewBag.Title = "You've confirmed your email address - Gender pay gap service";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            You've confirmed your email address
          </h1>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <p class="govuk-body">
            You are now able to add your employer to your user account and
            report their gender pay gap information. 
        </p>
        
        <h2 class="govuk-heading-m">Editing your contact details or closing your user account</h2>
        
        <p class="govuk-body">
            You can edit your contact details within Manage Account.
        </p>
        <p class="govuk-body">
            You will need to close your user account if you:
            <ul class="govuk-list govuk-list--bullet">
                <li>created a user account by mistake</li>
                <li>
                    you no longer work for, or manage the gender pay gap reporting for
                    the employer added to your account
                </li>
            </ul>
        </p>
        <p class="govuk-body">
            To complete the process for gender pay gap reporting please sign in to your account.
        </p>
        
        <a class="govuk-button" href="@Url.Action("ManageOrganisationsGet", "ManageOrganisations")" role="button">Sign In</a>
        
    </div>
</div>
