@model GenderPayGap.WebUI.Models.AccountCreation.CreateUserAccountViewModel
@{
    ViewBag.Title = "User not found - Gender pay gap reporting service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{ await Html.RenderPartialAsync("/Views/ReportingStepByStep/ReportingPageHeader.cshtml"); }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">We could not confirm your email address</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            We could not find a user with that confirmation code.
        </p>

        <p class="govuk-body">
            If you pasted the web address, check you copied the entire address.
        </p>

        <p class="govuk-body">
            Or please
            <a href=@(Url.Action("CreateUserAccountGet", "AccountCreation")) class="govuk-link">create a new account</a>.
        </p>
    </div>
    
    <div class="govuk-grid-column-one-third">
        @{ await Html.RenderPartialAsync("/Views/ReportingStepByStep/ReportingSidebar.cshtml",
               new ReportingStepsViewModel
               {
                   CurrentStep = 3,
                   CurrentTask = 0
               }); }
    </div>
</div>
