@using GenderPayGap.Core.Helpers
@{
    ViewBag.Title = "User not found - Gender pay gap reporting service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@if (FeatureFlagHelper.IsFeatureEnabled(FeatureFlag.ReportingStepByStep))
    {
    @section BeforeMain {
        @{ await Html.RenderPartialAsync("/Views/ReportingStepByStep/ReportingPageHeader.cshtml"); }
    }   
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">We could not confirm your email address</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            We were unable to find your details.
        </p>
        <p class="govuk-body govuk-!-font-weight-bold">
            Please try checking:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                If you pasted the web address to your browser window, check you copied the entire address.
            </li>
        </ul>
        <p class="govuk-body">
            If you created your account over 7 days ago, you will need to create a new account.
        </p>
        <p class="govuk-body">
            <a href=@(Url.Action("CreateUserAccountGet", "AccountCreation")) class="govuk-link">Create a new account</a>
        </p>
    </div>
    @if (FeatureFlagHelper.IsFeatureEnabled(FeatureFlag.ReportingStepByStep))
    {
        <div class="govuk-grid-column-one-third">
            @{ await Html.RenderPartialAsync("/Views/ReportingStepByStep/ReportingSidebar.cshtml",
                   new ReportingStepsViewModel
                   {
                       CurrentStep = 3,
                       CurrentTask = 0
                   }); }
        </div>
    }
</div>
