@using GenderPayGap.WebUI.Views.Components
@using GenderPayGap.WebUI.Views.Components.PaginationLinks
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@{
    ViewBag.Title = "Eight ways to understand your organisation's gender pay gap - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Home",
                Href = Url.Action("Index", "Viewing")
            },
            new CrumbViewModel
            {
                Text = "Eight ways to understand your organisation's gender pay gap"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<partial name="EightWaysToUnderstandYourOrganisationsGpg/Header"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-l">Do particular aspects of pay (such as starting salaries and bonuses) differ by 
            gender?</h2>
        <p class="govuk-body">
            As part of gender pay gap reporting, you need to report information about the proportion of men and women 
            receiving bonuses. Under the Equality Act 2010, employers must also ensure they are providing equal 
            compensation for equal work. Analysing information about equal pay and bonuses can help you identify 
            whether particular aspects of pay might be contributing to your gender pay gap.
        </p>
        <div class="govuk-inset-text">
            You should examine whether men and women doing comparable work receive different bonuses, pay for 
            unsociable hours, or overtime.
        </div>
        <h3 class="govuk-heading-m">Do men and women have different starting salaries for similar jobs in your 
            organisation?</h3>
        <p class="govuk-body">
            Another aspect of pay that can contribute to the gender pay gap is women having lower starting salaries
            than men doing similar jobs. This may be a problem for you if you allow negotiation of starting salaries, 
            as some research has found that women are less likely to negotiate their pay than men, and that when women 
            do negotiate their pay, they can be judged more harshly than men for doing so. These things mean that
            women’s starting salaries might end up being lower than that of men doing the same job.
        </p>
        <div class="govuk-inset-text">
            To check whether this is a problem in your organisation, compare starting salaries by gender within 
            comparable roles.
        </div>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">If you find a gender imbalance associated with pay</span>
                If you find a gender imbalance associated with pay
            </strong>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <strong>
                        Introduce clear and fair processes for setting salaries and be transparent about these processes.
                    </strong>
                    <p class="govuk-body">
                        Where possible, communicate salary ranges, and indicate whether salaries are negotiable or not.
                        This will provide a clear signal to all parties involved about whether or not it is acceptable to
                        ask for more. This can put women and men on a more even footing.
                    </p>
                </li>
                <li>
                    <strong>
                    Review how the different aspects of pay are allocated with your organisation.     
                    </strong>
                    <p class="govuk-body">
                       Consider if your
                       processes clear and transparent. And if people being held accountable when allocating them.
                    </p>
                </li>
            </ul>
        </div>
        
        <hr class="govuk-section-break govuk-section-break--l">

        @{ await Html.RenderPartialAsync("/Views/Components/PaginationLinks/PaginationLinks.cshtml", new PaginationLinksViewModel
           {
               LeftLink = new PaginationLinkViewModel
               {
                   Title = "Previous",
                   Text = "Do men and women leave your organisation at different rates?",
                   Url = Url.Action("EightWaysDoMenAndWomenLeave", "Guidance")
               },
               RightLink = new PaginationLinkViewModel
               {
                   Title = "Next",
                   Text = "Do men and women receive different performance scores on average?",
                   Url = Url.Action("EightWaysDoMenAndWomenReceive", "Guidance")
               }
           }); }
        
    </div>
    <div class="govuk-grid-column-one-third">
        <partial name="EightWaysToUnderstandYourOrganisationsGpg/RelatedContent"/>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="EightWaysToUnderstandYourOrganisationsGpg/UpdatesRecord"/>
    </div>
</div>
