@model ChangeEmailStatusViewModel
<div class="grid-row">

    <div class="column-two-thirds">

        <div class="govuk-box-highlight">
            <h1 class="heading-large">
                Your account has been closed
            </h1>
        </div>

        <p>You are now signed out of the gender pay gap reporting service</p>

    </div>

</div>