@model GenderPayGap.WebUI.Views.Components.StepByStep.StepByStepPageHeaderViewModel
<div class="app-step-nav-header">
    <span class="app-step-nav-header__part-of">Part of</span>
    <a href="@(Model.StandalonePageUrl)"
       class="app-step-nav-header__title govuk-link">
        @(Model.Title)
    </a>
</div>