@model CompareViewModel
<ul class="list list-inline no-print">
    <li>
        <a class="print-link" onclick="window.print();return false;" href="#">Print</a>
    </li>
    @if (string.IsNullOrWhiteSpace(Model.ShareEmailUrl) == false)
    {
        <li>
            <a class="email-link" href="mailto:?subject=@(Model.ShareEmailSubject)&body=@(Model.ShareEmailBody)">Share by email</a>
        </li>
    }
    <li>
        <a class="link-button" rel="download" href="@(Url.Action(nameof(CompareController.DownloadCompareData), "Compare", new {Model.Year}))" target="_blank">Download data (CSV)</a>
    </li>
</ul>