@model CompareViewModel
@{
    ViewBag.Title = "Select and compare gender pay gap data for employers - GOV.UK";
    var basketModel = ViewBag.BasketViewModel as CompareBasketViewModel;
    basketModel.IsComparePage = true;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br/>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                Employer comparison
                <span class="print-only"> (@Model.YearFormatted)</span>
            </h1>
        </div>
    </div>

    <partial name="~/Views/Compare/ComparisonBasketContent.cshtml" model="basketModel" />

    <div class="govuk-grid-row comparison-divider">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-2">
            Read more about
            <a href="https://www.gov.uk/government/publications/gender-pay-gap-reporting-guidance-for-employers/closing-your-gender-pay-gap"
               class="link-button" rel="track" data-track-category="Related Link Clicked">
                closing your gender pay gap
            </a>
        </div>
    </div>
    <br/>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <h2 class="govuk-details__summary-text govuk-!-font-weight-regular">
                        About mean and median
                    </h2>
                </summary>
                <div class="govuk-details__text">
                    <partial name="AboutHourlyRate" />
                </div>
            </details>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <h2 class="govuk-details__summary-text govuk-!-font-weight-regular">
                        About pay quarters
                    </h2>
                </summary>
                <div class="govuk-details__text">
                    <partial name="AboutQuartiles" />
                </div>
            </details>
        </div>
    </div>

    @if (Model.CompareBasketCount > 0)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <partial name="YearTabs" />
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="overflowx">
                    <table id="table" class="gpg-govuk-table">
                        <partial name="CompareTableHeaders" />
                        <partial name="CompareTableRows" />
                    </table>
                </div>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <partial name="CompareActions" />
            </div>
        </div>
    }
}

@section Scripts
{
    <script>
        (function () {
            "use strict";

            //Keep comparison basket within viewport
            GOVUK.stickAtTopWhenScrolling.init();

            new GOVUK.Ajaxify({
                onRefresh: function () {
                    GOVUK.stickAtTopWhenScrolling.init();
                },
                onError: function (errorCode, error, errorThrown) {
                    window.location.href = '/error';
                }
            });

            new GOVUK.analyticsPlugins.downloadLinkTracker({ selector: 'a[rel="download"]' });

            new GOVUK.analyticsPlugins.mailtoLinkTracker();

            // Initial floating header setup
            new GOVUK.AppendHead();
        }());
    </script>
}