@using GenderPayGap.Core
@using GenderPayGap.Core.Classes
@model CompareViewModel
@{
    int endYear = OrganisationSectors.Private.GetAccountingStartDate().Year;
    int startYear = endYear - (Global.ShowReportYearCount - 1);
    if (startYear < Global.FirstReportingYear)
    {
        startYear = Global.FirstReportingYear;
    }
}
<div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
        Reporting years
    </h2>
    <ul class="govuk-tabs__list">
        @for (int year = startYear; year <= endYear; year++)
        {
            <li class="govuk-tabs__list-item @(Model.Year == year ? "govuk-tabs__list-item--selected" : "")">
                <a class="govuk-tabs__tab" href="@Url.Action(nameof(CompareController.CompareEmployers), "Compare", new {year})">
                    @year/@((year + 1).ToTwoDigitYear())
                </a>
            </li>
        }
    </ul>
</div>
