@using GenderPayGap.Core
@using GenderPayGap.Core.Classes
@model CompareViewModel
@{
    int endYear = SectorTypes.Private.GetAccountingStartDate().Year;
    int startYear = endYear - (Global.ShowReportYearCount - 1);
    if (startYear < Global.FirstReportingYear)
    {
        startYear = Global.FirstReportingYear;
    }
}
<div class="no-print">
    <ul class="govuk-tabs__list">
        @for (int year = startYear; year <= endYear; year++)
        {
            <li class="govuk-tabs__list-item">
                <!a class="govuk-tabs__tab" href="@Url.Action(nameof(CompareController.CompareEmployers), "Compare", new {year})" @(Model.Year == year ? "selected" : "")>
                    @year/@((year + 1).ToTwoDigitYear())
                </!a>
            </li>
        }
    </ul>
</div>