@using GovUkDesignSystem.GovUkDesignSystemComponents
@using GovUkDesignSystem
@using GenderPayGap.Core.Helpers
@model GenderPayGap.WebUI.Models.ReportStarting.ReportStartingViewModel

@{
    ViewBag.Title = $"Report gender pay gap data - reporting year {Model.ReportingYear}  - Gender pay gap service"; 
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
    
    var encryptedOrganisationId = Encryption.EncryptQuerystring(Model.Organisation.OrganisationId.ToString());
    string formattedReportingYears = ReportingYearsHelper.FormatYearAsReportingPeriod(Model.ReportingYear);
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Manage employers",
                Href = Url.Action("ManageOrganisationsGet", "ManageOrganisations")
            },
            new CrumbViewModel
            {
                Text = Model.Organisation.OrganisationName,
                Href = Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId})
            },
            new CrumbViewModel
            {
                Text = $"{formattedReportingYears} reporting year"
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row" xmlns="http://www.w3.org/1999/html">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
            Report your gender pay gap data
            <br/>
            <span class="govuk-!-font-size-27">
                for @(Model.Organisation.OrganisationName)
            </span>
        </h1>
        
        <div class="govuk-inset-text gpg-govuk-inset-text">
            Reporting for snapshot date
            <span class="govuk-!-font-weight-bold">
                @Model.SnapshotDate.ToString("d MMMM yyyy")
            </span>
        </div>
        
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <p class="govuk-body">
            You should base your gender pay gap calculations on payroll data taken on your snapshot date.
        </p>
        <p class="govuk-body">
            You must report and publish your gender pay gap information within a year of your snapshot date.
        </p>

        <h2 class="govuk-heading-l">
            Before you start
        </h2>
        <p class="govuk-body">
            Read the guidance for employers on:
        </p>
        <ul class="govuk-body govuk-list--bullet">
            <li>
                <a href="https://www.gov.uk/government/publications/gender-pay-gap-reporting-guidance-for-employers/what-to-report"
                   target="_blank" rel="noopener">
                    what to report (opens in a new tab)
                </a>
            </li>
            <li>
                <a href="https://www.gov.uk/government/publications/gender-pay-gap-reporting-guidance-for-employers/preparing-your-data"
                   target="_blank" rel="noopener">
                    preparing your data (opens in a new tab)
                </a>
            </li>
            <li>
                <a href="https://www.gov.uk/government/publications/gender-pay-gap-reporting-guidance-for-employers/making-your-calculations"
                   target="_blank" rel="noopener">
                    making your calculations (opens in a new tab)
                </a>
            </li>
        </ul>
        
        @await Html.GovUkButton(new ButtonViewModel
        {
            Text = "Continue",
            Classes = "govuk-!-margin-top-6",
            Href = @Url.Action("ReportSizeOfOrganisationGet", "ReportSizeOfOrganisation", new {encryptedOrganisationId, Model.ReportingYear})
        })
        
    </div>
    
    @await Html.PartialAsync("~/Views/Submit/RelatedContent.cshtml")
</div>
