@using GenderPayGap.Core
@{
    ViewBag.Title = "Accessibility Statement - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Accessibility statement for Gender pay gap service
        </h1>
        <p class="govuk-body">
            We want everyone to be able to do what they need to do with our website,
            regardless of any access needs due to a disability or condition.
        </p>
        
        <h2 class="govuk-heading-m">
            A detailed accessibility statement about the Gender pay gap service
        </h2>
        <p class="govuk-body">
            This page describes:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>how accessible our website is</li>
            <li>what to do if you have a problem</li>
            <li>what we are doing to meet the regulations</li>
        </ul>
        <p class="govuk-body">
            This accessibility statement applies to the Gender pay gap service
            but does not apply to Gender pay gap guidance documents on gov.uk.
        </p>
        
        <h2 class="govuk-heading-m">
            Using our website and services
        </h2>
        <p class="govuk-body">
            This service is run by the Government Equalities Office.
            We want as many people as possible to be able to use this website.
            For example, that means you should be able to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>zoom in up to 300% without problems</li>
            <li>navigate most of the website using just a keyboard</li>
            <li>navigate most of the website using speech recognition software</li>
            <li>use most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul>
        <p class="govuk-body">
            We’ve also made the website text as simple as possible to understand.
        </p>
        <p class="govuk-body">
            <a href="https://mcmw.abilitynet.org.uk/" target="_blank" rel="noopener" class="govuk-link">
                AbilityNet</a>
            has advice on making your device easier to use if you have a disability.
        </p>
        
        <h2 class="govuk-heading-l">
            How accessible this website is
        </h2>
        <p class="govuk-body">
            We aim to meet international accessibility guidelines, however this may not always be possible, or we may have missed a problem.
        </p>
        <p class="govuk-body">
            We know some parts of this website are not fully accessible.
        </p>
        <h3 class="govuk-heading-m">
            What to do if you cannot access parts of this website
        </h3>
        <p class="govuk-body">
            If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille, contact
            <a href="mailto:@(Global.GpgReportingEmail)" target="_blank" class="govuk-link">@(Global.GpgReportingEmail)</a>.
        </p>
        <p class="govuk-body">
            We’ll consider your request and get back to you within 5 working days.
        </p>   
        <h3 class="govuk-heading-m">
            Reporting accessibility problems with this website
        </h3>
        <p class="govuk-body">
            We’re always looking to improve the accessibility of this website.
            If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact
            <a class="govuk-link" href="mailto:@(Global.GpgReportingEmail)" target="_blank">@(Global.GpgReportingEmail)</a>.
        </p>
        <h3 class="govuk-heading-m">
            Enforcement procedure
        </h3>
        <p class="govuk-body">
            The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies
            (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
            If you’re not happy with how we respond to your complaint, contact the
            <a href="https://www.equalityadvisoryservice.com/" target="_blank" rel="noopener" class="govuk-link">
                Equality Advisory and Support Service (EASS)</a>.
        </p>
        
        <h2 class="govuk-heading-l">
            Technical information about this website’s accessibility
        </h2>
        <p class="govuk-body">
            The Government Equalities Office is committed to making its website accessible, in accordance with the
            Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
        </p>
        <p class="govuk-body">
            This website is partially compliant with the
            <a href="https://www.w3.org/TR/WCAG21/" target="_blank" rel="noopener" class="govuk-link">
                Web Content Accessibility Guidelines version 2.1</a>
            AA standard, due to ‘the non-compliances’, listed below.
        </p>
        
        <h2 class="govuk-heading-l">
            Non-accessible content
        </h2>
        <p class="govuk-body">
            The content listed below is non-accessible for the following reasons.
        </p>
        <h3 class="govuk-heading-m">
            Non-compliance with the accessibility regulations
        </h3>
        <p class="govuk-body">
            The following elements do not comply with accessibility regulations:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                the highlighted yellow colour of text boxes has the incorrect colour ratio and is hard to see. 
                This fails WCAG 2.1 success criterion 1.4.11
            </li>
            <li>
                on some pages, content has not been semantically marked-up so that information and relationships 
                are programmatically determinable. This fails WCAG 2.1 success criterion 1.3.1
            </li>
            <li>
                the search button is slightly pixelated on magnification. This fails WCAG 2.1 success criterion 1.1.1
            </li>   
            <li>
                there are links on the ‘compare employers’ page that visually look like tabs but have not been marked
                up in this way. This fails WCAG 2.1 success criteria 2.4.3 and 4.1.2
            </li>
            <li>
                the layout and structure of some elements on the ‘employer report’ page are difficult for screen 
                readers to understand. This fails WCAG 2.1 success criterion 1.3.1
            </li>
            <li>
                the status message on the search results page is not announced to users that rely on audio
                feedback. This fails WCAG 2.1 success criterion 4.1.3
            </li>
            <li>
                most older PDF documents that are linked to from this website are not fully accessible 
                to screen reader software
            </li>
            <li>
                the ‘compare employers’ page has a number of additional accessibility issues and is not
                fully accessible to screen reader software
            </li>
        </ul>
        <p class="govuk-body">
            We have recorded these issues in our backlog and will be handling them as part of our normal workflow.
        </p>
        <h3 class="govuk-heading-m">
            Disproportionate burden
        </h3>
        <p class="govuk-body">
            We have not yet identified a part of the service where it would be a disproportionate burden
            on the Government Equalities Office to resolve the non-compliance.
            If this becomes the case, we will publish full details here explaining our decision.
        </p>
        <h3 class="govuk-heading-m">
            How we tested
        </h3>
        <p class="govuk-body">
            Testing has been conducted internally by Government Equalities Office staff and externally audited by the
            <a href="https://digitalaccessibilitycentre.org/" target="_blank" rel="noopener" class="govuk-link">Digital Accessibility Centre</a>.
            Where they have been checked for compliance, it has been against WCAG 2.1 AA.
        </p>
        <h3 class="govuk-heading-m">
            What we’re doing to improve accessibility
        </h3>
        <p class="govuk-body">
            We have recorded these issues in our backlog and will be handling them as part of our normal workflow.
        </p>
    </div>
</div>