@using GenderPayGap.Core
@{
    ViewBag.Title = "Contact us - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Contact us
        </h1>
        
        <h2 class="govuk-heading-m">
            Email
        </h2>
        <p class="govuk-body">
            Email us at
            <a class="govuk-link" href="mailto:@(Global.GpgReportingEmail)" target="_blank">
                @Global.GpgReportingEmail</a>
            if you:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>need help with technical difficulties, managing your account, or using the gender pay gap service</li>
            <li>use an assistive technology, such as a screen reader, and cannot access all or part of the service</li>
        </ul>
        <p class="govuk-body">
            We cannot give case-by-case guidance on how you should calculate your gender pay gap or interpret the regulations.
        </p>

        <h2 class="govuk-heading-m">
            Post
        </h2>
        <p class="govuk-body">
            Write to us at:
        </p>
        <p class="govuk-body">
            Gender pay gap team<br/>
            Correspondence Team<br/>
            Cabinet Office<br/>
            70 Whitehall<br/>
            London<br/>
            SW1A 2AS
        </p>
        
        <div class="govuk-inset-text">
            Use our
            <a class="govuk-link" href="@Url.Action("SendFeedbackGet", "Feedback")">
                feedback form</a>
            to leave feedback on the gender pay gap service.
        </div>

    </div>
</div>