@{
    ViewBag.Title = "Report gender pay gap concerns about an organisation";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Report your concerns
        </h1>
        <p class="govuk-body">
            The Equality and Human Rights Commission are responsible for enforcing the Gender Pay Gap Regulations and you can download their <a class="govuk-link" download="true" href="https://www.equalityhumanrights.com/en/publication-download/our-litigation-and-enforcement-policy-2019-2022">enforcement policy</a>.
            If you have concerns about an organisation in relation to the gender pay gap regulations, you may report these to the Equality and Human Rights Commission.
        </p>

        <p class="govuk-body">
            These concerns may relate to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Believing that an organisation should be reporting their gender pay gap and is not doing so
            <li>Believing that an organisation is reporting inaccurate gender pay gap figures
            <li>Any other issues related to gender pay gap reporting within an organisation
        </ul>

        <p class="govuk-body">
            If you wish to report these concerns, you should email the Commission at paygap@equalityhumanrights.com
        </p>

        <p class="govuk-body">
            Alternatively, please contact the Commission via their postal address:
        </p>

        <p class="govuk-body">
            Equality and Human Rights Commission<br/>
            Fleetbank House<br/>
            2-6 Salisbury Square<br/>
            London<br/>
            EC4Y 8JX
        </p>
        
        <p class="govuk-body">
            If you require reasonable adjustments,
            use the contact us page to find details of <a class="govuk-link" rel="external noopener" href="https://www.equalityhumanrights.com/en/contact-us">alternative ways to contact the Equality and Human Rights Commission</a>,
            including telephone number and British Sign Language online interpreting service.
        </p>
    </div>
</div>