@model GenderPayGap.WebUI.Models.Account.ManageAccountViewModel

@{
    ViewBag.Title = "Manage account - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        await Html.RenderPartialAsync("../Components/Navigation/AccountTabs");
    }
}

<div class="govuk-!-margin-top-5"></div>

@{ await Html.RenderPartialAsync("../Components/StatusMessages/StatusMessages"); }

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Manage Account
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (!Model.IsUserBeingImpersonated)
        {
            <a class="govuk-link" href="@Url.Action("CloseAccountGet", "CloseAccount")">
                Close your account
            </a>
        }
    </div>
</div>

