<h3 class="govuk-heading-s">Related content</h3>
<ul class="govuk-list link-list__related-content">
    <li>
        <a class="govuk-link govuk-body-s" href="#">Four steps to developing a gender pay gap action plan</a>
    </li>
    <li>
        <a class="govuk-link govuk-body-s" href="#">Find and compare employer’s gender pay gaps</a>
    </li>
    <li>
        <a class="govuk-link govuk-body-s" href="#">Prepare and report your gender pay gap: step-by-step guidance for employers</a>
    </li>
</ul>