<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible section-break__guidance-update-details">
<div class="guidance-update-details">
    <p class="govuk-body-s">
        Published 31 March 2020
    </p>
                    
    <p class="govuk-body-s">
        Last updated 31 March 2020
    </p>
</div>
<div class="update-records">
    <div class="govuk-body-s govuk-!-font-weight-bold">31 March 2020</div>
    <div class="govuk-body-s">First published.</div>
</div>
