
@media (min-width: 40.0625em) {
    .employer-reports-page--alight-right-on-desktop {
        text-align: right;
    }
  
    .employer-reports-page--visually-hidden-on-desktop {
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden !important;
        clip: rect(0 0 0 0) !important;
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        border: 0 !important;
        white-space: nowrap !important;
    }
  
    .employer-reports-page--covid-hint-text {
        display: block;
        width: 200%;
    }
}

@media (max-width: 40.0625em) {
    .employer-reports-page--visually-hidden-on-mobile {
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden !important;
        clip: rect(0 0 0 0) !important;
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        border: 0 !important;
        white-space: nowrap !important;
    }
}
