@using GenderPayGap.WebUI.Views.Components.PaginationLinks
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@{
    ViewBag.Title = "Actions to close the gap - Gender pay gap service";
    Layout = "ActionHubLayout";
}

<h2 class="govuk-heading-l">Overview</h2>
<p class="govuk-body">
    Employers have asked us which actions are likely to improve recruitment and progression of women and reduce the gender pay gap.
</p>
<p class="govuk-body">
    This guidance summarises approaches that have been shown to work and those which need more evidence before they can be recommended as widespread approaches.
    This will help employers create more effective action plans.
</p>
<p class="govuk-body">
    Employers who use high quality data to understand the drivers of their gender pay gap will be able to target their actions and therefore deliver the most effective results.
</p>

@(await Html.GovUkAccordion(new AccordionViewModel()
{
    Sections = new List<AccordionSectionViewModel>
    {
        new AccordionSectionViewModel
        {
            Heading = new AccordionSectionItemViewModel
            {
                Text = "What evidence we have used"
            },
            Content = new AccordionSectionItemViewModel
            {
                Html = @<text>
                           <p class="govuk-body">
                               This guidance is based on the best available evidence currently.
                               It will be regularly updated as the evidence base develops.
                           </p>

                           <p class="govuk-body">
                               Where possible, we have used evidence based on randomised controlled trials that were conducted in the field and that measure objective outcomes related to recruitment, progression and promotion.
                               High quality evidence is currently scarce in the field of gender equality in the workplace.
                           </p>
                        </text>
            }
        },
        new AccordionSectionViewModel
        {
            Heading = new AccordionSectionItemViewModel
            {
                Text = "How you can help"
            },
            Content = new AccordionSectionItemViewModel
            {
                Html = @<text>
                           <p class="govuk-body">
                               To build better evidence, we encourage researchers and employers to evaluate the actions they take to improve gender equality in the workplace.
                           </p>

                           <p class="govuk-body">
                               The Government Equalities Office will be working with employers to build more evidence on what works.
                               If you represent an organisation with 4000 or more employees in the UK and would like to partner with us, please contact the Gender and Behavioural Insights programme <a class="govuk-link" href="mailto:gabiprogramme@bi.team">gabiprogramme@bi.team</a>
                               <br/>
                               This is a programme run by the Behavioural Insights Team for the Government Equalities Office.
                           </p>
                        </text>
            }
        }
    }
}))

@{
    var rightLink = new GpgPaginationLinkViewModel
    {
        Title = "Next",
        Text = "Effective actions",
        Url = Url.Action("Effective", "ActionHub")
    };

    await Html.RenderPartialAsync("/Views/Components/PaginationLinks/PaginationLinks.cshtml", new GpgPaginationLinksViewModel
    {
        LeftLink = null,
        RightLink = rightLink
    });
}

<p class="govuk-body-s govuk-!-margin-top-5">
    <a class="govuk-link print-link" href="/public/assets/pdf/Evidence-based_actions_for_employers.pdf">
        Print entire guide (PDF)
    </a>
</p>

<div class="pdf-preview">
    <span class="pdf-preview__image">
        <a href="/public/assets/pdf/Evidence-based_actions_for_employers.pdf">
            <img width="78" src="/img/what-works.png" alt=""/>
            <span class="govuk-visually-hidden">Actions to close the gender pay gap (pdf)</span>
        </a>
    </span>

    <span class="pdf-preview__text">
        <p class="govuk-body govuk-!-margin-bottom-1">
            <a class="govuk-link" href="/public/assets/pdf/Evidence-based_actions_for_employers.pdf">
                Actions to close the gender pay gap
                <span class="govuk-visually-hidden"> (pdf)</span>
            </a>
        </p>
        <p class="govuk-body-s govuk-!-margin-bottom-0">PDF, 8.45MB, 12 pages</p>
    </span>
</div>
