@using GenderPayGap.WebUI.Classes.Formatters
@model GenderPayGap.WebUI.Models.Scope.ScopingViewModel
@{
    ViewBag.Title = "Review your information - Gender pay gap reporting service";
}
<div class="grid-row">
    <div class="column-two-thirds">
        @using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form", autocomplete = "off", novalidate = ""}))
        {
            @Html.AntiForgeryToken()

            var reportDateFormatter = new GDSDateFormatter(Model.AccountingDate);

            <a class="link-back" href="@Url.Action("EnterOutOfScopeAnswers")">Back <span class="visuallyhidden"> to the previous question</span></a>

            <h1 class="heading-xlarge">
                Review your information
            </h1>

            @await Html.PartialAsync("Parts/SnapshotDatePart", Model)
            @await Html.PartialAsync("Parts/EmployerDetailsPart", Model)
            @await Html.PartialAsync("Parts/AnswersPart", Model)

            <br/>

            <p class="text">
                You are reminded that it is a legal obligation for relevant employers with 250 or more employees to report.
                Please ensure that you have considered the appropriate guidance carefully before proceeding.
                By submitting this notification, you are telling us that your organisation is not subject to the gender
                pay gap regulations for this reporting year.
            </p>

            <p class="text">
                The information you provide may be shared with the Equality and Human Rights Commission for the purposes of enforcing compliance with the gender pay gap reporting requirements.
            </p>

            <div class="form-group">
                <input id="NextStep" name="command" type="submit" class="button" value="Confirm and submit"/>
            </div>
        }
    </div>
</div>