@using GenderPayGap.WebUI.Models.Shared
@model GenderPayGap.WebUI.Models.Scope.ScopingViewModel
@{
    ViewBag.Title = "Complete - Gender pay gap reporting service";
    var controller = ViewData["Controller"] as BaseController;
}
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge">
                Complete
            </h1>
        </div>
        @await Html.PartialAsync("Parts/SnapshotDatePart", Model)
        @await Html.PartialAsync("Parts/EmployerDetailsPart", Model)
        @await Html.PartialAsync("Parts/AnswersPart", Model)
        @await Html.PartialModelAsync(new CheckYourAnswers(
            new CheckYourAnswer("Completed on", VirtualDateTime.Now.ToFriendlyDate(), "CompletedDateAnswer")
            ))
        <br/>
        <div class="no-print">
            <a class="print-link" onclick="window.print();return false;" href="#">Print this page for your records</a>
        </div>
        <p>
            <br/>
            You have told us that your organisation is not in scope of the gender pay gap reporting regulations.
            We will contact you if we need more information.
        </p>

        @if (Model.IsChangeJourney || User.Identity.IsAuthenticated)
        {
            if (Model.UserIsRegistered)
            {
                <p>
                    <a href="@Url.Action("ManageOrganisation", "Organisation", new {id = Encryption.EncryptQuerystring(Model.OrganisationId.ToString())})" class="button">Continue</a>
                </p>
            }
            else
            {
                <p>
                    <a href="@Url.Action(nameof(OrganisationController.ManageOrganisations), "Organisation")" class="button">Continue</a>
                </p>
            }
        }
        else
        {
            <h2 class="heading-medium">More Options</h2>
            <p class="notice">
                <i class="icon icon-important">
                    <span class="visually-hidden">Warning</span>
                </i>
                <strong class="bold-small">
                    If your organisation is in scope of the reporting regulations for one or more of the reporting years, or you wish to report voluntarily proceed to <a href="@Url.Action("RegisterOrManage")">@(Model.UserIsRegistered ? "" : "register and ")manage this organisation</a>.
                </strong>
            </p>
        }
    </div>
</div>