@{ var baseController = ViewData["Controller"] as BaseController; }
@if (baseController != null && baseController.ReportingOrganisation != null)
{
    <div class="service-info ">
        <ul class="service-info-right ">
            <li class="list-item">
                <span id="service-info-reporting-as" class="font-xsmall">Reporting as</span>
                <span id="service-info-organisation-name" class="bold-xsmall">@baseController.ReportingOrganisation.OrganisationName</span>
            </li>
        </ul>
    </div>
}