@using GenderPayGap.Core.Interfaces
@using GenderPayGap.Database
@model List<int>
@inject IDataRepository DataRepo;
@{
    IQueryable<SicCode> sicCodes = DataRepo.GetAll<SicCode>().Where(s => Model.Contains(s.SicCodeId));
}
<ul>
    @foreach (SicSection sector in sicCodes.Select(s => s.SicSection).Distinct().OrderBy(s => s.Description))
    {
        <li>
            <b>@sector.Description</b>
            
            @if (sector.SicSectionId != "X")
            {
                <ul class="list list-bullet">
                    @foreach (SicCode sicCode in sicCodes.Where(s => s.SicSectionId == sector.SicSectionId).Distinct().OrderBy(s => s.SicCodeId))
                    {
                        <li>
                            <span style="font-weight: bold; margin-right: 5px">
                                @sicCode.SicCodeId
                            </span>
                            <span>
                                @sicCode.Description
                            </span>
                        </li>
                            
                    }
                </ul>
            }
        </li>
    }
</ul>