@using GenderPayGap.Database
@model IQueryable<SicCode>

<ul class="govuk-list govuk-list--bullet">
    @foreach (SicSection sector in Model.Select(s => s.SicSection).Distinct().OrderBy(s => s.Description))
    {
        <li>
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">@sector.Description</p>

            @if (sector.SicSectionId != "X")
            {
                <ul class="govuk-list govuk-list--bullet">
                    @foreach (SicCode sicCode in Model.Where(s => s.SicSectionId == sector.SicSectionId).Distinct().OrderBy(s => s.SicCodeId))
                    {
                        <li>
                            <p class="govuk-body">
                                <span class="govuk-!-font-weight-bold govuk-!-margin-right-2">
                                    @sicCode.SicCodeId
                                </span>
                                <span>
                                    @sicCode.Description
                                </span>
                            </p>
                        </li>

                    }
                </ul>
            }
        </li>
    }
</ul>