@using Microsoft.AspNetCore.Mvc.ModelBinding
<div id="ErrorSummary" class="@(ViewData.ModelState.IsValid ? "customvalidation-summary-valid" : "customvalidation-summary-errors") error-summary" data-valmsg-summary="@(!ViewBag.ExcludePropertyErrors)">
    @if (!string.IsNullOrWhiteSpace(ViewBag.ValidationSummaryMessage))
    {
        <span>@ViewBag.ValidationSummaryMessage</span>
    }
    <ul>
        @foreach (ModelError modelError in ViewData.ModelState.Where(kv => ViewBag.ExcludePropertyErrors == false || string.IsNullOrWhiteSpace(kv.Key)).SelectMany(keyValuePair => keyValuePair.Value.Errors))
        {
            <li>@modelError.ErrorMessage</li>
        }
    </ul>
</div>