<p>
    <strong>The median gender pay gap figure</strong><br/>
    This is the difference between the hourly pay of the median man and the hourly pay of the median woman. The median for each is the man or woman who is in the middle of a list of hourly pay ordered from highest to lowest paid.
</p>
<p>
    A median involves listing all of the numbers in numerical order. If there is an odd number of results, the median is the middle number. If there is an even number of results, the median will be the mean of the two central numbers.
</p>
<p>
    Medians are useful to indicate what the &lsquo;typical&rsquo; situation is. They are not distorted by very high or low hourly pay (or bonuses). However, this means that not all gender pay gap issues will be picked up. They could also fail to pick up as effectively where the gender pay gap issues are most pronounced in the lowest paid or highest paid employees.
</p>
<p>
    <strong>The mean (average) gender pay gap figure</strong><br/>
    The mean gender pay gap figure uses hourly pay of all employees to calculate the difference between the mean hourly pay of men, and the mean hourly pay of women.
</p>
<p>
    A mean involves adding up all of the numbers and dividing the result by how many numbers were in the list.
</p>
<p>
    Mean averages are useful because they place the same value on every number they use, giving a good overall indication of the gender pay gap. But very high or low hourly pay can &lsquo;dominate&rsquo; and distort the figure.
</p>
