<svg width="100%" height="363px" viewBox="0 0 555 363" style="margin: 0 0 50px -30px;">
    <title>Gender imbalance by recruitment process by seniority</title>
    <g id="Gender-imbalance-by-recruitment-process-by-seniority" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <text id="Lower-level-50%-women" font-family="GDS Transport, GDS Transport" font-size="16" font-weight="bold" line-spacing="25" fill="#0B0C0C">
            <tspan x="176.015625" y="296">Lower level</tspan>
            <tspan x="134.039062" y="321" font-family="GDS Transport, GDS Transport" font-weight="300">50% women hired</tspan>
        </text>
        <text id="Bottom-middle-level" font-family="GDS Transport, GDS Transport" font-size="16" font-weight="bold" line-spacing="25" fill="#0B0C0C">
            <tspan x="143.90625" y="234">Bottom middle level</tspan>
            <tspan x="167.632812" y="259" font-family="GDS Transport, GDS Transport" font-weight="300">55% women hired</tspan>
        </text>
        <text id="Upper-middle-level-4" font-family="GDS Transport, GDS Transport" font-size="16" font-weight="bold" line-spacing="25" fill="#0B0C0C">
            <tspan x="181.515625" y="169">Upper middle level</tspan>
            <tspan x="192.960938" y="194" font-family="GDS Transport, GDS Transport" font-weight="300">45% women hired</tspan>
        </text>
        <text id="Top-level-34%-women" font-family="GDS Transport, GDS Transport" font-size="16" font-weight="bold" line-spacing="25" fill="#0B0C0C">
            <tspan x="279.398438" y="112">Top level</tspan>
            <tspan x="344" y="112" font-family="GDS Transport, GDS Transport" font-weight="300"></tspan>
            <tspan x="219.828125" y="137" font-family="GDS Transport, GDS Transport" font-weight="300">34% women hired</tspan>
        </text>
        <text id="Example-of-gender-im" font-family="GDS Transport, GDS Transport" font-size="16" font-weight="bold" fill="#0B0C0C">
            <tspan x="29" y="51">Example of gender imbalance by recruitment process, by seniority</tspan>
        </text>
        <g id="Group-2" transform="translate(267.000000, 105.000000)">
            <polygon id="Stroke-1" stroke="#626A6E" stroke-width="2" points="110 41 157 41 133.517501 0"></polygon>
            <polygon id="Stroke-3" stroke="#626A6E" stroke-width="2" points="100.883008 56 73 104 193 104 165.108048 56"></polygon>
            <polygon id="Stroke-4" stroke="#626A6E" stroke-width="2" points="64.956324 118 37 166 230 166 202.052632 118"></polygon>
            <polygon id="Stroke-5" stroke="#626A6E" stroke-width="2" points="27.9534307 181 0 229 266 229 238.046042 181"></polygon>
            <polygon id="Fill-7" fill="#005EA5" points="28.0370677 181 0 229 133.5 229 133.647029 181"></polygon>
            <polygon id="Fill-8" fill="#005EA5" points="65.1661521 118 37 166 138.753906 166 138.753906 118"></polygon>
            <polygon id="Fill-9" fill="#005EA5" points="100.738093 56 73 104 126.699219 104 127.150381 56"></polygon>
            <polygon id="Fill-10" fill="#005EA5" points="110 41 127.904785 41 127.904785 10.8916016"></polygon>
        </g>
    </g>
</svg>