@{
    ViewBag.Title = "Gender pay gap: About mean and median";
}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">About mean and median</h1>

            <p>The <strong>mean</strong> hourly rate is the average hourly wage across the entire organisation so the mean gender pay gap is a measure of the difference between women’s mean hourly wage and men’s mean hourly wage.</p>
            <p>The <strong>median</strong> hourly rate is calculated by ranking all employees from the highest paid to the lowest paid, and taking the hourly wage of the person in the middle; so the median gender pay gap is the difference between women’s median hourly wage (the middle paid woman) and men’s median hourly wage (the middle paid man).</p>

            <p class="script-only" style="text-align:center;">
                <button class="button" onclick="windowClose()">Close Window</button>
            </p>

        </div>
    </div>
</main>