@{
    ViewBag.Title = "Gender pay gap: About mean and median";
}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">About quartiles</h1>

            <p>Pay quartiles are calculated by splitting all employees in an organisation into four even groups according to their level of pay. Looking at the proportion of women in each quartile gives an indication of women's representation at different levels of the organisation.</p>

            <p class="script-only" style="text-align:center;">
                <button class="button" onclick="windowClose()">Close Window</button>
            </p>
        </div>
    </div>
</main>