@{
    ViewBag.Title = "Confirm In Scope - Gender pay gap service";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        Confirm in scope
    </div>
</div>
        

