@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@{
    ViewBag.Title = "Eight ways to understand your organisation's gender pay gap - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Home",
                Href = Url.Action("Index", "Viewing")
            },
            new CrumbViewModel
            {
                Text = "Eight ways to understand your organisation's gender pay gap"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Guidance</span>
        <h1 class="govuk-heading-xl">Eight ways to understand your organisation's gender pay gap</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l">
            Key questions for employers to ask that will help you to identify different
            potential causes of your gender pay gap.
        </p>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>
    
</div>

<h3 class="govuk-heading-m">Contents</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>
        <a class="govuk-link" href="#">Overview</a>
    </li>
    <li>
        <a class="govuk-link" href="#">Do people get ‘stuck’ at certain levels within your organisation?</a>
    </li>
    <li>
        <a class="govuk-link" href="#">Is there gender imbalance in your promotions?</a>
    </li>
    <li>
        <a class="govuk-link" href="#">Are women more likely to be recruited into lower paid roles in your organisation?</a>
    </li>
    <li>
        <a class="govuk-link" href="#">Do men and women leave your organisation at different rates?</a>
    </li>
    <li>
        <a class="govuk-link" href="#">Do particular aspects of pay (such as starting salaries and bonuses) differ by gender?</a>
    </li>
    <li>
        <a class="govuk-link" href="#">Do men and women receive different performance scores on average?</a>
    </li>
    <li>
        <a class="govuk-link" href="#">Are you doing all that you can to support part-time employees to progress?</a>
    </li>
    <li>
        <a class="govuk-link" href="#">Are you supporting both men and women to take on caring responsibilities?</a>
    </li>
</ul>


