@using (Html.BeginForm("SearchResults", "Viewing", FormMethod.Get, new {id = "FinderForm"}))
{
    <div class="form-group">
        <div class="gov-uk-c-searchbar">
            <div class="gov-uk-l-searchbar__table">
                <label class="govuk-visually-hidden" for="organisation-search">Search by organisation</label>
                <div class="gov-uk-l-searchbar__cell autocomplete-wrapper" id="organisation-search"></div>
                <div class="gov-uk-l-searchbar__cell">
                    <button class="gov-uk-c-searchbar__submit gov-uk-c-searchbar__submit--black" id="NextStep" type="submit">Search</button>
                </div>
            </div>
        </div>
    </div>
}