@using GenderPayGap.Core
@{
    ViewBag.Title = "Contact us - Gender pay gap reporting service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

<div id="contact-us-content" class="grid-row">
    <div class="column-two-thirds">

        <h1 class="govuk-heading-xl">
            Contact Us
        </h1>
        <h2 class="govuk-heading-m">Email</h2>
        <p class="govuk-body">
            If you are an employer you can contact the gender pay gap team about the service or registration issues you're having at <a class="govuk-link" href="mailto:@(Global.GpgReportingEmail)" target="_blank">@Global.GpgReportingEmail</a>
        </p>

        <h2 class="govuk-heading-m">Online</h2>
        <p class="govuk-body">If you would like to leave general feedback on the service please complete this <a class="govuk-link" href="@Url.Action("SendFeedbackGet", "Feedback")">online feedback form</a>.</p>
        <p class="govuk-body">Read our <a class="govuk-link" href="https://www.gov.uk/guidance/gender-pay-gap-reporting-overview" target="_blank" rel="noopener noreferrer">guidance to gender pay gap reporting<span class="govuk-visually-hidden">(opens in a new window)</span></a>.</p>

        <h2 class="govuk-heading-m">Post</h2>
        <p class="govuk-body">
            Write to the Government Equalities Office:
        </p>
        <p class="govuk-body">
            Gender pay gap team<br />
            Government Equalities Office<br />
            6th Floor, Sanctuary Buildings<br />
            Great Smith Street<br />
            London<br />
            SW1P 3BT
        </p>

    </div>
</div>