@{
    ViewBag.Title = "Report gender pay gap concerns about an organisation";
    ViewBag.pageDescription = "If you have concerns about an organisation in relation to gender pay gap regulations you can report them anonymously to the Equality and Human Rights Commission.";
    ViewBag.AnonymizeIpTracking = true;
}
<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">
            Report your concerns
        </h1>
        <p>
            The Equality and Human Rights Commission are responsible for enforcing the Gender Pay Gap Regulations and you can <a download="true" href="https://www.equalityhumanrights.com/sites/default/files/gender-pay-gap-enforcing-the-regulations-march-2018.pdf">download<span class="visually-hidden"> enforcing the Gender Pay Gap Regulations (pdf)</span></a> their enforcement policy.
            If you have concerns about an organisation in relation to the gender pay gap regulations, you may report these to the Equality and Human Rights Commission.
        </p>

        <p>
            These concerns may relate to:
        </p>
        <ul class="list list-bullet">
            <li>Believing that an organisation should be reporting their gender pay gap and is not doing so
            <li>Believing that an organisation is reporting inaccurate gender pay gap figures
            <li>Any other issues related to gender pay gap reporting within an organisation
        </ul>

        <p>
            If you wish to report these concerns, you should email the Commission at paygap@equalityhumanrights.com
        </p>

        <p>
            Alternatively, please contact the Commission via their postal address:
        </p>

        <div class="panel">
            <address style="font-style: normal">
                Equality and Human Rights Commission<br/>
                Fleetbank House<br/>
                2-6 Salisbury Square<br/>
                London<br/>
                EC4Y 8JX
            </address>
        </div>
        <p>
            If you require reasonable adjustments,
            use the contact us page to find details of alternative ways to <a rel="external noopener" href="https://www.equalityhumanrights.com/en/contact-us">contact</a> the Equality and Human Rights Commission,
            including telephone number and British Sign Language online interpreting service.
        </p>
    </div>
</div>