
############################################################################################
# A note from February 2024...
#
#  As of February 2024, this service:
#  * Uses .Net Core 3.1
#    .Net Core 3.1 went out of support in Dec 2022
#    https://dotnet.microsoft.com/en-us/platform/support/policy/dotnet-core
#    Check which version of .Net (Core) you're using here:
#      /GenderPayGap.WebUI/GenderPayGap.WebUI.csproj   <TargetFramework>   (https://github.com/cabinetoffice/gender-pay-gap/blob/56b32abc4568/GenderPayGap.WebUI/GenderPayGap.WebUI.csproj#L4)
#
#  * Uses AWS Elastic Beanstalk with platform version "64bit Amazon Linux 2 v2.4.0 running .NET Core"
#    https://docs.aws.amazon.com/elasticbeanstalk/latest/platforms/platform-history-dotnetlinux.html#platform-history-2022-10-03
#    This Elastic Beanstalk (EB) platform version supports .Net Core 3.1
#    Check which EB platform version you're using here:
#      /terraform/elasticbeanstalk.tf   elb_solution_stack_name="..."   (https://github.com/cabinetoffice/gender-pay-gap/blob/56b32abc4568/terraform/elasticbeanstalk.tf#L9)
#
#  The Elastic Beanstalk platform version ("64bit Amazon Linux 2 v2.4.0 running .NET Core") uses Nginx version 1.20.0
#  https://docs.aws.amazon.com/elasticbeanstalk/latest/platforms/platform-history-dotnetlinux.html#platform-history-2022-10-03
#
#  Nginx version 1.20.0 has at least 2 security vulnerabilities that we've been made aware of by Cabinet Office Cyber Security
#  So, we need to upgrade Nginx.
#  We should also upgrade .Net Core, but this is a much bigger job.
#
#  The easiest way to upgrade Nginx would be to use a more up-to-date Elastic Beanstalk platform version.
#  For instance, as of February 2024, the version "64bit Amazon Linux 2 v2.6.4 running .NET Core" uses Nginx 1.22.1,
#  which is unaffected by the security vulnerabilities we've been made aware of.
#  https://docs.aws.amazon.com/elasticbeanstalk/latest/platforms/platform-history-dotnetlinux.html#platform-history-2024-01-29
#  However, this Elastic Beanstalk application version doesn't support .Net Core 3.1
#
#  The latest EB platform version that supports .Net Core 3.1 is "64bit Amazon Linux 2 v2.5.7 running .NET Core"
#  https://docs.aws.amazon.com/elasticbeanstalk/latest/platforms/platform-history-dotnetlinux.html#platform-history-2023-09-05
#  But, as of February 2024, this EB platform version was no longer available to start using.
#  Note: You can't start using an old EB platform version, but if you're already using an old platform version, you can continue using it
#  Hence why we can't start using v2.5.7, but we can continue to use v2.4.0
#
#  So, there's no EB platform version available that we can update to that supports both:
#  - .Net Core 3.1 and
#  - Nginx 1.22.1 or newer
#
#  So, we're going to have to upgrade Nginx manually.
#  This code below asks Elastic Beanstalk to upgrade Nginx from the URL specified (v1.24.0 as of February 2024)
#  See AWS documentation:
#  - https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-ec2.html#linux-packages
#
#
############################################################################################
#
#     .####   #####   .####.    #####. 
#     #         #     #    #    #    #
#     '###.     #     #    #    #####'
#         #     #     #    #    #
#     ####'     #     '####'    #
#
#  !!! WHAT TO DO IF YOU'RE EDITING THIS FILE IN THE FUTURE !!!
#
#  First, check if this file is needed at all
#  You don't need this file if:
#  - The EB platform version you're using uses an up-to-date version of Nginx
#  OR
#  - You can upgrade to an EB platform version that:
#    - supports the version of .Net (Core) that you're using AND
#    - has an up-to-date version of Nginx
#    See: https://docs.aws.amazon.com/elasticbeanstalk/latest/platforms/platforms-supported.html#platforms-supported.dotnetlinux
#
############################################################################################
packages:
  rpm:
    nginx: https://nginx.org/packages/centos/7/x86_64/RPMS/nginx-1.24.0-1.el7.ngx.x86_64.rpm
