@{
    ViewBag.Title = $"Sorry, the service is unavailable - Gender pay gap service - GOV.UK";
    ViewBag.ServiceUnavailable = true;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Sorry, the service is unavailable
        </h1>
        
        <p class="govuk-body">
            You will be able to use the service from
            
            <!-- TODO -->
            Xpm on XXXday XX February 2025.
            <!-- TODO -->
        </p>
        
        <p class="govuk-body">
            <a class="govuk-link" href="mailto:gpg.reporting@cabinetoffice.gov.uk">
                Contact the Gender Pay Gap team</a>
            if your request is urgent.
        </p>

    </div>
</div>
