@using GenderPayGap.WebUI.Models.Shared
@{
    Layout = "Index.cshtml";
    var index = 1;
}

<h2 class="heading-large">Actions with mixed results</h2>
<p>
    These actions have been shown to have a positive impact sometimes and at other times a negative impact. This might be due to how they are implemented or other factors that we don’t fully understand yet. Due to the mixed evidence, we cannot yet make a general recommendation that these are good ways to reduce gender inequality.
</p>

<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="heading-small">Unconscious bias training</h3>
    <p>
        Unconscious biases can influence a person’s judgement without them being aware of it.
        Unconscious bias training in the workplace aims to make people aware of potentially harmful unconscious biases and to reduce the impact of those biases. While some types of unconscious bias training may have some limited positive effects, there is currently no evidence that this training changes behaviour or improves workplace equality.
    </p>
</div>

<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="heading-small">Diversity training</h3>
    <p>
        Diversity training can help raise awareness but is unlikely to change behaviour.
        Some research in the US has found that mandatory diversity training either does not change the number of women in management positions, or actually reduces it.
        This backfiring may be for a number of reasons.
        It may be because people resent being made to do something and so do not take the training seriously.
        The training might also bring to mind unhelpful stereotypes which people then act upon, or the training might make people think that the organisation has now solved its diversity problems.
    </p>
</div>
<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="heading-small">Leadership development training</h3>
    <p>
        Leadership development programmes aim to teach qualities including management skills and self-confidence. While there are some very small-scale studies of the effects of leadership training programmes for women, particularly in medicine and academia, there is currently no high-quality evidence that such programmes help women progress. Some people feel that these programmes imply that the women themselves are the problem.
    </p>
</div>
<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="heading-small">Use performance self-assessments</h3>
    <p>
        In terms of performance in the workplace, there is some evidence that women underestimate their abilities or are more conservative in their assessment of their abilities than men are. The size of this gender difference can vary depending on the type of performance people are asked to self-assess. We do not have enough evidence to know how differences in self-assessment affect women’s progression at work.
    </p>
</div>
<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="heading-small">Diverse selection panels</h3>
    <p>
        Having selection panels with a mix of men and women seems to help women's prospects sometimes and harm them at other times. Some studies show that the more women there are on a panel, the more likely women are to be selected for a role, while some studies find the opposite. The effect can also depend on the role being recruited for or the role of women on the committee. More research is needed to understand the conditions under which a diverse selection panel is or isn’t effective for improving gender equality.
    </p>
</div>

@await Html.PartialModelAsync(new Accordion(
    new AccordionSection("References", "", "/Views/ActionHub1/MixedResultParts/References.cshtml", "Mixed")
    ))

@await Html.PartialModelAsync(new Pagination(
    new PaginationLink(Url.Action("Promising", "ActionHub"), "Previous", "Promising actions", true)
    ))
<div style="margin-bottom: 25px; font-size: 16px!important">
    <a rel="download" class="print-link" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/public/assets/pdf/Evidence-based_actions_for_employers.pdf" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Gender pay gap explained&quot;}" href="/public/assets/pdf/Evidence-based_actions_for_employers.pdf">Print entire guide</a>
</div>