@using GenderPayGap.WebUI.Models.Shared
@{
    ViewBag.Title = "Actions to close the gap - GOV.UK";   
    Layout = "Index.cshtml";
}

<h2 class="heading-large">Overview</h2>
<p>
    Employers have asked us which actions are likely to improve recruitment and progression of women and reduce the gender pay gap.
</p>
<p>
    This guidance summarises approaches that have been shown to work and those which need more evidence before they can be recommended as widespread approaches.
    This will help employers create more effective action plans.
</p>
<p>
    Employers who use high quality data to understand the drivers of their gender pay gap will be able to target their actions and therefore deliver the most effective results.
</p>

@await Html.PartialModelAsync(new Accordion(
    new AccordionSection("What evidence we have used", "", "/Views/ActionHub1/OverviewParts/Evidence.cshtml", "evidence-used"),
    new AccordionSection("How you can help", "", "/Views/ActionHub1/OverviewParts/Help.cshtml", "how-you-can-help")
    ))

@await Html.PartialModelAsync(new Pagination(
    new PaginationLink(Url.Action("Effective", "ActionHub"), "Next", "Effective actions")
    ))
<div style="margin-bottom: 25px; font-size: 16px!important">
    <a rel="download" class="print-link" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/public/assets/pdf/Evidence-based_actions_for_employers.pdf" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Gender pay gap explained&quot;}" href="/public/assets/pdf/Evidence-based_actions_for_employers.pdf">Print entire guide<span class="visually-hidden"> (pdf)</span></a>
</div>
@*Actions to close the gender pay gap - download PDF*@
<table class="table-responsive">
    <tbody>
    <tr>
        <td style="width: 100px;">
            <a rel="download" download class="gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/public/assets/pdf/Evidence-based_actions_for_employers.pdf" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Gender pay gap explained&quot;}" href="/public/assets/pdf/Evidence-based_actions_for_employers.pdf">
                <img style="border:6px solid #dee0e2" width="78" src="/img/what-works.png" alt="thumbprint of the report" />
                <span class="visually-hidden">Actions to close the gender pay gap (pdf)</span>
            </a>
        </td>
        <td style="vertical-align: top">
            <div style="width: 180px; align-content: left;">
                <a rel="download" download data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/public/assets/pdf/Evidence-based_actions_for_employers.pdf" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Gender pay gap explained&quot;}" href="/public/assets/pdf/Evidence-based_actions_for_employers.pdf"
                   style="font-size: 19px !important">
                    Actions to close the gender pay gap
                    <span class="visually-hidden"> (pdf)</span>
                </a>
            </div>
            <div class="text-left font-xsmall">
                <p>PDF, 8.45MB, 12 pages</p>
            </div>
        </td>
    </tr>
    </tbody>
</table>