@using GenderPayGap.WebUI.Models.Shared
@{
    ViewBag.Title = "Actions to close the gap - GOV.UK";
    Layout = "Index.cshtml";
    var index = 1;
}

<h2 class="heading-large">Promising actions</h2>
<p>
    These actions are promising and require further research to improve the evidence on their effectiveness and how best to implement them.
    The government has policies in place supporting some of these actions to improve women's participation in the workforce.
    The government is evaluating their effectiveness and we recommend that employers evaluate their actions too.
</p>

<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="heading-small">Improve workplace flexibility for men and women</h3>
    <p>
        <span class="label--black font-xsmall">Government Initiative</span>
    </p>
    <ul class="list list-bullet">
        <li>Advertise and offer all jobs as having flexible working options, such as part-time work, remote working, job sharing or compressed hours</li>
        <li>Allow people to work flexibly, where possible</li>
        <li>Encourage senior leaders to role model working flexibly and to champion flexible working</li>
        <li>Encourage men to work flexibly, so that it isn’t seen as only a female benefit</li>
    </ul>
</div>

<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="heading-small">Encourage the uptake of Shared Parental Leave</h3>
    <p>
        <span class="label--black font-xsmall">Government Initiative</span>
    </p>
    <p>
        The gender pay gap widens dramatically after women have children but this could be reduced if men and women were able to share childcare more equally.
        Shared Parental Leave and Pay enables working parents to share up to 50 weeks of leave and up to 37 weeks of pay in their child’s first year.
    </p>
    <ul class="list list-bullet">
        <li>Offer enhanced Shared Parental Pay at the same level as enhanced maternity pay</li>
        <li>
            Encourage take up of Shared Parental Leave (see our <a target="_blank" rel="noopener" href="https://sharedparentalleave.campaign.gov.uk/"><span class="visually-hidden">Shared Parental Leave </span>guidance<span class="visually-hidden">(opens in a new window)</span></a>). For example:
            <ul class="list list-circle">
                <li>Inform future fathers that it’s their legal right to request Shared Parental Leave</li>
                <li>Provide future parents guidance and personal support to understand the scheme</li>
                <li>Share and promote examples of senior leaders who have taken Shared Parental Leave in your organisation</li>
            </ul>
        </li>
    </ul>
</div>

<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="heading-small">Recruit returners</h3>
    <p>
        <span class="label--black font-xsmall">Government Initiative</span>
    </p>
    <p>
        Returners are people who have taken an extended career break for caring or other reasons and who are either not currently employed or are working in roles for which they are over-qualified.
    </p>
    <p>
        Use our <a target="_blank" rel="noopener" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/685064/Returner_Programmes_-_Best_Practice_Guidance_for_Employers.pdf"><span class="visually-hidden">Returner Programmes </span>guidance<span class="visually-hidden">(opens in a new window)</span></a> to see how to attract and hire returners. For example:
    </p>
    <ul class="list list-bullet">
        <li>Target places where returners are likely to be looking</li>
        <li>Ensure the recruitment process is returner-friendly</li>
        <li>Offer support before and during the assessment</li>
    </ul>
</div>

<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="heading-small">Offer mentoring and sponsorship</h3>
    <p>
        Although quite similar roles, mentors provide guidance and advice to their mentee while sponsors support the advancement and visibility of the person they are sponsoring. Some evidence suggests that mentoring programmes work very well for some women but not for others. It is not clear based on existing evidence whether sponsorships are more effective than mentoring, or how best to run mentoring and sponsorship programmes so they are effective.
    </p>
</div>

<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="heading-small">Offer networking programmes</h3>
    <p>
        Some evidence suggests that formal networking programmes where members meet and share information and career advice can be helpful for some women but not others.
        More work is needed to understand the effects of networking programmes, and whether they need to have particular features in order to be successful.
    </p>
</div>

<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="heading-small">Set internal targets</h3>
    <p>
        It is important to ensure employers’ equality goals are clear and realistic, and that progress towards them can be tracked. "Improving gender equality at my organisation" or "reducing my organisation's gender pay gap" can be overarching goals, but they are not specific and they therefore risk being unsuccessful. One way of increasing the likelihood that goals will be reached is by setting specific, time-bound targets: what change will be achieved, and by when?
    </p>
</div>

@await Html.PartialModelAsync(new Accordion(
    new AccordionSection("References", "", "/Views/ActionHub1/PromisingParts/References.cshtml", "Promising")
    ))

@await Html.PartialModelAsync(new Pagination(
    new PaginationLink(Url.Action("Effective", "ActionHub"), "Previous", "Effective actions", true),
    new PaginationLink(Url.Action("MixedResult", "ActionHub"), "Next", "Actions with mixed results")
    ))
<div style="margin-bottom: 25px; font-size: 16px!important">
    <a rel="download" class="print-link" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/public/assets/pdf/Evidence-based_actions_for_employers.pdf" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Gender pay gap explained&quot;}" href="/public/assets/pdf/Evidence-based_actions_for_employers.pdf">Print entire guide<span class="visually-hidden"> (pdf)</span></a>
</div>