<svg width="555px" height="363px" viewBox="0 0 555 363" style="margin-left: -30px;">
    <title>Gender imbalance by seniority structure</title>
    <g id="Gender-imbalance-by-seniority-structure" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <text id="Lower-level-50%-wome" font-family="GDS Transport, GDS Transport" font-size="16" font-weight="bold" line-spacing="25" fill="#0B0C0C">
            <tspan x="175.015625" y="304">Lower level</tspan>
            <tspan x="171.390625" y="329" font-family="GDS Transport, GDS Transport" font-weight="300">50% women</tspan>
        </text>
        <text id="Bottom-middle-level" font-family="GDS Transport, GDS Transport" font-size="16" font-weight="bold" line-spacing="25" fill="#0B0C0C">
            <tspan x="142.90625" y="242">Bottom middle level</tspan>
            <tspan x="204.984375" y="267" font-family="GDS Transport, GDS Transport" font-weight="300">55% women</tspan>
        </text>
        <text id="Upper-middle-level-4" font-family="GDS Transport, GDS Transport" font-size="16" font-weight="bold" line-spacing="25" fill="#0B0C0C">
            <tspan x="180.515625" y="177">Upper middle level</tspan>
            <tspan x="230.3125" y="202" font-family="GDS Transport, GDS Transport" font-weight="300">45% women</tspan>
        </text>
        <text id="Top-level-34%-women" font-family="GDS Transport, GDS Transport" font-size="16" font-weight="bold" line-spacing="25" fill="#0B0C0C">
            <tspan x="278.398438" y="120">Top level</tspan>
            <tspan x="257.179688" y="145" font-family="GDS Transport, GDS Transport" font-weight="300">34% women</tspan>
        </text>
        <g id="Group-2" transform="translate(267.000000, 112.000000)">
            <polygon id="Stroke-1" stroke="#626A6E" stroke-width="2" points="110 41 157 41 133.517501 0"></polygon>
            <polygon id="Stroke-3" stroke="#626A6E" stroke-width="2" points="100.883008 56 73 104 193 104 165.108048 56"></polygon>
            <polygon id="Stroke-4" stroke="#626A6E" stroke-width="2" points="64.956324 118 37 166 230 166 202.052632 118"></polygon>
            <polygon id="Stroke-5" stroke="#626A6E" stroke-width="2" points="27.9534307 181 0 229 266 229 238.046042 181"></polygon>
            <polygon id="Fill-7" fill="#1d70b8" points="28.0370677 181 0 229 133.5 229 133.647029 181"></polygon>
            <polygon id="Fill-8" fill="#1d70b8" points="65.1661521 118 37 166 138.753906 166 138.753906 118"></polygon>
            <polygon id="Fill-9" fill="#1d70b8" points="100.738093 56 73 104 126.699219 104 127.150381 56"></polygon>
            <polygon id="Fill-10" fill="#1d70b8" points="110 41 127.904785 41 127.904785 10.8916016"></polygon>
        </g>
        <text id="Example-of-gender-im" font-family="GDS Transport, GDS Transport" font-size="16" font-weight="bold" fill="#0B0C0C">
            <tspan x="29" y="48">Example of gender imbalance by seniority structure</tspan>
        </text>
    </g>
</svg>