@using GenderPayGap.WebUI.Models.Admin
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Admin.FileUploadType
@{
    ViewBag.Title = "Reference Data - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new CrumbViewModel
            {
                Text = "Reference Data",
                Href = Url.Action("ReferenceData", "AdminReferenceData")
            },
            new CrumbViewModel
            {
                Text = Model == FileUploadType.SicCode ? "SIC codes" : "SIC sections"
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                The @(Model == FileUploadType.SicCode ? "SIC codes" : "SIC sections") were updated successfully
            </h1>
        </div>

        <p class="govuk-body">
            <a href="@Url.Action("ReferenceData", "AdminReferenceData")"
               class="govuk-link">
                Return to the reference data page
            </a>
        </p>

    </div>
</div>
