@using GenderPayGap.Core.Helpers
@using GenderPayGap.WebUI.Helpers
@using GenderPayGap.WebUI.Models.Shared
@using GenderPayGap.WebUI.Models.Viewing.Download
@model List<GenderPayGap.WebUI.Models.Viewing.Download.DownloadCsvFile>

@{
    ViewBag.Title = "Download gender pay gap figures - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Download gender pay gap data
        </h1>

        <p class="govuk-body">
            These files are in a CSV (Comma Separated Values) format that can be read by any spreadsheet program or word processor. They are not formatted for printing.
        </p>
        
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    About CSV data
                </span>
            </summary>
            <div class="govuk-details__text">
                <partial name="CSVDataTable" />
            </div>
        </details>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <ul class="govuk-list">
            @foreach (DownloadCsvFile downloadCsvFile in Model)
            {
                <li>
                    @if (downloadCsvFile.FileIsAvailable)
                    {
                        string fileSizeText = downloadCsvFile.FileSize.HasValue ? $"{DownloadHelper.GetFormattedFileSize(downloadCsvFile.FileSize.Value)} " : "";
                        
                        <a href="@Url.Action("DownloadData", "Download", new {year = downloadCsvFile.ReportingYear})"
                           class="govuk-link">
                            <span class="govuk-visually-hidden">Download gender pay gap data for</span>
                            Reporting year
                            @(ReportingYearsHelper.FormatYearAsReportingPeriod(downloadCsvFile.ReportingYear))
                            (@(fileSizeText)CSV file)
                        </a>
                    }
                    else
                    {
                        <span>
                            Reporting year
                            @(ReportingYearsHelper.FormatYearAsReportingPeriod(downloadCsvFile.ReportingYear))
                            (no CSV file available)
                        </span>
                    }
                </li>
            }
        </ul>

    </div>
</div>
