@using GenderPayGap.WebUI.Helpers

@{
    ViewBag.Title = "Download gender pay gap figures - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Download gender pay gap data
        </h1>

        <p class="govuk-body">
            These files are in a CSV (Comma Separated Values) format that can be read by any spreadsheet program or word processor. They are not formatted for printing.
        </p>
        
        <ul class="govuk-list">
            @foreach (int year in ReportingYearsHelper.GetReportingYears().OrderByDescending(y => y))
            {
                <li>
                    <a href="@Url.Action("DownloadData", "Viewing", new { year = year })"
                       class="govuk-link">
                        <span class="govuk-visually-hidden">Download gender pay gap data for</span>
                        Reporting year @(year)-@((year + 1) % 100) (CSV file)
                    </a>
                </li>
            }
        </ul>


    </div>
</div>
