@{
    ViewBag.Title = "Feedback sent - Gender pay gap reporting service";
}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-large">Thank you</h1>

            <h2 class="font-medium">Thank you for giving us your feedback about the gender pay gap service. We regularly update the service and pay careful attention to all the comments we receive.</h2><br>

            <a class="govuk-link govuk-!-font-size-27" href="/">Go to search and compare gender pay gap data</a>

        </div>
    </div>
</main>