@using GenderPayGap.WebUI.Models.Search
@model GenderPayGap.WebUI.Models.Search.SearchViewModel

<a id="ClearFilters" href="search-results?search=@(Model.search)">Clear all filters</a>

<h2 class="govuk-visually-hidden">Search filters</h2>

<div class="filter-divider"></div>

<partial name="~/Views/Viewing/Finder/Parts/Facets/OptionSelect.cshtml" model="Model.SizeFilterGroup"/>

<div class="filter-divider"></div>

<partial name="~/Views/Viewing/Finder/Parts/Facets/OptionSelect.cshtml" model="Model.SectorFilterGroup"/>

<div class="filter-divider"></div>

<partial name="~/Views/Viewing/Finder/Parts/Facets/OptionSelect.cshtml" model="Model.ReportingYearFilterGroup"/>

<div class="filter-divider"></div>

<partial name="~/Views/Viewing/Finder/Parts/Facets/OptionSelect.cshtml" model="Model.ReportingStatusFilterGroup"/>

<div class="filter-divider"></div>

<input id="UpdateFilterParams" class="button button-update js-update-filters" type="submit" value="Update results"/>
