@model GenderPayGap.WebUI.Models.Search.SearchViewModel

<h2 class="govuk-visually-hidden">Search results</h2>

<div class="search-results-divider govuk-body">
    <partial name="~/Views/Viewing/Finder/Parts/ResultsInfo.cshtml" model="Model"/>
    @if (Model.Employers.ActualRecordTotal > 1)
    {
        <div id="AddAllOrgsToCompare" style="@(Model.t == "1" ? "display: none;" : "display: block;");">
            <a rel="track" data-track-category="Compare Link Clicked" href="@(Url.Action(nameof(ViewingController.AddSearchResultsToCompare), "Viewing"))@(Context.Request.QueryString)">
                Add all employers to comparison list
            </a>
            <br/>
            <br/>
        </div>
    }
</div>

<div>
    @if (Model.Employers.Results.Count < 1)
    {
        <partial name="~/Views/Viewing/Finder/Parts/NoResults.cshtml"/>
    }
    else
    {
        <partial name="~/Views/Viewing/Finder/Parts/Results.cshtml" model="Model"/>
    }
</div>
