<div id="SearchResults" class="font-xsmall">
    <span>Try searching again using a different spelling, search term, valid employer name or SIC code.</span>
    <br/><br/>
    <span>You may not find the data you are looking for because:</span>
    <br/><br/>
    <ul class="list list-bullet">
        <li>
            Only employers with 250 or more employees are required to report their gender pay gap figures
        </li>
        <li>
            The employer has reported their gender pay gap figures under another name
        </li>
        <li>
            The employer has not submitted their gender pay gap figures yet.
            Organisations in the public sector must report their data before 31 March.
            Organisations in the private and voluntary sectors must report their data before 5 April
        </li>
    </ul>
</div>