<div id="SearchResults" class="govuk-body">
    <span>Try searching again using a different:</span>
    <br />
    <ul class="govuk-list govuk-list--bullet">
        <li>
            spelling
        </li>
        <li>
            employer type
        </li>
        <li>
            employer name (sometimes the commonly known employer name is different to their registered name)
        </li>
        <li>
            SIC code
        </li>
    </ul>
    <br />
    <span>You may not find the data you are looking for because:</span>
    <br />
    <ul class="govuk-list govuk-list--bullet">
        <li>
            only employers with a headcount of 250 or more on their snapshot date are required to submit their gender pay gap information
        </li>
        <li>
            the employer may have reported their gender pay gap information under a different registered name
        </li>
        <li>
            the employer may not have submitted their gender pay gap information yet. 
            Most public authority employers have a reporting deadline of 30 March, and 
            private, voluntary and all other public authority employers have a reporting deadline of 4 April.
        </li>
    </ul>
    <br />
</div>