@model GenderPayGap.WebUI.Models.Search.SearchViewModel

<div class="viewing-search-orderby">
    <fieldset class="govuk-fieldset">
        <div class="govuk-radios govuk-radios--small govuk-radios--inline">
            <div class="govuk-radios__item" style="padding-left: 0;">
                <legend class="govuk-body govuk-!-font-weight-bold" style="padding-top: 7px;">
                    Order:
                </legend>
            </div>
            <div class="govuk-radios__item" style="margin-right: 0;">
                <input class="govuk-radios__input" id="changed-name" name="orderBy" type="radio" value="relevance"
                       @{if (Model.OrderBy == "relevance") { <text> checked </text> }}
                       onchange="submitSearchForm();">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                    By relevance
                </label>
            </div>
            <div class="govuk-radios__item" style="margin-right: 0;">
                <input class="govuk-radios__input" id="changed-name-2" name="orderBy" type="radio" value="alphabetically"
                       @{if (Model.OrderBy == "alphabetically") { <text> checked </text> }}
                       onchange="submitSearchForm();">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    Alphabetically
                </label>
            </div>
        </div>
    </fieldset>
</div>
