@model ChangeEmailStatusViewModel
<div class="grid-row">

    <div class="column-two-thirds">

        <h1 class="heading-large">
            Please verify your email change request
        </h1>

        <dl class="govuk-check-your-answers cya-questions-short">
            <div>
                <dt class="cya-question">
                    Current email
                </dt>
                <dd class="cya-answer">
                    @Model.OldEmail
                </dd>
            </div>
            <div>
                <dt class="cya-question">
                    New email
                </dt>
                <dd class="cya-answer">
                    @Model.NewEmail
                </dd>
            </div>
        </dl>

        <br/>
        <br/>

        <p>
            We have sent a verification email to your new address.
        </p>

        <p>
            Please click on the verification link within 24 hours to confirm your change of email address.
        </p>

        <h2 class="heading-medium">More Options</h2>
        <ul class="list">
            <li>
                <a href="@(Url.Action<ManageAccountController>(nameof(ManageAccountController.ManageAccount)))">Manage account</a>
            </li>

            <li>
                <a href="@(Url.Action<OrganisationController>(nameof(OrganisationController.ManageOrganisations)))">Manage organisations</a>
            </li>
        </ul>

    </div>

</div>