@{
    Layout = "Index.cshtml";
}

<h2 class="heading-large">
    Hiring and selection
</h2>
<p>
    Unconscious bias and stereotypes can creep in at various stages of the hiring and selection process, reducing the chances that an employer hires the best candidate for the job. An effective way to overcome bias is to standardise processes to ensure all candidates are assessed in the same way and according to the same criteria. Even structured interviews and task-based assessments can be biased unless they are standardised and conducted in a consistent way.
</p>
<div class="action-step">
    <i class="icon icon-effective"></i>
    <h3 class="heading-small">
        Effective actions
    </h3>
    <ul class="list list-bullet">
        <li>
            Use structured interviews for recruitment and promotions
        </li>
        <li>
            Use skill-based assessment tasks in recruitment
        </li>
        <li>
            Make expectations around salaries and negotiation clear
        </li>
    </ul>
    <expand id="MoreEffectiveActions" summary="More on these effective actions">
        <h3 class="heading-small">
            Use structured interviews for recruitment and promotions
        </h3>
        <p>
            Compared to structured interviews, unstructured interviews are more likely to allow unfair bias to creep in and influence decisions.
        </p>
        <p>
            Use structured interviews that:
        </p>
        <ul class="list list-bullet">
            <li>
                Ask exactly the same questions of all candidates in a predetermined order and format
            </li>
            <li>
                Grade the responses using pre-specified, standardised criteria. This makes the responses comparable and reduces the impact of unconscious bias
            </li>
        </ul>

        <h3 class="heading-small">
            Use skill-based assessment tasks in recruitment
        </h3>
        <p>
            Interviews alone may not give all candidates a good opportunity to demonstrate their suitability for a role. During recruitment, ask candidates to perform a range of tasks they would be expected to perform in the role they are applying for. This could involve situational judgement tasks, work samples or assessment centres. Using tasks that assess a variety of skills and abilities may help to reduce differences in how men and women are rated overall.
        </p>
        <p>
            Like other forms of candidate assessment, skill-based assessments need to be designed and conducted in the right way in order to minimise bias. Specifically:
        </p>
        <ul class="list list-bullet">
            <li>
                Have pre-specified scoring criteria
            </li>
            <li>
                Make sure the assessment task resembles the real-life task
            </li>
            <li>
                Develop the task and the scoring criteria with input from different staff members to ensure they are not too narrow or reflect gendered expectations about the role
            </li>
        </ul>

        <h3 class="heading-small">
            Make expectations around salaries and negotiation clear
        </h3>
        <p>
            Women are less likely to negotiate their pay on average. This can lead to women having lower starting salaries on average than men. These differences persist over time. Women are affected more than men by the lack of information about whether negotiating is an option or what salary range is on offer.
        </p>
        <p>
            Employers should clearly state the salary range available and they should also state whether the salary is negotiable. These are effective ways of increasing the number of women who negotiate.
        </p>
        <p>
            However, another reason why women do not negotiate their salaries is that they are more likely than men to face backlash, for example with people seeing them as "too demanding". Employers therefore need to ensure that women are not unfairly penalised when they do negotiate. Employers should monitor negotiation outcomes and starting salaries to see if any gender gaps emerge.
        </p>
    </expand>
</div>
<div class="action-step">
    <i class="icon icon-promising"></i>
    <h3 class="heading-small">
        Promising actions
    </h3>
    <ul class="list list-bullet">
        <li>
            Include more women in shortlists for recruitment and promotions
        </li>
        <li>
            Make decisions about applicants in batches
        </li>
        <li>
            Recruit returners
        </li>
        <li>
            Anonymise CVs
        </li>
        <li>
            Make job advert language gender neutral
        </li>
    </ul>
    <expand id="MorePromisingActions" summary="More on these promising actions">
        <h3 class="heading-small">
            Include more women in shortlists for recruitment and promotions
        </h3>
        <p>
            When putting together a shortlist of qualified candidates, some evidence suggests that it is important to make sure that a certain number of women are included on the list so that individual women are not seen as "token".
        </p>
        <p>
            Instead of considering whether there is a "magic number" of women to have on a shortlist, employers should set themselves ambitious targets for the gender proportions they want to have on their shortlists. This can mean specifically asking recruiters to look for equally well qualified women, or investigating whether there are equally well qualified women in your organisation who have not applied for an internally advertised role.
        </p>

        <h3 class="heading-small">
            Make decisions about applicants in batches
        </h3>
        <p>
            When people consider job applicants one at a time, they are more likely to end up comparing the candidate to certain stereotypes. For example, a well-qualified woman applying for a job in a predominantly male team may be rejected because she appears too different from the team’s current image of a talented team member.
        </p>
        <p>
            This can be addressed by evaluating candidates in batches to reduce bias. In the previous example, comparing the well-qualified woman to two other new candidates who have applied for the role could allow her excellent qualifications to stand out more. There is some evidence that this approach can help gender equality.
        </p>
        <p>
            Your organisation may already make decisions about applicants in batches if you have recruitment or promotion rounds where you evaluate multiple candidates against each other. However, some organisations may have ongoing or open recruitment or promotion processes, which mean that a decision is made about an individual candidate in isolation as they apply. If this is the case, look for points in your processes where multiple candidates could be considered in parallel and weighed up against each other.
        </p>

        <h3 class="heading-small">
            Recruit returners
        </h3>
        <p>
            Returners are people who have taken an extended career break for caring or other reasons. They may face challenges finding a new position or may take on a role that does not reflect their capability.
        </p>
        <p>
            Recruiting returners can give employers access to skilled and experienced talent seeking to re-enter the workforce.
        </p>
        <p>
            Use our <a download class="nowrap" href="https://gov.uk/government/uploads/system/uploads/attachment_data/file/685064/Returner_Programmes_-_Best_Practice_Guidance_for_Employers.pdf">guidance</a> to see how to attract and hire returners. For example:
        </p>
        <ul class="list list-bullet">
            <li>
                Target places where returners are likely to be looking
            </li>
            <li>
                Ensure the recruitment process is returner-friendly
            </li>
            <li>
                Offer support before and during the assessment
            </li>
        </ul>

        <h3 class="heading-small">
            Anonymise CVs
        </h3>
        <p>
            Anonymising a CV means removing any identifying information - like the applicant’s name or contact details - before giving it to the people who are doing the hiring. Removing identifying information makes it more difficult for people to tell an applicant’s gender, race or ethnicity. This can prevent biases from influencing the decision-making process.
        </p>
        <p>
            You should consider CV anonymisation if the minority proportion who successfully make it through the CV sift is substantially smaller than the proportion who applied. For example, if 40 percent of applicants to certain roles in your organisation are women, but only 20 percent of candidates who make it through the CV sift are women, then you should try CV anonymisation.
        </p>

        <h3 class="heading-small">
            Make job advert language gender neutral
        </h3>
        <p>
            The language you use in job adverts may discourage women from applying. For example, language that highlights the competitive or inflexible nature of a job (such as 'leader' or 'dominant') is seen as more masculine and can discourage women from applying. Highlighting the competitive aspects of a role may also have the unintended effect of attracting men who are less qualified.
        </p>
        <p>
            Making the language more gender neutral could reduce the likelihood that your job advert discourages well qualified candidates. There are tools available to help with this - search online for gendered language bias tools.
        </p>
    </expand>
</div>
<div class="action-step">
    <i class="icon icon-mixed"></i>
    <h3 class="heading-small">
        Mixed evidence
    </h3>
    <ul class="list list-bullet">
        <li>
            Diversity statements
        </li>
        <li>
            Diverse selection panels
        </li>
    </ul>
    <expand id="MoreMixedActions" summary="More on these actions with mixed evidence">
        <h3 class="heading-small">
            Diversity statements
        </h3>
        <p>
            Organisations often use diversity statements in their job adverts, on their websites and elsewhere to communicate that they care about diversity. Unfortunately, it is not clear that they work. Little research has been done so far looking at how they affect women’s likelihood to apply to the organisation. Slightly more research has been done on whether diversity statements make ethnic minority groups more likely to say they would apply for jobs, but the results are mixed. Diversity statements might work in some contexts but backfire in others.
        </p>
        <p>
            While diversity statements are one way of trying to communicate that your organisation cares about diversity, based on current evidence you should not rely on them as a way to attract more diverse candidates.
        </p>

        <h3 class="heading-small">
            Diverse selection panels
        </h3>
        <p>
            Having selection panels with a mix of men and women seems to help women's prospects sometimes and harm them at other times. Some studies show that the more women there are on a panel, the more likely women are to be selected for a role, while other studies find the opposite. The effect can also depend on the role being recruited for or the role of women on the committee. More research is needed to understand the conditions under which a diverse selection panel is or is not effective for improving gender equality.
        </p>
    </expand>
</div>

<Accordion>
    <Section id="evidence-categories" title="Evidence categories">
        <div class="action-step">
            <i class="icon icon-effective"></i>
            <h3 class="heading-small">
                Effective actions
            </h3>
            <p>
                There is strong evidence that shows these actions are effective, and that they are worth implementing. We recommend prioritising these actions above the actions in the categories below.
            </p>
        </div>
        <div class="action-step">
            <i class="icon icon-promising"></i>
            <h3 class="heading-small">
                Promising actions
            </h3>
            <p>
                These actions are promising but they still need further research to improve the evidence of their effectiveness and how best to implement them. The government has policies in place supporting some of these actions to improve women's participation in the workforce. The government is evaluating their effectiveness and we recommend that employers evaluate their actions too.
            </p>
        </div>
        <div class="action-step">
            <i class="icon icon-mixed"></i>
            <h3 class="heading-small">
                Actions with mixed results
            </h3>
            <p>
                These actions have been shown sometimes to have a positive impact and other times a negative impact. This might be due to how they are implemented or other factors that we do not fully understand yet. As a result, investing in these actions is a more risky use of resources. We cannot, therefore, make a general recommendation that these are good ways to reduce gender inequality.
            </p>
        </div>
    </Section>
    <Section id="References" title="References">
        <h3 class="heading-small">
            Effective action: Use structured interviews for recruitment and promotions
        </h3>
        <p>
            Levashina, J., Hartwell, C. J., Morgeson, F. P., & Campion, M. A. (2013). The structured employment interview: Narrative and quantitative review of the research literature. Personnel Psychology, 67(1), 241-293.
        </p>
        <p>
            Oh, I., Postlethwaite, B.E. & Schmidt, F.L. (2013). Rethinking the validity of interviews for employment decision making: Implications of recent developments in meta-analysis. In D. J. Svyantek & K. Mahoney (Eds.), Received wisdom, kernels of truth, and boundary conditions in organizational studies (pp. 297-329). Charlotte, NC: Information Age Publishing.
        </p>

        <h3 class="heading-small">
            Effective action: Use skill-based assessment tasks in recruitment
        </h3>
        <p>
            Harari, M.B, Viswesvaran, C. & O’Rourke, R. (2014). Gender differences in work sample assessments: Not all tests are created equal. Journal of Work & Organizational Psychology, 30, 29-34.
        </p>
        <p>
            De Soete, B., Lievens, F. & Druart, C. (2013). Strategies for dealing with the diversity-validity dilemma in personnel selection: Where are we and where should we go? Revista de Psicología del Trabajo y de las Organizaciones, 29(1), 3-12.
        </p>
        <p>
            Ployhart, R.E. & Holtz, B.C. (2008). The diversity-validity dilemma: Strategies for reducing racioethnic and sex subgroup differences and adverse impact in selection. Personnel Psychology, 61(1), 153-172.
        </p>

        <h3 class="heading-small">
            Effective action: Make expectations around salaries and negotiation clear
        </h3>
        <p>
            Leibbrandt, A., & List, J. A. (2014). Do women avoid salary negotiations? Evidence from a large-scale natural field experiment. Management Science, 61(9), 2016-2024.
        </p>
        <p>
            Mazei, J., Hüffmeier, J., Freund, P. A., Stuhlmacher, A. F., Bilke, L., & Hertel, G. (2015). A meta-analysis on gender differences in negotiation outcomes and their moderators. Psychological Bulletin, 141(1), 85-104.
        </p>
        <p>
            Bowles, H.R. & Babcock, L. (2012). How can women escape the compensation negotiation dilemma? Relational accounts are one answer. Psychology of Women Quarterly, 31(1), 80-96.
        </p>

        <h3 class="heading-small">
            Promising action: Include more women in shortlists for recruitment and promotions
        </h3>
        <p>
            Heilman, M.E. (1980). The impact of situational factors on personnel decisions concerning women: Varying the sex composition of the applicant pool. Organizational Behavior and Human Performance, 26(3), 386-395.
        </p>
        <p>
            Johnson, S. K., Hekman, D. R., & Chan, E. T. (2016). If there is only one woman in your candidate pool, there is statistically no chance she'll be hired. Harvard Business Review, 26(04).
        </p>
        <p>
            This action has been re-categorised as "promising" instead of "effective", due to the adoption of more formal criteria for judging evidence in this version of this guidance, relative to the previous version.
        </p>

        <h3 class="heading-small">
            Promising action: Make decisions about applicants in batches
        </h3>
        <p>
            Bohnet, I., van Geen, A. & Bazermann, M. (2016). When performance trumps gender bias: Joint vs. separate evaluation. Management Science, 62(5), 1225-1234.
        </p>

        <h3 class="heading-small">
            Promising action: Recruit returners
        </h3>
        <p>
            <a download class="nowrap" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/685064/Returner_Programmes_-_Best_Practice_Guidance_for_Employers.pdf">Returner Programmes: Best Practice Guidance for Employers (2018).</a>
        </p>

        <h3 class="heading-small">
            Promising action: Anonymise CVs
        </h3>
        <p>
            For a summary of the evidence, see: Rinne, U (2018). Anonymous job applications and hiring discrimination. IZA World of Labor, 48v2.
        </p>

        <h3 class="heading-small">
            Promising action: Make job advert language gender neutral
        </h3>
        <p>
            Gaucher, D., Friesen, J. & Kay, A.C. (2011). Evidence that gendered wording in job advertisements exists and sustains gender inequality. Journal of Personality & Social Psychology, 101(1), 109-28.
        </p>
        <p>
            Flory, J.A., Leibbrandt, A. & List, J.A. (2015). Do competitive workplaces deter female workers? A large-scale natural field experiment on job entry decisions. Review of Economic Studies, 82, 122-155.
        </p>

        <h3 class="heading-small">
            Promising action: Diversity statements
        </h3>
        <p>
            Windscheid, L., Bowes-Sperry, L., Kidder, D.L., Cheung, H.K., Morner, M. & Lievens, F. (2016). Actions speak louder than words: Outsiders' perceptions of diversity mixed messages. Journal of Applied Psychology, 101(9), 1329-1341.
        </p>
        <p>
            Flory, J.A., Leibbrandt, A., Rott, C. & Stoddard, O. (2018). Increasing workplace diversity: Evidence from a recruiting experiment at a Fortune 500 company (CESifo Working Paper 7025). Munich: CESifo.
        </p>
        <p>
            Wilton, L.S., Good, J.J., Moss-Racusin, C.A. & Sanchez, D.T. (2015). Communicating more than diversity: The effect of institutional diversity statements on expectations and performance as a function of race and gender. Cultural Diversity & Ethnic Minority Psychology, 21(3), 315-325.
        </p>

        <h3 class="heading-small">
            Promising action: Diverse selection panels
        </h3>
        <p>
            De Paola, M., & Scoppa, V. (2015). Gender discrimination and evaluators’ gender: evidence from Italian academia. Economica, 82(325), 162-188.
        </p>
        <p>
            Bagues, M., Sylos-Labini, M., & Zinovyeva, N. (2017). Does the gender composition of scientific committees matter? American Economic Review, 107(4), 1207-38.
        </p>
        <p>
            Abramo, G., D’Angelo, C. A., & Rosati, F. (2015). Selection committees for academic recruitment: does gender matter? Research Evaluation, 24(4), 392-404.
        </p>
        <p>
            Duguid, M. (2011). Female tokens in high-prestige work groups: Catalysts or inhibitors of group diversification? Organizational Behavior and Human Decision Processes, 116(1), 104-115.
        </p>

    </Section>
</Accordion>

<Pagination>
    <Back action="Leadership" label="Leadership and accountability"/>
    <Next action="Talent" label="Talent management, learning & development"/>
</Pagination>
<div style="margin-bottom: 25px; font-size: 16px!important">
    <a rel="download" class="print-link" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/public/assets/pdf/GEO_Actions_to_Close_the_Gender_Pay_Gap.pdf" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Gender pay gap explained&quot;}" href="/public/assets/pdf/GEO_Actions_to_Close_the_Gender_Pay_Gap.pdf">Print entire guide</a>
</div>