@{
    ViewBag.Title = "Talent management, learning and development actions to close the gender pay gap - GOV.UK";   
    ViewBag.pageDescription = "Find the most effective talent management, learning and development actions to close the gender pay gap";
    Layout = "Index.cshtml";
}

<h2 class="heading-large">
    Talent management, learning and development
</h2>
<p>
    Many organisations invest heavily in learning and development, including unconscious bias and diversity training programmes. Unfortunately there is little evidence suggesting that these are an effective way to change behaviour. Instead, we recommend employers to focus on transparency across all processes and enabling women to access opportunities at equal rates to men. We also encourage tracking the effectiveness of other initiatives, such as networking programmes, mentoring or sponsorship schemes.
</p>
<div class="action-step">
    <i class="icon icon-effective"></i>
    <h3 class="heading-small">
        Effective actions
    </h3>
    <ul class="list list-bullet">
        <li>
            Introduce transparency to promotion, pay and reward processes
        </li>
    </ul>
    <Expand id="MoreEffectiveActions" summary="More on these effective actions" isPanel="false">
        <h3 class="heading-small">
            Introduce transparency to promotion, pay and reward processes
        </h3>
        <p>
            Transparency means being open about processes, policies and criteria for decision-making. This means that employees are clear, for example, about what is involved to get a pay increase or exactly how promotions are decided. Managers also understand that their decisions need to be objective and evidence-based because those decisions can be reviewed by others.
        </p>
        <p>
            Without transparency and the accountability it creates, it can be easier for decisions to become biased. It can also be harder for minority candidates to know what is expected of them in order to progress – or to question inconsistent or unfair decisions. Introducing transparency to promotion, pay and reward processes can reduce pay inequalities.
        </p>
    </Expand>
</div>
<div class="action-step">
    <i class="icon icon-promising"></i>
    <h3 class="heading-small">
        Promising actions
    </h3>
    <ul class="list list-bullet">
        <li>
            Offer mentoring and sponsorship
        </li>
        <li>
            Offer networking programmes
        </li>
    </ul>
    <expand id="MorePromisingActions" summary="More on these promising actions">
        <h3 class="heading-small">
            Offer mentoring and sponsorship
        </h3>
        <p>
            Mentors provide guidance and advice to their mentee while sponsors advocate for and champion the person they are sponsoring. Some evidence suggests that mentoring programmes are somewhat effective for women from minority groups, but are not necessarily effective for women of all backgrounds. It is not clear, based on existing evidence, whether sponsorships are more effective than mentoring, or how best to run mentoring and sponsorship programmes so they are effective. It is possible that, for mentoring or sponsorship programmes to be effective, they must give women access to and advocacy from highly influential people in an organisation.
        </p>

        <h3 class="heading-small">
            Offer networking programmes
        </h3>
        <p>
            Some evidence suggests that formal networking programmes where members meet and share information and career advice can be helpful for white women but not other groups of women. This may be because networking needs to give participants access to people in positions of power. It may be less common for minority women to get connected to people like them in positions of power via networking. More work is needed to understand the effects of networking programmes, and whether they need to have particular features in order to be successful.
        </p>
    </expand>
</div>
<div class="action-step">
    <i class="icon icon-mixed"></i>
    <h3 class="heading-small">
        Mixed evidence
    </h3>
    <ul class="list list-bullet">
        <li>
            Performance self-assessments
        </li>
        <li>
            Unconscious bias training
        </li>
        <li>
            Diversity training
        </li>
        <li>
            Leadership development training exclusively for women
        </li>
    </ul>
    <expand id="MoreMixedActions" summary="More on these actions with mixed evidence">
        <h3 class="heading-small">
            Performance self-assessments
        </h3>
        <p>
            There is some evidence that women underestimate their abilities in the workplace. They may also be more conservative in their assessment of their abilities than men.
        </p>
        <p>
            Managers’ judgement can be unconsciously influenced when they look at employees’ self-assessment scores, for example as part of 360 degree performance feedback. We know that performance appraisal scores can be biased in a particular direction by this sort of information. This is particularly a problem if those self-assessment scores are shared with the manager prior to performance review sessions. The lower scores women give themselves mean that managers might then give women lower scores than they otherwise would have. This can affect performance-related outcomes such as pay rises, bonuses and progression.
        </p>
        <p>
            We recommend that if a review process contains an element of self-assessed scoring, these scores should not be shared until after a manager has made their own assessment of the employee’s performance.
        </p>

        <h3 class="heading-small">
            Unconscious bias training
        </h3>
        <p>
            Unconscious biases can influence a person’s judgement without them being aware of it. Unconscious bias training in the workplace aims to make people aware of potentially harmful unconscious biases and to reduce the impact of those biases. While some types of unconscious bias training may have some limited positive effects such as creating awareness and shifting people’s attitudes in the short-term, there is currently no evidence that this training changes behaviour or improves workplace equality.
        </p>

        <h3 class="heading-small">
            Diversity training
        </h3>
        <p>
            Diversity training can help raise awareness but is unlikely to change behaviour. Some research in the US has found that mandatory diversity training either does not change the number of women in management positions, or actually reduces it.
        </p>
        <p>
            This backfiring may occur for a number of reasons. It may be because people resent being made to do something and so do not take the training seriously. The training might also bring to mind unhelpful stereotypes which people then act upon. Alternatively the training might make people think that the organisation has now solved its diversity problems.
        </p>
        <p>
            We therefore do not recommend prioritising the use of resources on unconscious bias or diversity training.
        </p>

        <h3 class="heading-small">
            Leadership development training exclusively for women
        </h3>
        <p>
            Leadership development programmes aim to teach skills including management competencies and self-confidence. While there are some very small-scale studies of the effects of leadership training programmes for women, particularly in medicine and academia, there is currently no high quality evidence that such programmes help women progress. Some people feel that these programmes imply that the women themselves are the problem. For now, organisations should not expect these programmes to narrow their gender pay gap.
        </p>
    </expand>
</div>

<Accordion>
    <Section id="evidence-categories" title="Evidence categories">
        <div class="action-step">
            <i class="icon icon-effective"></i>
            <h3 class="heading-small">
                Effective actions
            </h3>
            <p>
                There is strong evidence that shows these actions are effective, and that they are worth implementing. We recommend prioritising these actions above the actions in the categories below.
            </p>
        </div>
        <div class="action-step">
            <i class="icon icon-promising"></i>
            <h3 class="heading-small">
                Promising actions
            </h3>
            <p>
                These actions are promising but they still need further research to improve the evidence of their effectiveness and how best to implement them. The government has policies in place supporting some of these actions to improve women's participation in the workforce. The government is evaluating their effectiveness and we recommend that employers evaluate their actions too.
            </p>
        </div>
        <div class="action-step">
            <i class="icon icon-mixed"></i>
            <h3 class="heading-small">
                Actions with mixed results
            </h3>
            <p>
                These actions have been shown sometimes to have a positive impact and other times a negative impact. This might be due to how they are implemented or other factors that we do not fully understand yet. As a result, investing in these actions is a more risky use of resources. We cannot, therefore, make a general recommendation that these are good ways to reduce gender inequality.
            </p>
        </div>
    </Section>
    <Section id="References" title="References">
        <h3 class="heading-small">
            Effective action: Introduce transparency to promotion, pay and reward processes
        </h3>
        <p>
            Castilla, E. J. (2015). Accounting for the gap: A firm study manipulating organizational accountability and transparency in pay decisions. Organization Science, 26(2), 311-333.
        </p>

        <h3 class="heading-small">
            Promising action: Offer mentoring and sponsorship
        </h3>
        <p>
            Dobbin, F., & Kalev, A. (2016). <a class="nowrap" href="https://hbr.org/2016/07/why-diversity-programs-fail" rel="noopener">Why diversity programs fail.</a><br/>Harvard Business Review, 94(7/8), 52-60.
        </p>

        <h3 class="heading-small">
            Promising action: Offer networking programmes
        </h3>
        <p>
            Dobbin, F., Kalev, A., & Kelly, E. (2007). Diversity management in corporate America. Contexts, 6(4), 21-27.
        </p>

        <h3 class="heading-small">
            Action with mixed evidence: Performance self-assessments
        </h3>
        <p>
            Fletcher, C. (1999). The implications of research on gender differences in self-assessment and 360 degree appraisal. Human Resource Management Journal, 9(1), 39-46.
        </p>
        <p>
            Beyer, S. (1990). Gender differences in accuracy of self-evaluations of performance. Journal of Personality and Social Psychology, 59(5), 960-970.
        </p>

        <h3 class="heading-small">
            Action with mixed evidence: Unconscious bias training
        </h3>
        <p>
            Atewologun, D., Cornish, T., & Tresh, F. (2018). <a class="nowrap" href="https://www.equalityhumanrights.com/en/publication-download/unconscious-bias-training-assessment-evidence-effectiveness" rel="noopener">Unconscious bias training: An assessment of the evidence for effectiveness.<span class="visually-hidden"> (pdf)</span></a> Equality and Human Rights Commission.
        </p>
        <p>
            Girod, S., Fassiotto, M., Grewal, D., Ku, M. C., Sriram, N., Nosek, B. A., & Valantine, H. (2016). Reducing implicit gender leadership bias in academic medicine with an educational intervention. Academic Medicine, 91(8), 1143-1150.
        </p>

        <h3 class="heading-small">
            Action with mixed evidence: Diversity training
        </h3>
        <p>
            Bezrukova, K., Spell, C.S., Perry, J., & Jehn, K. (2016). A meta-analytical integration of over 40 years of research on diversity training evaluation. Psychological Bulletin, 142(11), 1227–1274.
        </p>
        <p>
            Chang, E.H., Milkman, K.L., Gromet, D.M., Rebele, R.W., Massey, C., Duckworth, A.L. & Grant, A.M. (2019). The mixed effects of online diversity training. Proceedings of the National Academy of Sciences, 116(16), 7778-7783.
        </p>
        <p>
            Dobbin, F., & Kalev, A. (2016). <a class="nowrap" href="https://hbr.org/2016/07/why-diversity-programs-fail" rel="noopener">Why diversity programs fail.</a><br/>Harvard Business Review, 94(7/8), 52-60.
        </p>

    </Section>
</Accordion>

<Pagination>
    <Back action="Hiring" label="Hiring and selection"/>
    <Next action="Workplace" label="Workplace flexibility"/>
</Pagination>
<div style="margin-bottom: 25px; font-size: 16px!important">
    <a rel="download" class="print-link" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/public/assets/pdf/GEO_Actions_to_Close_the_Gender_Pay_Gap.pdf" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Gender pay gap explained&quot;}" href="/public/assets/pdf/GEO_Actions_to_Close_the_Gender_Pay_Gap.pdf">Print entire guide<span class="visually-hidden"> (pdf)</span></a>
</div>