<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Guidance</span>
        <h1 class="govuk-heading-xl">Eight ways to understand your organisation's gender pay gap</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l">
            Key questions for employers to ask that will help you to identify different
            potential causes of your gender pay gap.
        </p>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-bottom-2">
        <div class="govuk-!-margin-bottom-6">
            <p class="govuk-body-s govuk-!-margin-bottom-0">
                Published 17 April 2020
            </p>

            <p class="govuk-body-s govuk-!-margin-bottom-0">
                From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/government-equalities-office" rel="noopener">
                    Government Equalities Office
                </a>
            </p>
        </div>
    </div>
</div>
