<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-bottom-2">
<div class="govuk-!-margin-bottom-4" id="updates">
    <p class="govuk-body-s govuk-!-margin-bottom-0">
        Published 17 April 2020
    </p>
                    
    <p class="govuk-body-s govuk-!-margin-bottom-0">
        Last updated 17 April 2020
    </p>
</div>
<div class="govuk-!-margin-bottom-6">
    <div class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-0">17 April 2020</div>
    <div class="govuk-body-s govuk-!-margin-bottom-0">First published.</div>
</div>
