<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="page-contents js-page-contents" style="">
            <h2 class="page-contents__title">Contents</h2>
            <ul class="page-contents__list">
                <li>
                    <a href="@Url.Action("Overview", "ActionHub")">Overview</a>
                </li>
                <li>
                    <a href="@Url.Action("Effective", "ActionHub")">Effective actions</a>
                </li>
                <li>
                    <a href="@Url.Action("Promising", "ActionHub")">Promising actions</a>
                </li>
                <li>
                    <a href="@Url.Action("MixedResult", "ActionHub")">Actions with mixed results</a>
                </li>
            </ul>
        </div>
    </div>
</div>