<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <!-- for more info see https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-2.1#attributes-of-the-aspnetcore-element -->
    <aspNetCore processPath="dotnet" arguments="GenderPayGap.WebUI.dll" stdoutLogEnabled="true" stdoutLogFile="%home%\LogFiles\Web" requestTimeout="00:03:40">
      <!-- requestTimeout="00:02:00" is default and "00:03:50" is maximum timout imposed on Azure Load Balancer -->
      <!-- https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/azure-apps/troubleshoot?view=aspnetcore-2.2 -->
      <environmentVariables />
    </aspNetCore>
    <security>
      <dynamicIpSecurity>
        <denyByConcurrentRequests enabled="true" maxConcurrentRequests="30" />
        <denyByRequestRate enabled="true" maxRequests="30" requestIntervalInMilliseconds="2000" />
      </dynamicIpSecurity>
      <!-- removeServerHeader="true" will remove the Server: Microsoft/-IIS/8.0 header as per ITHC -->
      <requestFiltering removeServerHeader="true">
        <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <!-- Remove following header for security reasons as per ITHC -->
        <remove name="X-Powered-By" />
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
        <remove name="Server" />
      </customHeaders>
    </httpProtocol>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpCompression>
      <dynamicTypes>
        <clear />
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/x-javascript" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="false" mimeType="*/*" />
        <add enabled="true" mimeType="application/atom+xml" />
        <add enabled="true" mimeType="application/atom+xml;charset=utf-8" />
      </dynamicTypes>
      <staticTypes>
        <clear />
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/atom+xml" />
        <add enabled="true" mimeType="application/xaml+xml" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="false" mimeType="*/*" />
      </staticTypes>
    </httpCompression>
    <tracing />
  </system.webServer>
</configuration>