@model dynamic
@{
    string name = Model.name?.ToString();
    string value = Model.value?.ToString();
    ;
    string defaultValue = Misc.ToStringOrNull(Model.defaultValue) ?? "Not provided";
}
@if (!string.IsNullOrWhiteSpace(value) || !string.IsNullOrWhiteSpace(defaultValue))
{
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">
            @name
        </th>
        <td class="govuk-table__cell">
            @if (string.IsNullOrWhiteSpace(value))
            {
                @defaultValue
            }
            else
            {
                @value
            }
        </td>
    </tr>
}