@{
    ViewBag.Title = "Email confirmed - Gender pay gap reporting service";
}
<div id="email-confirmed-content" class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight">
            <h1 class="bold-large">You've confirmed your email address</h1>
        </div>

        <div class="subsection">
            <p class="text">
                To complete the registration process for gender pay gap reporting please continue.
            </p>
        </div>
        <a id="CompleteRegistration" class="button" href="@(Url.Action<OrganisationController>(nameof(OrganisationController.ManageOrganisations)))" role="button">Continue</a>
    </div>
</div>