@{
    ViewBag.Title = "Password email sent - Gender pay gap reporting service";
}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                Thank you
            </h1>
            <div class="content-body">
                <div class="text">
                    <p class="lede">
                        If your account still exists we have emailed a link to <br>
                        @if (!string.IsNullOrWhiteSpace(ViewBag.TestUrl))
                        {
                            <a date-name="testurl" href="@ViewBag.TestUrl">
                                <b>@ViewBag.EmailAddress</b>
                            </a>
                        }
                        else
                        {
                            <b>@ViewBag.EmailAddress</b>
                        }
                    </p>
                    <p>If you don’t get the email within the next few minutes, check your junk email or you may need to <a href="@Url.Action("AboutYou", "Register")">recreate your account</a>.</p>
                </div>
            </div>
        </div>
    </div>
</main>