@{
    ViewBag.Title = "Service activated - Gender pay gap reporting service";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight">
            <h1 class="bold-large">You can now report gender pay gap data on behalf of this employer.</h1>
        </div>
        <div class="subsection">
            <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                    <dt class="cya-question">
                        Employer name
                    </dt>
                    <dd class="cya-answer">
                        @ViewBag.OrganisationName
                    </dd>
                </div>
            </dl>
        </div>
        <p>You can also specify whether this employer is in scope of the reporting regulations.</p>
        <br/>
        <p>
            <a class="button" href="@Url.Action(nameof(OrganisationController.ManageOrganisations), "Organisation")">Continue</a>
        </p>
    </div>
</div>