<div>
    <ul class="list" style="list-style-type: none">
        <li style="margin-top:-15px;">
            <a href="/viewing/search-results">Or browse all employers and compare data</a>
        </li>
    </ul>
    <ul class="list" style="list-style-type: none;">
        <li>
            <a href="/viewing/download">Download all gender pay gap data</a>
        </li>
    </ul>
</div>