<p>
    This guidance is based on the best available evidence currently.
    It will be regularly updated as the evidence base develops.
</p>

<p>
    Where possible, we have used evidence based on randomised controlled trials that were conducted in the field and that measure objective outcomes related to recruitment, progression and promotion.
    High quality evidence is currently scarce in the field of gender equality in the workplace.
</p>