@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model List<string>
@{
    ViewBag.Title = "Active organisations with the same name - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("Home", "Admin")
            },
            new CrumbViewModel
            {
                Text = "Database integrity checks",
                Href = Url.Action("DatabaseIntegrityChecks", "AdminDatabaseIntegrityChecks")
            },
            new CrumbViewModel
            {
                Text = "Active organisations with the same name"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<span class="govuk-caption-xl">Database integrity checks</span>
<h1 class="govuk-heading-xl">Active organisations with the same name</h1>

<p class="govuk-body">
    This shows a list of all active organisations that have one or more exact matches for their name in the database. 
    This could be an indication that they are duplicate organisations. NB it will show duplicate organisations even if 
    one of them is out of scope.
</p>

@if (!Model.Any())
{
    <div class="govuk-body">
        No organisations
    </div>
}
else
{
    <h2 class="govuk-heading-m">@(Model.Count) active organisations with the same name</h2>
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Organisation name</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">

            @foreach (string organisationName in Model)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a href="@(Url.Action("SearchGet", "AdminSearch", new {query = organisationName}))"
                           class="govuk-link">
                            @(organisationName)
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
