@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model List<string>
@{
    ViewBag.Title = "Active organisations with the same company number - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new CrumbViewModel
            {
                Text = "Database integrity checks",
                Href = Url.Action("DatabaseIntegrityChecks", "AdminDatabaseIntegrityChecks")
            },
            new CrumbViewModel
            {
                Text = "Active organisations with the same company number"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<span class="govuk-caption-xl">Database integrity checks</span>
<h1 class="govuk-heading-xl">Active organisations with the same company number</h1>

<p class="govuk-body">
    This shows a list of all active organisations that have one or more exact matches for their Company House number 
    in the database. This could be an indication that they are duplicate organisations. NB it will show duplicate 
    organisations even if one of them is out of scope.
</p>

@if (!Model.Any())
{
    <div class="govuk-body">
        No duplicate company numbers
    </div>
}
else
{
    <h2 class="govuk-heading-m">@(Model.Count) duplicate company numbers</h2>
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Company number</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">

            @foreach (string companyNumber in Model)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a href="@(Url.Action("SearchGet", "AdminSearch", new {query = companyNumber}))"
                           class="govuk-link">
                            <span class="govuk-visually-hidden">Organisation with company number </span>@(companyNumber)
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
