@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@{
    ViewBag.Title = "Database integrity checks - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("Home", "Admin")
            },
            new CrumbViewModel
            {
                Text = "Database integrity checks"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<span class="govuk-caption-xl">Administration</span>
<h1 class="govuk-heading-xl">Database integrity checks</h1>

<div>
    <h2 class="govuk-heading-l">Organisation Names</h2>

    <div id="ActiveOrganisationsWithTheSameName">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    <span class="govuk-!-font-weight-bold govuk-!-font-size-36">
                        Loading...
                    </span>
                </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-body">
                    No organisations
                </div>
            </div>
        </details>
    </div>
</div>

<div>
    <h2 class="govuk-heading-l">Organisation Addresses</h2>

    <div id="OrganisationsWithMultipleActiveAddresses">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    <span class="govuk-!-font-weight-bold govuk-!-font-size-36">
                        Loading...
                    </span>
                </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-body">
                    No organisations
                </div>
            </div>
        </details>
    </div>
    <div id="OrganisationsWhereLatestAddressIsNotActive">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    <span class="govuk-!-font-weight-bold govuk-!-font-size-36">
                        Loading...
                    </span>
                </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-body">
                    No organisations
                </div>
            </div>
        </details>
    </div>
</div>

<div>
    <h2 class="govuk-heading-l">Organisation Scopes</h2>

    <div id="OrganisationsWithMultipleActiveScopesForASingleYear">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    <span class="govuk-!-font-weight-bold govuk-!-font-size-36">
                        Loading...
                    </span>
                </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-body">
                    No organisations
                </div>
            </div>
        </details>
    </div>
    <div id="OrganisationsWithNoActiveScopeForEveryYear">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    <span class="govuk-!-font-weight-bold govuk-!-font-size-36">
                        Loading...
                    </span>
                </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-body">
                    No organisations
                </div>
            </div>
        </details>
    </div>
</div>

<div>
    <h2 class="govuk-heading-l">Organisation Returns</h2>

    <div id="OrganisationsWithMultipleActiveReturnsForASingleYear">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    <span class="govuk-!-font-weight-bold govuk-!-font-size-36">
                        Loading...
                    </span>
                </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-body">
                    No organisations
                </div>
            </div>
        </details>
    </div>
</div>

<div>
    <h2 class="govuk-heading-l">Organisation Sector Types</h2>

    <div id="PublicSectorOrganisationsWithoutAPublicSectorType">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    <span class="govuk-!-font-weight-bold govuk-!-font-size-36">
                        Loading...
                    </span>
                </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-body">
                    No organisations
                </div>
            </div>
        </details>
    </div>
</div>

<script type="text/javascript">

    function loadHtml(url, elementName) {
        $.get("/admin/" + url ,
        "",
        function(data) { $("#" + elementName).html(data)},
        "html"
        );
    }

    document.addEventListener("DOMContentLoaded", function() { 
        loadHtml("active-organisations-with-the-same-name-ajax", "ActiveOrganisationsWithTheSameName");
        loadHtml("organisations-with-multiple-active-addresses-ajax", "OrganisationsWithMultipleActiveAddresses");
        loadHtml("organisations-where-latest-address-is-not-active-ajax", "OrganisationsWhereLatestAddressIsNotActive");
        loadHtml("organisations-with-multiple-active-scopes-for-a-single-year-ajax", "OrganisationsWithMultipleActiveScopesForASingleYearAjax");
        loadHtml("organisations-with-no-active-scope-for-every-year-ajax", "OrganisationsWithNoActiveScopeForEveryYearAjax");
        loadHtml("organisations-with-multiple-active-returns-for-a-single-year-ajax", "OrganisationsWithMultipleActiveReturnsForASingleYearAjax");
        loadHtml("public-sector-organisations-without-a-public-sector-type-ajax", "PublicSectorOrganisationsWithoutAPublicSectorType");
    
    });
</script>
