@using GenderPayGap.Database
@model List<GenderPayGap.Database.Organisation>

@{
    var title = "Active public organisations without a public sector type";

    ViewBag.Title = $"{title} - Administration - Gender pay gap service";
}

@section BeforeMain {
    <partial name="~/Views/AdminDatabaseIntegrityChecks/DatabaseIntegrityChecksBreadcrumbs.cshtml" model="title"/>
}

<span class="govuk-caption-xl">Database integrity checks</span>
<h1 class="govuk-heading-xl">@title</h1>

<p class="govuk-body">
    This shows active public organisations, that are either in scope or presumed in scope,  who need assigning a
    public sector type. This can be done in the admin service on their information.
</p>

@if (!Model.Any())
{
    <div class="govuk-body">
        No organisations
    </div>
}
else
{
    <h2 class="govuk-heading-m">@(Model.Count) active public organisations without a public sector type</h2>
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Organisation</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">

            @foreach (Organisation organisation in Model)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a href="@(Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = organisation.OrganisationId}))"
                           class="govuk-link">
                            @(organisation.OrganisationName)
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
