@model List<GenderPayGap.Database.Return>
@{
    var title = "Submitted reports with quarters figures that do not add up to 100%";

    ViewBag.Title = $"{title} - Administration - Gender pay gap service";
}

@section BeforeMain {
    <partial name="~/Views/AdminDatabaseIntegrityChecks/DatabaseIntegrityChecksBreadcrumbs.cshtml" model="title"/>
}

<span class="govuk-caption-xl">Database integrity checks</span>
<h1 class="govuk-heading-xl">@title</h1>

<p class="govuk-body">
    This shows submitted reports that contain invalid hourly pay quarter figures. The figures for each quarter must add up to 100%.
</p>

@if (!Model.Any())
{
    <div class="govuk-body">
        No reports
    </div>
}
else
{
    <h2 class="govuk-heading-m">@(Model.Count) reports with invalid hourly pay quarter figures</h2>
    <partial name="ReturnsTable.cshtml" model="Model"/>
}
