@model List<GenderPayGap.Database.Return>

@{
    var title = "Submitted reports with invalid company link";

    ViewBag.Title = $"{title} - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    <partial name="~/Views/AdminDatabaseIntegrityChecks/DatabaseIntegrityChecksBreadcrumbs.cshtml" model="title"/>
}

<span class="govuk-caption-xl">Database integrity checks</span>
<h1 class="govuk-heading-xl">@title</h1>

<p class="govuk-body">
    This shows submitted reports that contain an invalid company link. The link to the supporting narrative should be a
    valid URL.
</p>

@if (!Model.Any())
{
    <div class="govuk-body">
        No reports
    </div>
}
else
{
    <h2 class="govuk-heading-m">@(Model.Count) reports with invalid company link</h2>
    <partial name="ReturnsTable.cshtml" model="Model"/>
}
