@model List<GenderPayGap.Database.Return>
@{
    var title = "Submitted reports with % of men or women who receive bonus greater than 100 or lower than 0";

    ViewBag.Title = $"{title} - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    <partial name="~/Views/AdminDatabaseIntegrityChecks/DatabaseIntegrityChecksBreadcrumbs.cshtml" model="title"/>
}

<span class="govuk-caption-xl">Database integrity checks</span>
<h1 class="govuk-heading-xl">@title</h1>

<p class="govuk-body">
    This shows submitted reports that contain invalid bonus figures. The percentage of men and women who receive bonus 
    should be greater than 0 and lower than 100.
</p>

@if (!Model.Any())
{
    <div class="govuk-body">
        No reports
    </div>
}
else
{
    <h2 class="govuk-heading-m">@(Model.Count) reports with invalid bonus figures</h2>
    <partial name="ReturnsTable.cshtml" model="Model"/>
}
