@model List<GenderPayGap.Database.Return>
@{
    var title = "Submitted reports with mean or median gender pay gap using hourly pay figures greater than 100";

    ViewBag.Title = $"{title} - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    <partial name="~/Views/AdminDatabaseIntegrityChecks/DatabaseIntegrityChecksBreadcrumbs.cshtml" model="title"/>
}

<span class="govuk-caption-xl">Database integrity checks</span>
<h1 class="govuk-heading-xl">@title</h1>

<p class="govuk-body">
    This shows submitted reports that contain invalid mean or median figures. The mean or median gender pay gap using hourly pay figures
    should be lower than 100.
</p>

@if (!Model.Any())
{
    <div class="govuk-body">
        No reports
    </div>
}
else
{
    <h2 class="govuk-heading-m">@(Model.Count) reports with invalid mean or median figures</h2>
    <partial name="ReturnsTable.cshtml" model="Model"/>
}
