@using GenderPayGap.Core.Helpers
@using GenderPayGap.Database
@model List<GenderPayGap.Database.Return>

<table class="govuk-table">
    <tbody class="govuk-table__body">
        @{
            var returnsGroupedByAccountingYear = Model.GroupBy(r => r.AccountingDate.Year)
                .OrderByDescending(g => g.Key);

            foreach (var data in returnsGroupedByAccountingYear)
            {
                <tr class="govuk-table__head">
                    <th scope="col" class="govuk-table__header">@ReportingYearsHelper.FormatYearAsReportingPeriod(data.Key) Reporting year</th>
                </tr>
                foreach (Return r in data.AsEnumerable())
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a href="@(Url.Action("ViewReturnDetailsForYear", "AdminOrganisationReturn", new {id = r.OrganisationId, year = r.AccountingDate.Year}))"
                               class="govuk-link">
                                @(r.Organisation.OrganisationName)
                            </a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
