@model List<GenderPayGap.Database.Return>

@{
    var title = "Submitted reports with missing required figures";

    ViewBag.Title = $"{title} - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    <partial name="~/Views/AdminDatabaseIntegrityChecks/DatabaseIntegrityChecksBreadcrumbs.cshtml" model="title"/>
}

<span class="govuk-caption-xl">Database integrity checks</span>
<h1 class="govuk-heading-xl">@title</h1>

<p class="govuk-body">
    This shows submitted reports that do not contain the required figures. Everything is required apart from median and 
    mean bonus data if the % of men who received a bonus is 0%.
</p>

@if (!Model.Any())
{
    <div class="govuk-body">
        No reports
    </div>
}
else
{
    <h2 class="govuk-heading-m">@(Model.Count) reports with missing figures</h2>
    <partial name="ReturnsTable.cshtml" model="Model"/>
}
