@using GenderPayGap.Core
@model List<GenderPayGap.Database.Return>

@{
    var title = "Submitted reports without pay quarters in a reporting year when opting out is not allowed";

    ViewBag.Title = $"{title} - Administration - Gender pay gap service";
}

@section BeforeMain {
    <partial name="~/Views/AdminDatabaseIntegrityChecks/DatabaseIntegrityChecksBreadcrumbs.cshtml" model="title"/>
}

<span class="govuk-caption-xl">Database integrity checks</span>
<h1 class="govuk-heading-xl">@title</h1>

<p class="govuk-body">
    This shows submitted reports for which employers opted out of reporting pay quarters, the reporting year not being one of the following:
    @string.Join(", ", Global.ReportingStartYearsWithFurloughScheme), when employers are allowed to opt out of reporting those figures.
</p>

@if (!Model.Any())
{
    <div class="govuk-body">
        No reports
    </div>
}
else
{
    <h2 class="govuk-heading-m">@(Model.Count) reports for which employers opted out of reporting pay quarters</h2>
    <partial name="ReturnsTable.cshtml" model="Model"/>
}
