<div class="references">
    <h4 class="bold-small">
        1. Improve workplace flexibility for men and women
    </h4>
    <ul class="list">
        <li>Not yet available.</li>
    </ul>
    <h4 class="bold-small">
        2. Encourage the uptake of Shared Parental Leave
    </h4>
    <ul class="list">
        <li>
            <a target="_blank" rel="noopener noreferrer" href="https://sharedparentalleave.campaign.gov.uk/">sharedparentalleave.campaign.gov.uk</a>
        </li>
    </ul>
    <h4 class="bold-small">
        3. Recruit returners
    </h4>
    <ul class="list">
        <li>
            <a target="_blank" class="nowrap" rel="noopener noreferrer" href="https://gov.uk/government/uploads/system/uploads/attachment_data/file/685064/Returner_Programmes_-_Best_Practice_Guidance_for_Employers.pdf">Returner Programmes-Best Practice Guidance for Employers.pdf</a>
        </li>
    </ul>
    <h4 class="bold-small">
        4. Offer mentoring and sponsorship
    </h4>
    <ul class="list">
        <li>Dobbin, F., & Kalev, A. (2016). Why diversity programs fail. Harvard Business Review, 94(7/8), 52-60.</li>
    </ul>
    <h4 class="bold-small">
        5. Offer networking programmes
    </h4>
    <ul class="list">
        <li>Dobbin, F., Kalev, A., & Kelly, E. (2007). Diversity management in corporate America. Contexts, 6(4), 21-27.</li>
    </ul>
    <h4 class="bold-small">
        6. Set internal targets
    </h4>
    <ul class="list">
        <li>Mento, A.J., Steel, R.P. & Karren, R.J. (1987). A meta-analytic study of the effects of goal setting on task performance: 1966–1984. Organizational Behaviour and Human Decision Processes, 39(1), 52-83.</li>
    </ul>
</div>