<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile="%home%\LogFiles\Id">
      <environmentVariables />
    </aspNetCore>
    <applicationInitialization doAppInitAfterRestart="true">
      <clear />
      <add initializationPage=".well-known/openid-configuration" />
    </applicationInitialization>
    <security>
      <dynamicIpSecurity>
        <denyByConcurrentRequests enabled="true" maxConcurrentRequests="30" />
        <denyByRequestRate enabled="true" maxRequests="30" requestIntervalInMilliseconds="2000" />
      </dynamicIpSecurity>
      <!-- removeServerHeader="true" will remove the Server: Microsoft/-IIS/8.0 header as per ITHC -->
      <requestFiltering removeServerHeader="true">
        <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <!-- Remove following header for security reasons as per ITHC -->
        <remove name="X-Powered-By" />
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
        <remove name="Server" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>