<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <security>
      <dynamicIpSecurity xdt:Transform="Remove" />
      <dynamicIpSecurity xdt:Transform="Insert">
        <denyByConcurrentRequests enabled="false" />
        <denyByRequestRate enabled="false" />
      </dynamicIpSecurity>
    </security>
    <aspNetCore processPath="%ProgramFiles%\dotnet\dotnet.exe" arguments=".\GenderPayGap.IdentityServer4.dll" stdoutLogFile="%home%\LogFiles\Id" xdt:Transform="SetAttributes" />
  </system.webServer>
</configuration>