@model GenderPayGap.WebUI.Models.Organisation.RemoveOrganisationModel
@{
    ViewBag.Title = "Remove organisation reason - Gender pay gap reporting service";
    var controller = ViewData["Controller"] as BaseController;
    long userId = Encryption.DecryptQuerystring(Model.EncUserId).ToInt64();
}
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge">
                Removal Complete
            </h1>
        </div>

        @if (controller.CurrentUser.UserId == userId && controller.IsImpersonatingUser == false)
        {
            <p>
                You have successfully removed yourself from reporting Gender Pay Gap data for @Model.OrganisationName. You will receive an email notification shortly.
            </p>
        }
        else
        {
            <p>
                You have successfully removed @Model.UserName from reporting Gender Pay Gap data for @Model.OrganisationName. They will receive an email notification shortly.
            </p>
        }

        <div class="form-group">
            <div class="bold-small">
                More options
            </div>
            <p>
                <a href="@Url.Action(nameof(OrganisationController.ManageOrganisations), "Organisation")">Manage Organisations</a>
            </p>
        </div>
    </div>
</div>