@using GenderPayGap.Core
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Search and compare gender pay gap data - Gender pay gap service - GOV.UK";
}

<style>
    .govuk-main-wrapper {
        padding-top: 0 !important;
    }
</style>

<div class="hero-banner govuk-!-margin-bottom-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl hero-banner-content govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                Gender pay gap service
            </h1>
            <p class="govuk-body hero-banner-content govuk-!-margin-bottom-7">
                The gender pay gap is the difference between the average pay of men and women in an organisation.
            </p>
            <h2 class="govuk-heading-m hero-banner-content govuk-!-font-size-27">
                Search and compare gender pay gap data
            </h2>
            <p class="govuk-body hero-banner-content">
                You can search and compare gender pay gap data if you are looking for data about a specific company or sector.
            </p>
            <partial name="Parts/SearchByOrganisation"/>
            <p class="govuk-body hero-banner-content govuk-!-margin-top-3">
                You can
                <a href="@Url.Action("SearchPage", "Search")"
                   class="govuk-link hero-banner-content">
                    view all employers</a>
                or
                <a href="@Url.Action("Download", "Download")"
                   class="govuk-link hero-banner-content">
                    download all gender pay gap data
                </a>
            </p>

        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">
            Gender pay gap reporting: guidance for employers
        </h3>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            Any employer with 250 or more employees on a specific date each year must report their gender pay gap data.
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
            <li>
                <a href="https://www.gov.uk/government/publications/gender-pay-gap-reporting-guidance-for-employers/who-needs-to-report"
                   class="govuk-link">
                    Who needs to report
                </a>
            </li>
            <li>
                <a href="https://www.gov.uk/government/publications/gender-pay-gap-reporting-guidance-for-employers/overview"
                   class="govuk-link">
                    What to report
                </a>
            </li>
            <li>
                <a href="https://www.gov.uk/government/publications/gender-pay-gap-reporting-guidance-for-employers/when-to-report"
                   class="govuk-link">
                    When to report
                </a>
            </li>
            <li>
                <a href="https://www.gov.uk/government/publications/gender-pay-gap-reporting-guidance-for-employers/preparing-your-data"
                   class="govuk-link">
                    Preparing your data
                </a>
            </li>
            <li>
                <a href="https://www.gov.uk/government/publications/gender-pay-gap-reporting-guidance-for-employers/making-your-calculations"
                   class="govuk-link">
                    Making your calculations
                </a>
            </li>
            <li>
                <a href="https://www.gov.uk/government/publications/gender-pay-gap-reporting-guidance-for-employers/closing-your-gender-pay-gap"
                   class="govuk-link">
                    Closing your gender pay gap
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">
            Submit your gender pay gap data
        </h3>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a href="@(Global.StartUrl ?? Url.Action("ManageOrganisationsGet", "ManageOrganisations"))"
                   class="govuk-link">
                    Report your gender pay gap data
                </a>
            </li>
        </ul>
    </div>
</div>


@section AfterLoadedCompiledScripts {
    <script>
            generateOrganisationSearchbar('#organisation-search-container', 'organisation-search');
    </script>
}
