.validation-summary-valid {
    display: none;
}

.customvalidation-summary-valid {
    display: none;
}

.customvalidation-summary-errors {
    display: block;
}
.error-summary li {
    color: #b10e1e !important;
    font-weight: bold;
    text-decoration: underline;
    list-style: none;
}

.error-summary span {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 0.8333333333em;
    display: block;
}
