@using GenderPayGap.Core
@using GenderPayGap.WebUI.Controllers.Guidance
@{
    ViewBag.Title = "Gender pay gap data";
    ViewBag.pageDescription = "Find and compare gender pay gap information reported by employers. Learn more about the gender pay gap and how to close it.";
    ViewBag.pageClass = "landing-page";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    <div class="hero-banner">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl hero-banner-content govuk-!-margin-top-6">Search and compare gender pay gap data</h1>
                <p class="govuk-body hero-banner-content">Employers with 250 or more employees have published their figures comparing men and women&rsquo;s average pay across the organisation.</p>
                <partial name="Launchpad/Parts/SearchByOrganisation"/>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-3 govuk-!-margin-bottom-6">
                <p class="govuk-body">
                    <a href="/viewing/search-results" class="govuk-link hero-banner-content">
                        Or browse all employers and compare data
                    </a>
                </p>
                <p class="govuk-body">
                    <a href="/viewing/download" class="govuk-link hero-banner-content">
                        Download all gender pay gap data
                    </a>
                </p>

            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Understanding the gender pay gap</h3>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
            <a class="govuk-link govuk-!-font-weight-bold" href="@Url.Action(nameof(EightWaysGuidanceController.EightWaysOverview), "EightWaysGuidance")">
                Eight ways to understand your organisation’s gender pay gap
            </a>
        </p>
        <p class="govuk-body">Identify potential causes of the gender pay gap in your organisation.</p>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Prepare and report your organisation's gender pay gap</h3>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
            <a href="@Url.Action("StepByStepStandalone", "ReportingStepByStep")" class="govuk-link govuk-!-font-weight-bold" >
                Prepare and report your gender pay gap: step-by-step guidance
            </a>
        </p>
        <p class="govuk-body">Find out what your organisation is required to report, and how to make your gender pay gap calculations.</p>
    </div>
    <div class="govuk-grid-column-one-third">
            <p class="govuk-body">
                <a class="govuk-link govuk-!-font-weight-bold" href="@(Global.StartUrl ?? Url.Action("ManageOrganisationsGet", "ManageOrganisations"))"  rel="noopener">
                    Sign-in and submit your gender pay gap information
                </a>
            </p>
            <p class="govuk-body">Sign-in or create an account to submit your gender pay gap data, and provide a link to your supporting narrative and action plan.</p>
        </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">How to close the gender pay gap</h3>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
            <a href="@Url.Action("Overview", "ActionHub")" class="govuk-link govuk-!-font-weight-bold">
                Actions to close the gap
            </a>
        </p>
        <p class="govuk-body">Recommended actions for employers that make a difference.</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
            <a href="/public/assets/pdf/action-plan-guidance.pdf" rel="download"
               class="govuk-link govuk-!-font-weight-bold">
                Four steps to developing a gender pay gap action plan
                <span class="govuk-visually-hidden"> (pdf)</span>
            </a>
        </p>
        <p class="govuk-body">A step by step guide for employers to develop an effective action plan.</p>
    </div>
</div>

@section AfterLoadedCompiledScripts {
    <script type="text/javascript">
            generateOrganisationSearchbar('#organisation-search', 'organisation-search');
    </script>
}
