@model IEnumerable<GenderPayGap.Core.Interfaces.Downloadable.IDownloadableItem>
@{
    ViewBag.Title = "Administration: Webjob Logs";

    ViewData["logType"] = "Webjob";
    ViewData["actionName"] = "WebjobLogs";
}

<main id="content" role="main">
    <partial name="Parts/MainLogContent" model="Model" view-data="ViewData"/>
</main>