<div class="covid-message">
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">
        There were some important changes to enforcement of the gender pay gap reporting regulations for the 2019/20 
        reporting year which used a snapshot date of either 31 March 2019 for most public authority employers, 
        or 5 April 2019 for private, voluntary, and all other public authority employers. For more information please read 
        <a href="https://www.gov.uk/government/news/employers-do-not-have-to-report-gender-pay-gaps" class="govuk-link" rel="noopener">
            this press release.
        </a>
    </p>
</div>
