<div class="covid-message">
    <p class="govuk-body govuk-!-font-weight-bold">
        Coronavirus (COVID-19): There have been some important changes to enforcement of the
        gender pay gap reporting regulations this year due to the impact of COVID-19 on employers.
        For more information please read the 
        <a href="https://www.gov.uk/government/news/employers-do-not-have-to-report-gender-pay-gaps" class="govuk-link">
            press release from the Minister for Women and
            Equalities and David Isaac, Chair of the Equality and Human Rights Commission.
        </a>
    </p>
</div>
