<div class="govuk-notification-banner" role="region" aria-labelledby="enforcement-changes-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="enforcement-changes-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            There were some changes to enforcement of the gender pay gap reporting regulations for the 2020/21
            reporting year (which used a snapshot date of either 31 March 2020 or 5 April 2020). 
            </p>
        <p>For more
            information please read
            <a href="https://www.gov.uk/guidance/gender-pay-gap-reporting-changes-to-enforcement" class="govuk-link" rel="noopener">
                this guidance</a>.
        </p>
    </div>
</div>
