@model GenderPayGap.BusinessLogic.Models.Submit.ReturnViewModel
<div class="grid-row">
    <div class="column-two-thirds">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => Model.AccountingDate)

            var controller = ViewData["Controller"] as BaseController;

            @await Html.CustomValidationSummaryAsync()
            <div class="govuk-box-highlight">
                <h1 class="bold-large">You've saved a draft of your gender pay gap data for @(Model.AccountingDate.Year)/@(Model.AccountingDate.AddYears(1).Year.ToTwoDigitYear())</h1>
            </div>

            <p>
                <a class="button" href="@Url.Action(nameof(OrganisationController.ManageOrganisations), "Organisation")">Continue</a>
            </p>
        }

        <div>
            <ul class="font-xsmall" style="line-height: 1.75">
                <li>
                    <a rel="track" target="_blank" data-track-category="Related Link Clicked" href="/public/assets/pdf/understand-your-gender-pay-gap.pdf">Eight ways to understand your organisation’s gender pay gap</a>
                </li>
                <li>
                    <a rel="track" target="_blank" data-track-category="Related Link Clicked" href="/actions-to-close-the-gap">Actions to close the gap</a>
                </li>
                <li>
                    <a rel="track" target="_blank" data-track-category="Related Link Clicked" href="/public/assets/pdf/action-plan-guidance.pdf">Four steps to developing a gender pay gap action plan</a>
                </li>
            </ul>
        </div>
    </div>
</div>