@model GenderPayGap.WebUI.BusinessLogic.Models.Submit.ReturnViewModel
@{
    var controller = ViewData["Controller"] as BaseController;
}
<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-large">
            @await Html.PartialAsync("ReportingOrgPart", controller.ReportingOrganisation.OrganisationName)
            Late Submission
        </h1>
        <p style="margin-top: 35px">You are adding or changing a Gender Pay Gap report after the deadline.</p>
        <p style="margin-top: 50px">
            <strong>
                You will not be asked for a reason and your report will not be treated as late if you are changing:
            </strong> 
            <ul class="list list-bullet">
                <li>your Senior Responsible Person</li>
                <li>your organisation size</li>
                <li>the link to your organisation's gender pay gap narrative</li>
            </ul>
        </p>
        
        <p style="margin-top: 50px">
            <strong>
                You will be asked for a reason and your information may be shared with the Equalities and Human Rights Commission if you are:
            </strong>
            <ul class="list list-bullet">
                <li>changing previously reported figures</li>
                <li>reporting for the first time</li>
            </ul>
        </p>

        <a id="NextStep" href="@Url.Action(Model.ReturnUrl)" class="button" style="margin-top: 50px">Continue</a>
    </div>
</div>