@model GenderPayGap.BusinessLogic.Models.Submit.ReturnViewModel
@{
    var controller = ViewData["Controller"] as BaseController;
}
<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-large">
            @await Html.PartialAsync("ReportingOrgPart", controller.ReportingOrganisation.OrganisationName)
            Late Submission
        </h1>
        <p>You are adding or changing a Gender Pay Gap report after the deadline.</p>
        <p>
            You will need to provide a reason and your report may be shared with the Equalities and Human Rights Commission if:
            <ul class="list list-bullet">
                <li>You are submitting a report for the first time after the deadline</li>
                <li>You are changing previously reported figures or your Senior Responsible Person after the deadline</li>
            </ul>
        </p>
        <p>
            The submission date recorded is always the latest date you changed your GPG figures.
        </p>

        <a id="NextStep" href="@Url.Action(Model.ReturnUrl)" class="button">Continue</a>
    </div>
</div>