
<div class="govuk-grid-column-one-third">
    <aside style="border-top: 2px solid #005ea5; padding-top: 5px;" role="complementary">
        <h3 class="govuk-heading-s" id="related-content-aside-heading">
            Related content
        </h3>
        <nav role="navigation" aria-labelledby="related-content-aside-heading">
            <p class="govuk-body govuk-body-s">
                <a href="https://www.gov.uk/government/publications/gender-pay-gap-reporting-guidance-for-employers"
                   class="govuk-link"
                   target="_blank">
                    Gender pay gap reporting: guidance for employers (opens in a new window)
                </a>
            </p>
        </nav>
    </aside>
</div>
