@using GenderPayGap.Core
@using GenderPayGap.WebUI.Controllers.Guidance
<div class="column-third">
    <aside class="govuk-related-items" role="complementary">
        <h3 class="heading-small" id="subsection-title">Related content</h3>
        <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
                <li>
                    <a rel="external noopener track" target="_blank" data-track-category="Related Link Clicked" href="@Global.GpgGuidanceLink">Gender pay gap reporting<span class="visually-hidden">(opens in a new window)</span></a>
                </li>
                <li>
                    <a rel="external noopener track" target="_blank" data-track-category="Related Link Clicked" href="@Url.Action(nameof(EightWaysGuidanceController.EightWaysOverview), "EightWaysGuidance")">Eight ways to understand your organisation's gender pay gap<span class="visually-hidden">(opens in a new window)</span></a>
                </li>
                <li>
                    <a rel="external noopener track" target="_blank" data-track-category="Related Link Clicked" href="/public/assets/pdf/action-plan-guidance.pdf">Four steps to developing a gender pay gap action plan<span class="visually-hidden">(opens in a new window)</span></a>
                </li>
                <li>
                    <a rel="external noopener track" target="_blank" data-track-category="Related Link Clicked" href="@Url.Action("Overview", "ActionHub")">Actions to close the gap<span class="visually-hidden">(opens in a new window)</span></a>
                </li>
            </ul>
        </nav>
    </aside>
</div>
