<p>
    <input id="ContinueStep" class="govuk-button" type="submit" role="button" value="Save and Continue"/>
    <br/>
    <input id="CancelStep" class="link-button" type="submit" role="button" formaction="cancel-enter-calculations" value="Cancel and return to @Model"/>
</p>
