@{
    ViewBag.Title = "Details about cookies on Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Details about cookies on Gender pay gap service</h1>
        <p class="govuk-body">Gender pay gap service puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site. Find out more about the cookies we use, what they’re for and when they expire.</p>

        <h2 class="govuk-heading-l">Cookies that measure website usage</h2>
        <p class="govuk-body">We use Google Analytics software (Universal Analytics) to collect anonymised information about how you use the gender pay gap service and GOV.UK. We do this to help make sure the site is meeting the needs of its users and to help us make improvements to the site and to government digital services.</p>
        <p class="govuk-body">We do not allow Google to use or share the data about how you use this site.</p>
        <p class="govuk-body">Google Analytics stores information about:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>how you got to the site</li>
            <li>the pages you visit on the gender pay gap service and how long you spend on them</li>
            <li>what you click on while you’re visiting the site</li>
        </ul>
        <p class="govuk-body">Google Analytics sets the following cookies:</p>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Purpose</th>
                    <th scope="col" class="govuk-table__header">Expires</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_ga</td>
                    <td class="govuk-table__cell">This helps us count how many people visit the gender pay gap service by tracking if you’ve visited before</td>
                    <td class="govuk-table__cell">2 years</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_gid</td>
                    <td class="govuk-table__cell">This helps us count how many people visit the gender pay gap service by tracking if you’ve visited before</td>
                    <td class="govuk-table__cell">24 hours</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_gat</td>
                    <td class="govuk-table__cell">This helps Google to manage the rate at which they track your site interactions (when high traffic occurs)</td>
                    <td class="govuk-table__cell">1 minute</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_gat_govuk_shared</td>
                    <td class="govuk-table__cell">This helps Google to manage the rate at which they track your site interactions (when high traffic occurs)</td>
                    <td class="govuk-table__cell">1 minute</td>
                </tr>
            </tbody>
        </table>

        <h2 class="govuk-heading-l">Strictly necessary cookies</h2>

        <h3 class="govuk-heading-s">Logging into the services</h3>
        <p class="govuk-body">The ‘Report your gender pay gap data’ section of the site requires you to log in. The following cookies are used as part of this login process.</p>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Purpose</th>
                    <th scope="col" class="govuk-table__header">Expires</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">.AspNetCore<wbr/>.Cookies</td>
                    <td class="govuk-table__cell">Used to keep you logged in to the ‘Report your gender pay gap data’ section of the site</td>
                    <td class="govuk-table__cell">When you close your browser</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">compare</td>
                    <td class="govuk-table__cell">If you use our ‘Employer comparison’ page, this cookie remembers the list of employers you are currently comparing.</td>
                    <td class="govuk-table__cell">1 year</td>
                </tr>
            </tbody>
        </table>

        <h3 class="govuk-heading-s">Your progress when using the service</h3>
        <p class="govuk-body">When you use the service, we’ll set a cookie to remember your progress through the forms. These cookies do not store your personal data.</p>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Purpose</th>
                    <th scope="col" class="govuk-table__header">Expires</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">.AspNetCore<wbr/>.Session</td>
                    <td class="govuk-table__cell">Saves your progress through the forms on the site.</td>
                    <td class="govuk-table__cell">When you close your browser</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">.AspNetCore<wbr/>.Antiforgery.*</td>
                    <td class="govuk-table__cell">Helps to keep the site secure - so only users who are logged in can submit gender pay gap data</td>
                    <td class="govuk-table__cell">When you close your browser</td>
                </tr>
            </tbody>
        </table>

        <h3 class="govuk-heading-s">Cookies message</h3>
        <p class="govuk-body">You may see a banner when you visit GOV.UK inviting you to accept cookies or review your settings. We’ll set cookies so that your computer knows you’ve seen it and not to show it again, and also to store your settings.</p>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Purpose</th>
                    <th scope="col" class="govuk-table__header">Expires</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">seen_cookie_message</td>
                    <td class="govuk-table__cell">Lets us know that you’ve seen our cookie message</td>
                    <td class="govuk-table__cell">1 year</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">cookie_settings</td>
                    <td class="govuk-table__cell">Saves your cookie consent settings</td>
                    <td class="govuk-table__cell">1 year</td>
                </tr>
            </tbody>
        </table>

        <h2 class="govuk-heading-l">Change your settings</h2>
        <p class="govuk-body">You can <a href="@Url.Action("CookieSettingsGet", "Cookie")" class="govuk-link">change which cookies you’re happy for us to use</a>.</p>
    </div>
</div>
