@{
    Layout = "EightWaysGuidanceLayout";
}

<h2 class="govuk-heading-l">Are you doing all that you can to support part-time employees to progress?</h2>
<p class="govuk-body">
    More women than men work part‐time because most caring responsibilities within the home are still taken
    on by women. Ensuring that part-time employees are well supported and are given opportunities to progress
    means that well-qualified, experienced women (and men who also take on caring responsibilities) are better
    able to keep participating in the workforce.
</p>
<h3 class="govuk-heading-s">To assess how part-time workers progress within your organisation:</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>
        <strong>
            Look at the number of part-time workers by grade and occupation.
        </strong>
        <p class="govuk-body">
            It may be the case, for example, that senior roles are not being made accessible
            to part‐time employees.
        </p>
    </li>
    <li>
        <strong>
            Many of the issues already raised in this guide can also be considered specifically for
            part-time workers.
        </strong>
        <p class="govuk-body">
            For example, you could look at differences in performance scores and promotion rates between
            part-time and full-time employees.
        </p>
    </li>
</ul>

<hr class="govuk-section-break govuk-section-break--xl" />

<div class="guidance-warning-text">
    <span class="guidance-warning-text__icon" aria-hidden="true">!</span>
    <strong class="guidance-warning-text__text">
        If you find a gender imbalance here:
    </strong>
    <ul class="govuk-list govuk-list--bullet">
        <li>
            <p class="govuk-body">
                Consider offering more senior positions on a part‐time or flexible basis, including job shares.
            </p>
        </li>
        <li>
            <strong>
                Support managers to understand how roles can be done flexibly.
            </strong>
            <p class="govuk-body">
                This might involve having a resourcing meeting to work out what arrangements might be possible,
                or giving managers advice and guidance on what flexible working might look like in practice
                in their team.
            </p>
        </li>
        <li>
            <strong>
                When advertising jobs, advertise them as flexible by default unless there is a strong business
                reason why this is not possible for a given job.
            </strong>
            <p class="govuk-body">
                This attracts a wider range of eligible talent.
            </p>
        </li>
        <li>
            <strong>
                Check whether part-time employees have equal access to training and development opportunities.
            </strong>
            <p class="govuk-body">
                For example, are training opportunities offered at times that suit their needs? Are managers
                having career conversations with them and not making assumptions about their career aspirations?
            </p>
        </li>
    </ul>
</div>