@using GenderPayGap.WebUI.Models.Guidance

@{
    Layout = "EightWaysGuidanceLayout";
}

<h2 class="govuk-heading-l">Do men and women leave your organisation at different rates?</h2>

<p class="govuk-body">
    If women are leaving your organisation more quickly than men, this could contribute to your gender pay
    gap, especially if this is occurring in more highly-paid positions.
</p>

<p class="govuk-body govuk-!-font-weight-bold">
    To work out if this is a problem in your organisation:
</p>

<p class="govuk-body">
    Look at the percentage of women and men leaving your organisation each year, by seniority level. Make
    sure to look at the proportion of women leaving relative to the proportion of women in that grade.
</p>
<p class="govuk-body">
    For example, you might find that 20% of the women in a particular grade left over the last year, whereas
    only 10% of men in that grade left over the last year.
</p>

<hr class="govuk-section-break govuk-section-break--xl" />

<p class="govuk-body govuk-!-font-weight-bold">
    Example of gender imbalance by employee exit rates, and seniority level
</p>

<partial name="../Guidance/MenWomenSeparatedBarChart"
         model=@( new GuidanceBarChartViewModel
               {
                   Id = "TopLevel",
                   Title = "Top level (highest paid)",
                   Female = 43,
                   Male = 25
               }) />

<partial name="../Guidance/MenWomenSeparatedBarChart"
         model=@( new GuidanceBarChartViewModel
               {
                   Id = "UpperMiddleLevel",
                   Title = "Upper middle level",
                   Female = 25,
                   Male = 25
               }) />

<partial name="../Guidance/MenWomenSeparatedBarChart"
         model=@( new GuidanceBarChartViewModel
               {
                   Id = "BottomMiddleLevel",
                   Title = "Bottom middle level",
                   Female = 12,
                   Male = 20
               }) />

<partial name="../Guidance/MenWomenSeparatedBarChart"
         model=@( new GuidanceBarChartViewModel
               {
                   Id = "LowerLevel",
                   Title = "Lower level (lowest paid)",
                   Female = 10,
                   Male = 12
               }) />

<hr class="govuk-section-break govuk-section-break--xl" />

<div class="guidance-warning-text">
    <span class="guidance-warning-text__icon" aria-hidden="true">!</span>
    <strong class="guidance-warning-text__text">
        If you find a gender imbalance in employee exit rates
    </strong>
    <ul class="govuk-list govuk-list--bullet">
        <li>
            <strong>
                Conduct a staff survey to identify issues around retention.
            </strong>
            <p class="govuk-body">
                Staff surveys can be invaluable in identifying differences in engagement, aspirations to progress
                or feelings of belonging, which may impact retention.

            </p>
            <p class="govuk-body">
                Analyse results by gender, and consider
                adding additional questions to help you get to the root of issues. Also, information from exit
                interviews – if delivered independently and in confidence – are likely to be useful.
            </p>

        </li>
        <li>
            <strong>
                Check whether there are structural issues that may influence people’s perceptions of how
                successful they can be at your organisation.
            </strong>
            <p class="govuk-body">
                For example, if senior positions are not offered with flexible working arrangements, people
                with caring responsibilities may not feel they can apply. This could result in talented people
                feeling that they cannot develop and succeed within your organisation, causing them to leave.
            </p>
        </li>
    </ul>
</div>