@using GenderPayGap.WebUI.Models.Guidance

@{
    Layout = "EightWaysGuidanceLayout";
}

<h2 class="govuk-heading-l">Do people get ‘stuck’ at certain levels within your organisation?</h2>
<p class="govuk-body">
    The quartile breakdowns required under GPG reporting show the proportion of women and men at different pay
    levels. This approach allows different organisations to be compared. However, it does not take into account
    your particular organisational structure.
</p>

<hr class="govuk-section-break govuk-section-break--xl" />

<p class="govuk-body govuk-!-font-weight-bold">
    An example showing gender imbalance by the proportion of women in each quarter
</p>

            <partial name="../Guidance/MenWomenBarChart"
                     model=@( new GuidanceBarChartViewModel
                           {
                   Title = "Top quarter (highest paid)",
                   Female = 34,
                   Male = 66
               }) />

            <partial name="../Guidance/MenWomenBarChart"
                     model=@( new GuidanceBarChartViewModel
                           {
                               Title = "Upper middle quarter",
                   Female = 45,
                   Male = 55
               }) />

            <partial name="../Guidance/MenWomenBarChart"
                     model=@( new GuidanceBarChartViewModel
                           {
                               Title = "Bottom middle quarter",
                   Female = 55,
                   Male = 45
               }) />

            <partial name="../Guidance/MenWomenBarChart"
                     model=@( new GuidanceBarChartViewModel
                           {
                   Title = "Lower quarter (lowest paid)",
                   Female = 50,
                   Male = 50
               }) />
        
        <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Examine gender balance by your seniority structure</span>
        Examine gender balance by your seniority structure
    </strong>
    <p class="govuk-body">
        You should examine the gender balance in your organisation using your own seniority structure,
        and ideally also your job types and departments.
    </p>
</div>

<p class="govuk-body govuk-!-font-weight-bold">
    Example of gender imbalance by seniority structure
</p>

<div> @* This surrounding <div> ensures the diagram is centred on the screen *@
    <partial name="Images/GenderImbalanceBySeniorityStructure" />
</div>
