<p>
    Pay quarters are calculated by splitting all employees in an organisation into four even groups according to their level of pay.
    Looking at the proportion of women in each quarter gives an indication of women's representation at different levels of the organisation.
</p>