<p>
    Pay quarters show the percentage of men and women employees in four equal sized groups based on their hourly pay.
</p>
<p>
    Pay quarters give an indication of women's representation at different levels of the organisation.
</p>
