@using GenderPayGap.Core
@using GenderPayGap.Database.Models
@using GenderPayGap.WebUI.Views.AdminFeedback
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model List<GenderPayGap.Database.Models.Feedback>

@{
    ViewBag.Title = "View feedback - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new CrumbViewModel
            {
                Text = "View feedback"
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">View feedback</h1>

        <p class="govuk-body">
            Download
            <a href="@Url.Action("DownloadFeedback", "AdminFeedback", new {nonSpamOnly = true})"
               class="govuk-link">
                <span class="govuk-visually-hidden">Download CSV of </span>
                non-spam feedback
            </a>
            <br/>
            Download
            <a href="@Url.Action("DownloadFeedback", "AdminFeedback")"
               class="govuk-link">
                <span class="govuk-visually-hidden">Download CSV of </span>
                all feedback (new, non-spam, spam)
            </a>
        </p>

        @(Html.Partial("ViewFeedbackRowsPartial", new ViewFeedbackRowsPartialViewModel
        {
            FeedbackTitle = "non-spam responses",
            FeedbackRows = Model,
            ButtonClasses = "govuk-button--secondary",
            Open = true,
            ShowMarkAsSpamButton = true,
            ShowMarkAsNotSpamButton = false
        }))

    </div>
</div>
