@using GenderPayGap.WebUI.Models.Viewing
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model GenderPayGap.Database.Return

@{
    decimal diffMedianBonus = Model.DiffMedianBonusPercent.HasValue ? Model.DiffMedianBonusPercent.Value : 0;
    bool femaleHasLowerMedianBonusPay = Model.DiffMedianBonusPercent == null || Model.DiffMedianBonusPercent >= 0;
    bool femaleHasLowerMeanBonusPay = Model.DiffMeanBonusPercent == null || Model.DiffMeanBonusPercent >= 0;
    bool menReceivedBonuses = Model.MaleMedianBonusPayPercent != 0;
    bool womenReceivedBonuses = Model.FemaleMedianBonusPayPercent != 0;

    decimal FemaleMoneyFromMedianBonusPay()
    {
        if (Model.DiffMedianBonusPercent == null)
        {
            return 0;
        }

        return femaleHasLowerMedianBonusPay ? 100 - Model.DiffMedianBonusPercent.Value : 100 + Math.Abs(Model.DiffMedianBonusPercent.Value);
    }

    string FemaleMedianBonusPayMonitised()
    {
        decimal roundedRate = Math.Round(FemaleMoneyFromMedianBonusPay());
        if (roundedRate < 100)
        {
            return $"{roundedRate}p";
        }

        if (roundedRate == 100)
        {
            return "£1";
        }

        return $"£{string.Format("{0:#.00}", roundedRate / 100)}";
    }


    var medianBonusChartModel = new VerticalBarChartModel
    {
        Id = "MedianBonusDiffChart",
        FemaleIsLower = femaleHasLowerMedianBonusPay,
        Male = femaleHasLowerMedianBonusPay ? 100 : 100 + diffMedianBonus,
        Female = femaleHasLowerMedianBonusPay ? 100 - diffMedianBonus : 100,
        MaleMonetisation = "£1",
        FemaleMonetisation = FemaleMedianBonusPayMonitised()
    };

    // calculates the median bonus pay text to display

    // mean bonus difference
    var diffMeanBonusText = new BonusDiffTextViewModel
    {
        Id = "DiffMeanBonusPercent",
        Compare = femaleHasLowerMeanBonusPay ? "lower" : "higher",
        Percent = Math.Abs(Model.DiffMeanBonusPercent.HasValue ? Model.DiffMeanBonusPercent.Value : 0),
        Statistic = "mean",
        MenReceivedBonuses = menReceivedBonuses,
        WomenReceivedBonuses = womenReceivedBonuses
    };

    // who received bonuses
    var femaleBonusPayText = new BonusProportionTextViewModel
    {
        Id = "FemaleBonusPayText",
        Percent = Model.FemaleMedianBonusPayPercent,
        Gender = "women",
        MenReceivedBonuses = menReceivedBonuses,
        WomenReceivedBonuses = womenReceivedBonuses
    };

    var maleBonusPayText = new BonusProportionTextViewModel
    {
        Id = "MaleBonusPayText",
        Percent = Model.MaleMedianBonusPayPercent,
        Gender = "men",
        MenReceivedBonuses = menReceivedBonuses,
        WomenReceivedBonuses = womenReceivedBonuses
    };
}

<section id="BonusPayGap">

    <div class="grid-row">
        <div class="column-full">
            <h2 class="heading-medium">Bonus pay gap</h2>
        </div>
    </div>

    @if (menReceivedBonuses)
    {
        <div class="grid-row">
            <div class="column-full">
                <span>
                    In this organisation, women earn @FemaleMedianBonusPayMonitised()
                    for every £1
                    that men earn when comparing median bonus pay.
                </span>
                <span>Their median bonus pay is @(string.Format("{0:0.#}", Math.Abs(diffMedianBonus)))%</span>
                <span>
                    @(femaleHasLowerMedianBonusPay ? "lower" : "higher")
                    than men&rsquo;s.
                </span>
            </div>
        </div>

        <div class="grid-row" aria-hidden="true">
            <div class="column-full">
                <div class="govuk-legend">
                    <span class="font-xsmall">
                        <span class="govuk-legend__caption govuk-legend__caption--women" data-legend-text="Women"></span>
                        <span class="govuk-legend__caption govuk-legend__caption--men" data-legend-text="Men"></span>
                    </span>
                </div>
                <partial name="EmployerDetails/VerticalBarChart" model="medianBonusChartModel"/>
            </div>
        </div>
    }

    <partial name="EmployerDetails/BonusPay/BonusDiffText" model="diffMeanBonusText"/>

    <div class="grid-row">
        <div class="column-full">
            <h3 id="ReceivedBonusPay" class="heading-small" style="margin-bottom: 1.25em">Who received bonus pay</h3>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            @if (womenReceivedBonuses || menReceivedBonuses)
            {
                <partial name="EmployerDetails/BonusPay/BonusProportionText" model="femaleBonusPayText"/>
                <partial name="EmployerDetails/BonusPay/BonusProportionText" model="maleBonusPayText"/>
            }
            else
            {
                <span>No bonuses were paid.</span>
            }
        </div>
    </div>
</section>
