@{
    var navEntries = new[]
    {
        new {Text = "Manage Organisations", UrlPath = Url.Action("ManageOrganisationsGet", "ManageOrganisations")},
        new {Text = "Manage Account", UrlPath = Url.Action("ManageAccountGet", "ManageAccount")}
    };
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <nav class="account-tabs">
            <ul>
                @foreach (var navItem in navEntries)
                {
                    bool isCurrentPage = (navItem.UrlPath == Context.Request.Path.Value);

                    <li class="@(isCurrentPage ? "account-tab--selected" : null)">
                        <a href="@(navItem.UrlPath)"
                           class="govuk-link govuk-link--no-visited-state">
                            @(navItem.Text)
                        </a>
                    </li>
                }
            </ul>
        </nav>

    </div>
</div>
