@{
    var navEntries = new[]
    {
        new {Text = "Manage Organisations", UrlPath = Url.Action<OrganisationController>(nameof(OrganisationController.ManageOrganisations))},
        new {Text = "Manage Account", UrlPath = Url.Action("ManageAccountGet", "ManageAccount")}
    };
}
<div class="grid-row">
    <div class="column-full">
        <nav class="app-navigation govuk-clearfix">
            <ul class="app-navigation__list govuk-width-container">
                @foreach (var navItem in navEntries)
                {
                    <li class="app-navigation__list-item @(navItem.UrlPath.EndsWith(Context.Request.Path.Value) ? "app-navigation__list-item--current" : "")">
                        <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="@(navItem.UrlPath)" data-topnav="@navItem.Text">@navItem.Text</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>