/* line 4, /app/govuk_modules/govuk-elements-sass/elements/_buttons.scss */
.button {
    background-color: #00823b;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: .526315em .789473em .263157em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #003618;
    -moz-box-shadow: 0 2px 0 #003618;
    box-shadow: 0 2px 0 #003618;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    margin-top: 5px;
}

/* line 50, govuk_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:visited {
    background-color: #00823b;
}

/* line 54, govuk_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:hover, .button:focus {
    background-color: #00692f;
}

/* line 59, govuk_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #00823b;
    -moz-box-shadow: 0 0 0 #00823b;
    box-shadow: 0 0 0 #00823b;
}

/* line 65, govuk_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button.disabled, .button[disabled="disabled"], .button[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

/* line 69, govuk_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
    cursor: default;
    background-color: #00823b;
}

/* line 74, govuk_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
    top: 0;
    -webkit-box-shadow: 0 2px 0 #003618;
    -moz-box-shadow: 0 2px 0 #003618;
    box-shadow: 0 2px 0 #003618;
}

/* line 87, govuk_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:link, .button:hover, .button:focus, .button:visited {
    color: #fff;
}

/* line 106, govuk_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

/* line 117, govuk_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:active:before {
    top: -10%;
    height: 120%;
}

/* line 130, govuk_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0;
}

@media (max-width: 640px) {
    /* line 4, /app/govuk_modules/govuk-elements-sass/elements/_buttons.scss */
    .button {
        width: 100%;
        text-align: center;
    }
}

/* line 16, /app/govuk_modules/govuk-elements-sass/elements/_buttons.scss */
.button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* line 21, /app/govuk_modules/govuk-elements-sass/elements/_buttons.scss */
.button:focus {
    outline: 3px solid #ffbf47;
}

/* line 26, /app/govuk_modules/govuk-elements-sass/elements/_buttons.scss */
.button[disabled="disabled"] {
    background: #00823b;
}

/* line 30, /app/govuk_modules/govuk-elements-sass/elements/_buttons.scss */
.button[disabled="disabled"]:focus {
    outline: none;
}

/* line 35, /app/govuk_modules/govuk-elements-sass/elements/_buttons.scss */
.button-start,
.button-get-started {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    background-image: url("/public/assets/images/icon-pointer.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding: 0.3684210526em 2.1578947368em 0.2105263158em 0.8421052632em;
}

.button-warning {
    background-color: #d4351c;
    color: white;
}

.button-warning:hover,
.button-warning:focus
.button-warning.disabled:hover, 
.button-warning[disabled="disabled"]:hover, 
.button-warning[disabled]:hover {
    background-color: #aa2a16;
}

@media (min-width: 641px) {
    /* line 35, /app/govuk_modules/govuk-elements-sass/elements/_buttons.scss */
    .button-start, .button-get-started {
        font-size: 24px;
        line-height: 1.25;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    /* line 35, /app/govuk_modules/govuk-elements-sass/elements/_buttons.scss */
    .button-start,
    .button-get-started {
        background-image: url("/public/images/icon-pointer-2x.png");
        background-size: 30px 19px;
    }
}
