.gpg-govuk-table {
    font-family: nta,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    line-height: 1.25;
    color: #0b0c0c;
    width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    /*border-bottom: 1px solid;*/
}

@media print {
    .gpg-govuk-table {
        font-family: sans-serif;
        border-top: 1px solid;
    }
}

@media print {
    .gpg-govuk-table {
        font-size: 14pt;
        line-height: 1.15;
        color: #000
    }
}

@media (min-width:40.0625em) {
    .gpg-govuk-table {
        margin-bottom: 30px
    }
}

.gpg-govuk-table .header {
    font-weight: 700;
    /*border-bottom: 0;*/
    text-align: center;
}

.gpg-govuk-table .row td {
    line-height: 110% !important;
}

.gpg-govuk-table .row td .link-button {
    text-decoration: none;
}

.gpg-govuk-table .row td .link-button:hover {
    text-decoration: underline;
}

@media print {
    .gpg-govuk-table .row td .link-button {
        color: #000;
    }
}

/* why? so we can have additional space either side of the headers that group more than one item (i.e. BONUS as it contains columns 'men' and 'women'') */
.gpg-govuk-table .groupingHeader {
    padding-left: 15px;
    padding-right: 15px;
}

.gpg-govuk-table .sortableColumnHeader a {
    text-decoration: none !important;
}

.gpg-govuk-table .sortableColumnHeader {
    font-weight: lighter;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    text-align: left;
}

@media print {
    .gpg-govuk-table .sortableColumnHeader {
        text-align: center;
    }
}


.gpg-govuk-table td.ascending,
.gpg-govuk-table td.ascending a,
.gpg-govuk-table td.descending,
.gpg-govuk-table td.descending a{
    background-color: #DEE0E2;
    color: #000;
}

.gpg-govuk-table thead {
    border-bottom: 1px solid #CCCCCC;
}

.gpg-govuk-table th {
    /*border-bottom: 1px solid #CCCCCC;*/
    border: none;
}

.gpg-govuk-table td {
    border: none;
}

.gpg-govuk-table th.ascending,
.gpg-govuk-table th.ascending a,
.gpg-govuk-table th.descending,
.gpg-govuk-table th.descending a {
    background-color: #005EA5;
    color: #fff;
}

@media print {
    .gpg-govuk-table td.ascending,
    .gpg-govuk-table td.ascending a,
    .gpg-govuk-table td.descending
    .gpg-govuk-table td.descending a {
        background-color: #fff;
        color: #000;
    }

    .gpg-govuk-table th.ascending,
    .gpg-govuk-table th.ascending a,
    .gpg-govuk-table th.descending
    .gpg-govuk-table th.descending a {
        background-color: #fff;
        color: #000;
        font-weight: bold;
    }
}

.gpg-govuk-table .row-even {
    background-color: #F2F2F2;
}

.gpg-govuk-table .row-even .gpg-gov-table .noData {
    color: #999999;
}

.gpg-govuk-table .cell a {
    padding: 0px;
}

.gpg-govuk-table .cell, .gpg-govuk-table .row th, .gpg-govuk-table .header {
    font-size: 13px;
    text-decoration: none;
    vertical-align: top;
}

.gpg-govuk-table .row td {
    border: 1px solid #CCCCCC;
    border-right-width: 0px;
    font-size: 13px;
    padding: 8px;
    vertical-align: middle;
}

.gpg-govuk-table .cell--numeric {
    font-family: ntatabularnumbers,nta,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}

.gpg-govuk-table .cell--text {
    font-family: ntatabularnumbers,nta,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    text-align: center;
}

@media print {
    .gpg-govuk-table .cell--numeric {
        font-family: sans-serif
    }
}

.gpg-govuk-table .cell--numeric, .gpg-govuk-table .header--numeric {
    text-align: right
}

.gpg-govuk-table .caption {
    font-weight: 700;
    display: table-caption;
    text-align: left
}

.gpg-govuk-table .OrganisationName {
    color: #005EA5;
    text-align: center;
    line-height: normal;
    font-weight: normal;
    word-wrap: normal;
}

.gpg-govuk-table .NatureOfBusiness {
    white-space: pre-line;
}

.gpg-govuk-table .LeftmostColumn {
    border-left-width: 0px !important;
}

.gpg-govuk-table .RemoveLink, .gpg-gov-table .RemoveLink a, .gpg-gov-table .RemoveLink a:visited {
    color: #333333;
    font-weight: normal;
    margin-top: 10px;
    text-align: center;
}


.info-data.sample-too-small::after {
    content: '?';
    margin-left: 10px;
}

.info-data::after {
    background-color: #005ea5;
    color: white;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    line-height: 22px;
    font-size: 18px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
