@media screen {
    .print-only {
        display: none;
    }
}

.overflowx {
    overflow-x: auto;
    overflow-y: visible
}

.overflowy {
    overflow-y: auto;
    overflow-x: visible
}

.script-only {
    display: none;
}

@media print {
    .no-print {
        display: none;
    }

    a[href]:after {
        content: none !important;
    }

    .overflowx {
        overflow-x: visible;
        overflow-y: visible
    }

    .overflowy {
        overflow-y: visible;
        overflow-x: visible
    }


    /*Styles applied to x-org when printing*/

    /*Changes only with Safari the text won't display as expected*/
    .header__menu__proposition-name {
        font-family: sans-serif;
        z-index: 1000;
        font-size: 1em;
    }

    /*table row content won't divide to next page when
    page break*/
    tr {
        page-break-inside: avoid
    }

    tfoot {
        display: table-footer-group;
    }

    tbody {
        display: table-row-group;
    }

    thead.report-header {
        display: table-header-group;
    }

    /*End styles applied to x-org when printing*/

}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/*custom css class - added by kingsley*/
.badge-danger {
    color: #fff;
    background-color: #d9534f !important;
}

.set-width-100-percent {
    width: 100%;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.optional {
    font-size: smaller;
    opacity: 0.8;
}

.wordwrap {
    /*white-space: pre-wrap;*/ /* CSS3 */
    /*white-space: -moz-pre-wrap;*/ /* Firefox */
    /*white-space: -pre-wrap;*/ /* Opera <7 */
    /*white-space: -o-pre-wrap;*/ /* Opera 7 */
    word-wrap: break-word; /* IE */
}

.registerlogin {
    background-color: black;
    text-decoration-color: white;
    color: white;
}

.text-danger {
    color: red;
}

.link-button {
    background: none !important;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    text-decoration: underline;
    display: inline;
    color: #005ea5;
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
}

    .link-button:hover {
        color: #2e8aca;
    }

.error-summary li {
    color: #b10e1e !important;
    font-weight: bold;
    text-decoration: underline;
    list-style: none;
}

.error-summary span {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 0.8333333333em;
    display: block;
}

.error-danger {
    color: #b10e1e !important;
    font-weight: bold;
    text-decoration: none;
}

.validation-summary-valid {
    display: none;
}

.customvalidation-summary-valid {
    display: none;
}

.customvalidation-summary-errors {
    display: block;
}

input[type=radio] {
    cursor: pointer;
}

input[type=checkbox] {
    cursor: pointer;
}

input[type=button] {
    cursor: pointer;
}

input[type=file] {
    cursor: pointer;
}

input[type=submit] {
    cursor: pointer;
}

.filter label {
    font-size: 16px;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

.filter li {
    list-style: none;
}

.tabs-list li {
    list-style: none;
}

.tabs-list li, ul.tabs {
    border-bottom: 0 none;
    float: left;
    margin: 0 0 -1px;
    padding: 0;
}

    ul.tabs li.current {
        border: 1px solid #bfc1c3;
        border-bottom: 1px solid transparent;
        margin-top: 0;
        margin-bottom: 0;
        padding: .68421em .94737em .73684em;
        background-color: #fff;
        color: #0b0c0c;
        cursor: default;
        text-decoration: none;
    }

    .tabs-list li a, ul.tabs li {
        background-color: #dee0e2;
        border: 0 none;
        float: left;
        margin: .26316em .26316em .26316em 0;
        padding: .47368em 1em;
        text-align: center;
        display: block;
    }

    ul.tabs li {
        cursor: pointer;
        color: #005ea5;
    }

.tab-content {
    display: none;
}

.tabs-content, .tab-content {
    border-top: 1px solid #bfc1c3;
    clear: both;
}

    .tab-content.current {
        display: inherit;
    }

.tab-content {
    display: none;
}

.tabs-content, .tab-content {
    border-top: 1px solid #bfc1c3;
    clear: both;
}

.field-validation-error + input[type=text],
.field-validation-error + input[type=email],
.field-validation-error + input[type=password],
.field-validation-error + input[type=tel] {
    border: 4px solid #b10e1e;
}


.form-group .error {
    border-left: 4px solid transparent !important;
}

    .form-group.error textarea,
    .form-group.error input[type=text],
    .form-group.error input[type=email],
    .form-group.error input[type=password],
    .form-group.error input[type=tel] {
        border: 4px solid #b10e1e !important;
    }

.phase-callout {
    max-width: 960px;
    margin: 0 15px;
}

@media (min-width: 641px) {
    .phase-callout {
        margin: 0 30px;
    }
}

@media (min-width: 1020px) {
    .phase-callout {
        margin: 0 auto;
    }
}

.print-link {
    background: url(/img/icon-print.png) no-repeat 0 50%;
    padding: 0.5em 0 0.5em 28px
}

.email-link {
    background: url(/img/icon-email.png) no-repeat 0 50%;
    padding: 0 0 0px 31px !important;
    border: none;
    font: inherit;
    /*border is optional*/
    text-decoration: underline;
    display: inline;
    color: #005ea5;
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
}


/* Accessibility for Confirm Your Answers from GDS*/

@media (min-width: 769px) {
    .govuk-check-your-answers {
        display: table;
    }
}

.govuk-check-your-answers > * {
    position: relative;
    border-bottom: 1px solid #bfc1c3;
}

.govuk-check-your-answers + .govuk-check-your-answers {
    padding-top: 0.63158em;
}

@media (min-width: 769px) {
    .govuk-check-your-answers > * {
        display: table-row;
        border-bottom-width: 0;
    }
}

.govuk-check-your-answers > * > * {
    display: block;
}

@media (min-width: 769px) {
    .govuk-check-your-answers > * > * {
        display: table-cell;
        border-bottom: 1px solid #bfc1c3;
        padding: 0.63158em 1.05263em 0.47368em 0;
        margin: 0;
    }
}

.govuk-check-your-answers .cya-question {
    font-weight: bold;
    margin: 0.63158em 4em 0.21053em 0;
}

.govuk-check-your-answers > *:first-child .cya-question {
    margin-top: 0;
}

@media (min-width: 769px) {
    .govuk-check-your-answers.cya-questions-short, .govuk-check-your-answers.cya-questions-long {
        width: 100%;
    }

        .govuk-check-your-answers.cya-questions-short .cya-question {
            width: 30%;
        }

        .govuk-check-your-answers.cya-questions-long .cya-question {
            width: 50%;
        }
}

.govuk-check-your-answers .cya-answer {
    padding-bottom: 0.47368em;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-word;
}

.govuk-check-your-answers .cya-change {
    padding: 1em 0;
}

@media (min-width: 641px) {

    .govuk-check-your-answers .cya-change {
        text-align: right;
        position: relative;
        top: 0;
        right: 0;
        padding: 0;
    }
}

@media (min-width: 769px) {
    .govuk-check-your-answers .cya-change {
        padding-right: 0;
    }
}

/* TODO: Make this mobile first */

.organisations-table tbody th, .organisations-table tbody td {
    font-weight: 400;
    vertical-align: top;
}

.organisations-table address {
    color: #6F777B;
    text-decoration: none;
    font-style: normal;
}

.organisations-table .col-top {
    vertical-align: top;
}

.organisations-table .number {
    text-align: right;
}

@media (min-width: 641px) {

    .organisations-table .link-button {
        font-size: 19px;
    }

    .organisations-table td {
        font-size: 19px;
    }
}

@media (max-width: 769px) {

    .table-collapsible {
        display: block;
        width: auto;
    }

        .table-collapsible tr {
            display: block;
            padding-bottom: 15px;
            border-bottom: 1px solid gray;
            margin-bottom: 15px;
        }

        .table-collapsible thead th {
            display: none;
            text-align: left;
            border-bottom: 0;
            padding: 3px 0;
            width: initial;
            padding-bottom: 10px;
        }

            .table-collapsible thead th:first-child {
                width: 100%;
            }

        .table-collapsible tbody th, .table-collapsible tbody td {
            display: block;
            text-align: left;
            border-bottom: 0;
            padding-top: 5px;
            padding-bottom: 5px;
            width: auto;
        }

            .table-collapsible tbody th:before, .table-collapsible tbody td:before {
                content: attr(data-prefix);
                display: block;
                font-weight: bold;
                width: 85%;
            }

            .table-collapsible tbody th a {
                font-weight: bold;
            }

            .table-collapsible tbody th:first-child, .table-collapsible tbody td:first-child {
                width: 100%;
            }

                .table-collapsible tbody th:first-child:before, .table-collapsible tbody td:first-child:before {
                    content: attr(data-prefix);
                    /*margin-right: 7px;*/
                    width: auto;
                }

        .table-collapsible .number {
            text-align: left;
        }

    .table-collapsible-report .number {
        text-align: left;
    }


    .table-collapsible-report {
        display: block;
        width: auto;
    }

        .table-collapsible-report tr {
            display: block;
            /*padding-bottom: 15px;
            
            margin-bottom: 15px;*/
        }

        .table-collapsible-report thead th {
            display: none;
            text-align: left;
            border-bottom: 0;
            padding: 3px 0;
            width: initial;
            padding-bottom: 10px;
        }

            .table-collapsible-report thead th:first-child {
                width: 100%;
            }

        .table-collapsible-report tbody th, .table-collapsible tbody td {
            display: block;
            text-align: left;
            border-bottom: 0;
            /*padding-top: 5px;
            padding-bottom: 5px;*/
            width: auto;
        }

            .table-collapsible-report tbody th:before, .table-collapsible tbody td:before {
                content: attr(data-prefix);
                display: block;
                font-weight: bold;
                width: 85%;
            }

            .table-collapsible-report tbody th a {
                font-weight: bold;
            }

            .table-collapsible-report tbody th:first-child, .table-collapsible tbody td:first-child {
                width: 100%;
            }

                .table-collapsible-report tbody th:first-child:before, .table-collapsible tbody td:first-child:before {
                    content: attr(data-prefix);
                    /*margin-right: 7px;*/
                    width: auto;
                }

        .table-collapsible-report .number {
            text-align: left;
        }
}

.secondary-text {
    color: #6F777B;
}

.finder .govuk-option-select {
    background-color: #dee0e2;
    padding: 5px;
}

@media (min-width: 769px) {

    .finder .govuk-option-select {
        /* Redefine scrollbars on desktop where these lists are scrollable
      so they are always visible in option lists */
    }

        .finder .govuk-option-select ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }

        .finder .govuk-option-select ::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
        }
}

.finder .govuk-option-select:focus {
    outline: 3px solid #ffbf47;
}

.finder .govuk-option-select .container-head {
    padding: 5px 8px;
}

.finder .govuk-option-select .option-select-label {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    margin-right: 40px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 8px;
}

@media (min-width: 641px) {
    .finder .govuk-option-select .option-select-label {
        font-size: 19px;
        line-height: 1.3157894737;
    }
}

.finder .govuk-option-select .options-container {
    position: relative;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media (min-width: 769px) {
    .finder .govuk-option-select .options-container {
        max-height: 200px;
    }
}

.finder .govuk-option-select .options-container label {
    display: -moz-inline-stack;
    display: inline-block;
    padding: 7px 0 7px 30px;
    border-bottom: 1px solid #bfc1c3;
    width: 90%;
    cursor: pointer;
}

@media (min-width: 769px) {
    .finder .govuk-option-select .options-container label {
        /* leave room for the scroll bars on desktop*/
        width: 90%;
    }
}

.finder .govuk-option-select .options-container label:hover {
    background-color: #f8f8f8;
}

.finder .govuk-option-select .options-container label[disabled] {
    color: #bfc1c3;
}

.finder .govuk-option-select .options-container input {
    margin-left: -23px;
    vertical-align: top;
    width: 20px;
    height: 20px;
}

.js-enabled .finder .govuk-option-select {
    padding: 0 0 1px 0;
    /* styles for collapsibleness. .js-collapsible is added by the javascript if the browser is not ie6/7 in which case these don't collapse */
}

    .js-enabled .finder .govuk-option-select .js-selected-counter {
        font-family: "nta", Arial, sans-serif;
        font-weight: 400;
        text-transform: none;
        font-size: 12px;
        line-height: 1.25;
        padding-left: 8px;
    }

@media (min-width: 641px) {
    .js-enabled .finder .govuk-option-select .js-selected-counter {
        font-size: 14px;
        line-height: 1.4285714286;
    }
}

.js-enabled .finder .govuk-option-select .options-container {
    border: 5px solid #dee0e2;
    border-top: 10px;
}

.js-enabled .finder .govuk-option-select.js-collapsible button {
    z-index: 100;
    position: relative;
    border: none;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    margin-bottom: -1px;
    padding: 5px 0;
    background: url(/public/images/option-select-toggle-sprite.png) no-repeat right 5px;
    background-color: #dee0e2;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .js-enabled .finder .govuk-option-select.js-collapsible button {
        background-size: 32px 50px;
        background: url(/public/images/option-select-toggle-sprite.png) no-repeat right 5px
    }
}

.js-enabled .finder .govuk-option-select.js-collapsible button:hover {
    background-color: #bfc1c3;
}

    .js-enabled .finder .govuk-option-select.js-collapsible button:hover + .options-container {
        border-color: #bfc1c3;
    }

.js-enabled .finder .govuk-option-select.js-collapsible button[disabled] {
    background-image: none;
    color: inherit;
}

.js-enabled .finder .govuk-option-select.js-collapsible.js-closed button {
    background-position: right -75px;
}

.js-enabled .finder .govuk-option-select.js-collapsible.js-closed .options-container {
    display: none;
}

.finder {
    /*.js-enabled & .button {
    display: none;
  }*/
}

    .finder .change-search-link {
        padding-left: 15px;
    }

    .finder p {
        max-width: 100%;
        font-family: "nta", Arial, sans-serif;
        font-weight: 400;
        text-transform: none;
        font-size: 14px;
        line-height: 1.1428571429;
        margin-bottom: 30px;
    }

@media (min-width: 641px) {
    .finder p {
        font-size: 16px;
        line-height: 1.25;
    }
}

.finder .filter-divider {
    margin-top: 15px;
}

.finder .filter {
    background-color: #dee0e2;
    margin-bottom: 15px;
    padding: 5px;
    padding-top: 10px;
}

    .finder .filter .legend {
        font-family: "nta", Arial, sans-serif;
        font-weight: 400;
        text-transform: none;
        font-size: 16px;
        line-height: 1.25;
        font-weight: bold;
        display: block;
        padding-bottom: 5px;
        margin-left: 2px;
    }

@media (min-width: 641px) {
    .finder .filter .legend {
        font-size: 19px;
        line-height: 1.3157894737;
    }
}

.finder .filter label {
    display: block;
}

.finder .filter input {
    width: 95%;
    border: inset;
    border-width: 2px;
    position: relative;
}

.finder .filter .text {
    padding-left: 5px;
}

.finder .filter select {
    padding: 5px;
}

.finder .radio-filter label {
    display: inline-block;
}

.finder .radio-filter input {
    width: auto;
}

.finder .button-update {
    background-color: #00823b;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: .526315em .789473em .263157em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: 1px solid transparent;
    outline-offset: -1px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #003618;
    -moz-box-shadow: 0 2px 0 #003618;
    box-shadow: 0 2px 0 #003618;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #fff;
    width: auto;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    margin-top: 15px;
    /*margin-bottom: 15px;*/
}

    .finder .button-update:visited {
        background-color: #00823b;
    }

    .finder .button-update:hover, .finder .button-update:focus {
        background-color: #00692f;
    }

    .finder .button-update:active {
        top: 2px;
        -webkit-box-shadow: 0 0 0 #00823b;
        -moz-box-shadow: 0 0 0 #00823b;
        box-shadow: 0 0 0 #00823b;
    }

    .finder .button-update.disabled, .finder .button-update[disabled="disabled"], .finder .button-update[disabled] {
        zoom: 1;
        filter: alpha(opacity=50);
        opacity: 0.5;
    }

        .finder .button-update.disabled:hover, .finder .button-update[disabled="disabled"]:hover, .finder .button-update[disabled]:hover {
            cursor: default;
            background-color: #00823b;
        }

        .finder .button-update.disabled:active, .finder .button-update[disabled="disabled"]:active, .finder .button-update[disabled]:active {
            top: 0;
            -webkit-box-shadow: 0 2px 0 #003618;
            -moz-box-shadow: 0 2px 0 #003618;
            box-shadow: 0 2px 0 #003618;
        }

    .finder .button-update:link, .finder .button-update:link:focus, .finder .button-update:hover, .finder .button-update:focus, .finder .button-update:visited {
        color: #fff;
    }

    .finder .button-update:before {
        content: "";
        height: 110%;
        width: 100%;
        display: block;
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
    }

    .finder .button-update:active:before {
        top: -10%;
        height: 120%;
    }

@media (min-width: 641px) {
    .finder .button-update {
        font-size: 24px;
        line-height: 1.25;
    }
}

.finder .closed .checkbox-container {
    position: absolute;
    left: -9999px;
    padding: 0;
    margin: 0;
}

.js-update-filters {
    visibility: visible;
}

.js-enabled .js-update-filters {
    display: none;
}

.js-enabled #ChangeFiltersCollapsible {
    padding-left: 0;
}

@media (min-width: 641px) {
    .js-enabled #ChangeFiltersCollapsible {
        display: none;
    }
}

.js-enabled #ChangeFiltersCollapsible .help-toggle {
    padding-left: 0.75em;
    background: url("/public/assets/images/icons/icon-caret-down.png") left 0.5em no-repeat;
}

.js-enabled #ChangeFiltersCollapsible.selected .help-toggle {
    padding-left: 0.75em;
    background: url("/public/assets/images/icons/icon-caret-right.png") left 0.3em no-repeat;
}

.js-enabled #ChangeFiltersCollapse.js-expanded {
    display: none;
}

@media (min-width: 641px) {
    .js-enabled #ChangeFiltersCollapse.js-expanded {
        display: block;
    }
}

.js-enabled #ChangeFiltersCollapse.js-collapsed {
    display: block;
}

.finder .result-info {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.1428571429;
    vertical-align: baseline;
    /*border-bottom: solid 1px #bfc1c3; TODO put this back */
    margin: 0 0 15px 0;
    /*padding-bottom: 15px; TODO put this back */
}

@media (min-width: 641px) {
    .finder .result-info {
        font-size: 16px;
        line-height: 1.25;
    }
}

.finder .result-info .result-count {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 32px;
    line-height: 1.09375;
    margin-right: 5px;
}

@media (min-width: 641px) {
    .finder .result-info .result-count {
        font-size: 48px;
        line-height: 1.0416666667;
    }
}

.form-control-1 {
    width: 100%;
}

.search-button {
    display: inline-block;
    background-color: #005ea5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    z-index: 4;
    width: 50px;
    height: 50px;
    border: none;
    overflow: hidden;
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
}

.search-input {
    border-width: 1px;
    height: 50px;
    width: 100%;
}

@media (min-width: 641px) {

    .search-input {
        height: 50px;
    }
}

@media (min-width: 641px) {

    .search-button {
        width: 50px;
        height: 50px;
    }
}

/* GDS BASE CLASS  */
.metadata {
    margin: 0;
}

    .metadata dt, .metadata dd {
        font-family: "nta", Arial, sans-serif;
        text-transform: none;
        font-size: 12px;
        line-height: 1.25;
        margin-left: 0;
        padding: 0;
    }

    .metadata address {
        font-style: normal;
    }

@media (min-width: 641px) {
    .metadata dt, .metadata dd {
        font-size: 14px;
        line-height: 1.4285714286;
    }
}

.metadata dt {
    display: -moz-inline-stack;
    display: inline-block;
    width: 100%;
    font-weight: bold;
}

@media (min-width: 641px) {
    .metadata dt {
        width: auto;
    }
}

.metadata dd:after {
    display: block;
    content: '';
}

.employer-report-metadata dt, .employer-report-metadata dd {
    font-family: "nta", Arial, sans-serif;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    margin-left: 0;
    padding-bottom: 10px;
}

@media (min-width: 641px) {
    .employer-report-metadata > * {
        display: table-row;
    }
}

@media (min-width: 1020px) {
    .employer-report-metadata > * {
        display: block;
    }
}


@media (min-width: 641px) {
    .employer-report-metadata dt, .employer-report-metadata dd {
        line-height: 1.4285714286;
    }
}

@media (min-width: 641px) {
    .employer-report-metadata .metadata-text-label {
        width: 33.3333333333%;
    }
}

@media (min-width: 641px) {
    .employer-report-metadata .metadata-text-value {
        word-wrap: break-word;
    }
}

@media (min-width: 769px) {
    .employer-report-metadata .metadata-text-label, .employer-report-metadata .metadata-text-value {
        padding: 0;
        padding-bottom: 5px;
    }
}

.employer-report-metadata a {
    /*text-decoration: none;*/
    word-wrap: break-word;
}

    .employer-report-metadata a:after, .employer-report-metadata a:hover:after {
        background-position: right 0px !important;
        padding-left: 4px;
    }

.employer-report-page hr {
    margin-bottom: 0
}

.document {
    border-bottom: solid 1px #bfc1c3;
    padding: 15px 0;
}

    .document:first-child {
        padding-top: 0;
        margin-top: -2px;
    }

    .document h2 {
        font-family: "nta", Arial, sans-serif;
        font-weight: 700;
        /*text-transform: uppercase;*/
        font-size: 24px;
        line-height: 1.25;
        margin: 0;
    }

    .document .metadata-text-label {
        display: none;
    }

    .document address {
        font-style: normal;
        padding-bottom: 8px;
    }

.finder ul.results {
    list-style: none;
}

.link-fwd {
    display: -moz-inline-stack;
    display: inline-block;
    position: relative;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.1428571429;
    margin-top: 15px;
    padding-right: 14px;
    color: #0b0c0c;
    text-decoration: none;
    border-bottom: 1px solid #0b0c0c;
}

@media (min-width: 641px) {
    .link-fwd {
        font-size: 16px;
        line-height: 1.25;
    }
}

.link-fwd:link, .link-fwd:visited, .link-fwd:hover, .link-fwd:active {
    color: #0b0c0c;
}

.link-fwd::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 6px solid #0b0c0c;
    border-bottom: 5px solid transparent;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
}

.data.data-metric {
    margin-bottom: 15px;
}

.pagination-container {
    position: relative;
    padding: 15px 0;
    margin: 15px 0;
    min-height: 60px
}

.pagination {
    width: 50%;
}

.pagination-container .pagination-numbers {
    font-size: 14px;
    font-weight: normal;
    display: block;
}

.pagination-container .pagination a {
    display: block;
    text-decoration: none;
    padding: 10px;
    font-size: 27px;
    font-weight: 400;
    text-decoration: none;
}

.pagination-container .pagination-prev a:before {
    background: transparent url(/public/images/arrow-sprite.png) no-repeat -20px -11px;
    display: block;
    float: left;
    margin: 5px 5px 5px -10px;
    width: 30px;
    height: 80px;
    content: " ";
}

.pagination-container .pagination-next a:before {
    background: transparent url(/public/images/arrow-sprite.png) no-repeat -102px -11px;
    display: block;
    float: right;
    margin: 5px -10px 5px 5px;
    width: 30px;
    height: 80px;
    content: " ";
}

.pagination-container .pagination-prev {
    position: absolute;
    top: 0;
}

.pagination-container .pagination-next {
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
}

.hero-container {
    margin-bottom: 15px;
    padding: 15px;
    color: white;
    background-color: #005ea5;
}

    .hero-container .hero {
        max-width: 960px;
        margin: 0 auto;
        padding: 0;
    }

    .hero-container label, .hero-container .related a {
        color: #fff !important;
    }

    .hero-container .search-button {
        background-color: black;
    }

/*.hero-container*/
.twitter-typeahead {
    display: block !important;
}

/*.hero-container*/
.tt-menu {
    margin-top: 15px !important;
    background-color: white;
    z-index: 101 !important
}

    /*.hero-container*/
    .tt-menu .tt-suggestion a {
        display: block;
        padding: 7.5px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 1.25;
        margin: 0;
    }

        /*.hero-container*/
        .tt-menu .tt-suggestion a strong {
            text-decoration: underline;
            text-transform: uppercase;
        }

        /*.hero-container*/
        .tt-menu .tt-suggestion:hover,
        /*.hero-container*/
        .tt-menu .tt-suggestion a:hover {
            background-color: #2b8cc4;
            color: white;
            cursor: pointer
        }

    /*.hero-container*/
    .tt-menu .tt-cursor {
        background-color: #f9f9f9
    }

.suggest-prev-entry .panel {
    padding: 0 7.5px;
    border-left-width: 2px;
}

.suggest-prevmatching {
    text-transform: lowercase !important;
    color: black;
}

.suggest-prev-entry .bold-small {
    text-transform: uppercase !important;
    font-size: initial !important;
}

.panel-warning {
    border-color: #DF3034;
    background-color: #FCEAEA;
    margin-bottom: 30px;
    position: relative;
}

    .panel-warning .icon {
        position: absolute;
    }

    .panel-warning .icon-important {
        vertical-align: middle;
    }

    .panel-warning strong {
        display: block;
        padding-left: 65px;
        margin-left: -15px;
    }

    .panel-warning .warning-text {
        color: #CF2023;
    }

@media (min-width: 769px) {

    .panel-warning .icon {
        position: relative;
    }

    .panel-warning strong {
        display: inline-block;
        padding-left: 24px;
        margin-left: -15px;
    }
}

.action-step {
    position: relative;
    padding-bottom:10px;
}

    .action-step .icon {
        vertical-align: text-top;
        position: absolute
    }

    .action-step h3, .action-step p, .action-step ul {
        padding-left: 30px
    }

.references li {
    padding-bottom: 15px;
}


.label {
    background: #6f777b;
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 10px;
    text-align: left;
    text-decoration: none;
}

.label--white {
    background: #fff;
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    color: #0b0c0c;
    border: 1px solid #bfc1c3;
}

.label--blue {
    background: #005ea5;
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 10px;
    text-align: left;
    text-decoration: none;
}

.label--red {
    background: #b10e1e;
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 10px;
    text-align: left;
    text-decoration: none;
}

.label--black {
    background: #6F777B;
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 10px;
    text-align: left;
    text-decoration: none;
}

@media (max-width: 641px) {
    .label, .label--white, .label--blue, .label--red {
        font-size: 21px;
    }
}


.gem-c-related-navigation {
    border-top: 2px solid #005ea5;
}

.gem-c-related-navigation__main-heading {
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
}

@media (min-width: 641px) {
    .gem-c-related-navigation__main-heading {
        font-size: 19px;
        line-height: 1.3157894737;
    }
}

.gem-c-related-navigation__sub-heading {
    border-top: 1px solid #bfc1c3;
    padding-top: 15px;
}

.gem-c-related-navigation__main-heading + .gem-c-related-navigation__sub-heading {
    border-top: none;
    padding-top: 0;
}

.gem-c-related-navigation__sub-heading--other {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
}

@media (min-width: 641px) {
    .gem-c-related-navigation__sub-heading--other {
        font-size: 19px;
        line-height: 1.3157894737;
    }
}

.gem-c-related-navigation__nav-section {
    margin-bottom: 30px;
}

.gem-c-related-navigation__link {
    list-style-type: none;
    margin-bottom: 10px;
}

.gem-c-related-navigation__section-link {
    text-decoration: none;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
}

@media (min-width: 641px) {
    .gem-c-related-navigation__section-link {
        font-size: 19px;
        line-height: 1.3157894737;
    }
}

.gem-c-related-navigation__section-link--other {
    text-decoration: none;
}

.gem-c-related-navigation__link-list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 1.25em;
}

.list.list-inline li {
    vertical-align: middle;
    padding-right: .5em;
}

.list.list-inline.no-print li {
    margin: 20px 0;
}

@media (min-width: 641px) {

    .list.list-inline li {
        display: inline-block;
        vertical-align: middle;
    }

    .list.list-right {
        text-align: right;
    }
}
.icon-effective {
    background-image: url("/img/effective64x64.png");
    width: 45px;
    height: 45px;
    background-size: 100%;
}
.list .li-right {
    float: right;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-effective {
        background-image: url("/img/effective32x32.png");
        background-size: 100%;
    }
}

.icon-effective ~ h3 {
    padding-left: 60px
}

.icon-effective ~ details {
    padding-left: 60px;
    font-size: inherit;
}

.icon-effective ~ details h3 {
    padding-left: 25px
}
.icon-effective ~ details a {
    font-size: inherit;
}

.icon-effective ~ details p {
    font-size: inherit;
    padding-left: 25px
}

.icon-effective ~ details ul {
    padding-left: 50px;
}

.icon-effective ~ details li {
    font-size: inherit;
}

.icon-effective ~ p {
    padding-left: 60px;
}

.icon-effective ~ ul {
    padding-left: 80px
}

.icon-effective ~ summary > .panel {
    border-left: none;
}


.icon-promising {
    background-image: url("/img/promising64x64.png");
    width: 45px;
    height: 45px;
    background-size: 100%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-promising {
        background-image: url("/img/promising32x32.png");
        background-size: 100%;
    }
}

.icon-promising ~ h3 {
    padding-left: 60px
}

.icon-promising ~ details {
    padding-left: 60px;
    font-size: inherit;
}

.icon-promising ~ details h3 {
    padding-left: 25px
}

.icon-promising ~ details a {
    font-size: inherit;
}

.icon-promising ~ details p {
    font-size: inherit;
    padding-left: 25px
}

.icon-promising ~ details ul {
    padding-left: 50px;
}

.icon-promising ~ details li {
    font-size: inherit;
}

.icon-promising ~ p {
    padding-left: 60px
}

.icon-promising ~ ul {
    padding-left: 80px
}

.icon-mixed {
    background-image: url("/img/mixed64x64.png");
    width: 45px;
    height: 45px;
    background-size: 100%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-mixed {
        background-image: url("/img/mixed32x32.png");
        background-size: 100%;
    }
}

.icon-mixed ~ h3 {
    padding-left: 60px
}

.icon-mixed ~ details {
    padding-left: 60px;
    font-size: inherit;
}
.icon-mixed ~ details h3 {
    padding-left: 25px
}
.icon-mixed ~ details a {
    font-size: inherit;
}
.icon-mixed ~ details p {
    font-size: inherit;
    padding-left: 25px
}
.icon-mixed ~ details ul {
    padding-left: 50px;
}
.icon-mixed ~ details li {
    font-size: inherit;
}

.icon-mixed ~ p {
    padding-left: 60px
}

.icon-mixed ~ ul {
    padding-left: 80px
}
