.gov-uk-l-searchbar__table {
    display: table;
    width: 100%;
}

.gov-uk-l-searchbar__cell {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

.gov-uk-c-searchbar__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 50px;
    background: #ffffff;
    border-radius: 0;
    border: 1px solid #0b0c0c;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}

.gov-uk-c-searchbar__input:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
}

.gov-uk-c-searchbar__submit {
    padding: 5px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-image: url('/assets/images/search-button.svg');
    background-repeat: no-repeat;
    background-position: -12.5% 50%;
    text-indent: -5000px;
    overflow: hidden;
    border: 0;
    border-radius: 0;
}

.gov-uk-c-searchbar__submit--blue {
    background-color: #005ea5;
}

.gov-uk-c-searchbar__submit--black {
    background-color: #000;
}