.wrap {
    min-width: 1950px;
}
table .header-fixed {
    /*left:0;*/ 
    position: fixed;
    top: 0;
    opacity: 0;
    z-index: 10000;
    border: inset 1px solid #d5d5d5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #f9f9f9;
}

table .header-copy {
    z-index: -10000;
}
table.visible .header-copy {
    z-index: 10000 !important;
}

.visible thead {
    opacity: 1 !important;
}

@media print {

    .no-print {
        display: none !important;
        height: 0;
    }
} 