.govuk-legend {
    text-align: right;
    margin-top: 1em;
}

.govuk-legend__caption:before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
}

.govuk-legend__caption:after {
	content: attr(data-legend-text);
	margin-left: .5em;
	margin-right: .5em;
}

.govuk-legend__caption--women:before {
	background-color: #F46A25;
}

.govuk-legend__caption--men:before {
	background-color: #919397;
}

.govuk-chart-vert {
    width: 100%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 4em;
    font-size: 14px;
    line-height: 1.25;
}

govuk-chart-vert__head {
    display: inline-block;
    width: 4em;
    height: 100%;
    bottom: 0;
}

.govuk-chart-vert__delta {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background: inherit;
    width: 4em;
    height: 4em;
    position: relative;
}

.govuk-chart-vert__delta:before {
    content: attr(data-chart-value);
    left: 0;
    right: 0;
    position: absolute;
}

.govuk-chart-vert__delta:after {
    content: attr(data-chart-text);
    left: 0;
    right: 0;
    position: absolute;
    top: 1em;
}

.govuk-chart-vert__arrow {
    border: solid black;
    border-width: 0 .2em .2em 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    bottom: 0;
    left: 1.6em;
    margin-bottom: .75em;
}

.govuk-chart-vert__arrow--up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.govuk-chart-vert__arrow--down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.govuk-chart-vert__body {
    height: 8em;
    position: relative;
}

.govuk-chart-vert__foot {
    padding: .5em 0;
}

.govuk-chart-vert__bar {
    display: inline-block;
    width: 4em;
    height: 100%;
    bottom: 0;
}

.govuk-chart-vert__bar--women, .govuk-chart-vert__caption--women {
	background-color: #F46A25;
	color: #F46A25;
}

.govuk-chart-vert__bar--men, .govuk-chart-vert__caption--men {
	background-color: #919397;
	color: #919397;
}

.govuk-chart-vert__caption {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background: inherit;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    border-style: solid;
    position: relative;
    border-width: .3em;
}

.govuk-chart-vert__caption:after {
    content: attr(data-chart-text);
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.govuk-chart-horz {
    width: 100%;
    margin-top: 1em;
    position: relative;
}

.govuk-chart-horz__bar {
    height: 2em;
}

.govuk-chart-horz__bar--men {
    background-color: #919397;
}

.govuk-chart-horz__bar--women {
    background-color: #F46A25;
}

.govuk-chart-horz__foot {
    padding-top: 8px;
    padding-bottom: 30px;
}

@media (min-width: 769px) {
    .govuk-chart-horz__foot {
        padding-bottom: 36px;
    }
}

.govuk-chart-horz__text--left {
    position: absolute;
    left: 0;
}

.govuk-chart-horz__text--right {
    position: absolute;
    right: 0;
    text-align: right;
}
