.gpg-manage-reports {
    display: table;
    width: 100%;
}

.gpg-manage-reports__row {
    display: table-row;
}

.gpg-manage-reports__head {
    display: table-row;
}

.gpg-manage-reports__cell, .gpg-manage-reports__desc {
    display: table-cell;
    padding: 10px 10px 10px 0;
}

.gpg-manage-reports__cell {
    border-bottom: 1px solid #bfc1c3;
}

.gpg-manage-reports__desc {
    font-weight: bold;
    border: 1px solid black;
    border-left: none;
    border-right: none;
}

.gpg-manage-reports__desc--action, .gpg-manage-reports__cell--action {
    width: 33%;
}

.gpg-manage-reports__cell--year {
    font-weight: bold;
}