/*
 * govuk-frontend project
 * hhttps://github.com/alphagov/govuk-frontend/tree/master/package/components/tag
*/

.govuk-tag-late {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    display: inline-block;
    padding: .5em;
    color: #b10e1e;
    border: 1px solid #b10e1e;
    text-align: center;
}

@media print {
    .govuk-tag-late {
        font-family: sans-serif;
        font-size: 14pt;
        line-height: 1.25;
    }
}

.govuk-tag-voluntary {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    display: inline-block;
    padding: .5em;
    color: #85994b;
    border: 1px solid #85994b;
    text-align: center;
}

@media print {
    .govuk-tag-voluntary {
        font-family: sans-serif;
        font-size: 14pt;
        line-height: 1.25;
    }
}
