@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents

@{
    ViewBag.Title = "Password changed - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @Html.GovUkErrorSummary()

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Password changed successfully
            </h1>
        </div>
        
        <p class="govuk-body">
            Your password has been changed successfully. You should now be able to sign in to your account with this password.
        </p>
    </div>
</div>



