@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents

@{
    ViewBag.Title = "Password reset email sent - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Password reset email sent
        </h1>
        
        <p class="govuk-body">
            We've sent you a link by email so you can reset your password.
        </p>
    </div>
</div>
