@{
    ViewBag.Title = "Account closed - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Your account has been closed
            </h1>
        </div>

        <p class="govuk-body">
            You are now signed out of the gender pay gap service.
        </p>
        
        <p class="govuk-body">
            <a href="@Url.Action("Index", "Homepage")"
               class="govuk-link">
                Return to Gender pay gap service homepage
            </a>
        </p>
        
    </div>
</div>

