@using GenderPayGap.Core
@model GenderPayGap.WebUI.ErrorHandling.FailedToSendEmailException

@{
    ViewBag.Title = "Password reset code expired - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Password reset code expired
        </h1>

        <p class="govuk-body">
            The password reset link you used has expired. Please try re-setting your password again, or contact 
            <a href="mailto:@(Global.GpgReportingEmail)" class="govuk-link">@(Global.GpgReportingEmail)</a> 
            for more assistance.
        </p>
        
    </div>
</div>
