@model GenderPayGap.WebUI.ErrorHandling.RegistrationNotFoundException

@{
    ViewBag.Title = $"Pending registration not found - Gender pay gap service";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            This pending registration could not be found
        </h1>
        
        <p class="govuk-body">
            Perhaps the registration has been rejected.
        </p>
        
        <p class="govuk-body">
            If you typed the web address, check it is correct.
        </p>
        
        <p class="govuk-body">
            <a href="@Url.Action("PendingRegistrations", "AdminPendingRegistrations")"
               class="govuk-link">
                Return to Pending Registrations
            </a>
        </p>

    </div>
</div>
