@using GenderPayGap.Core
@model GenderPayGap.WebUI.ErrorHandling.UserRecentlySentPasswordResetEmailWithoutChangingPasswordException

@{
    ViewBag.Title = "You have already been sent a password reset email - Gender pay gap service";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            You have already been sent a password reset email
        </h1>

        <p class="govuk-body">A password reset email has been sent to your email address within the last @Global.MinPasswordResetMinutes minutes.</p>
        
        <p class="govuk-body">Check your junk emails or try again in a few minutes.</p>
        
        <p class="govuk-body">If you think there is a problem, contact <a href="mailto:@(Global.GpgReportingEmail)" class="govuk-link">@(Global.GpgReportingEmail)</a></p>
    </div>
</div>

