@using GenderPayGap.Core
@model GenderPayGap.WebUI.ErrorHandling.UserAccountRetiredException

@{
    ViewBag.Title = $"Your account has been deactivated - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Your user account has been closed
        </h1>
        
        <p class="govuk-body">
            You will need to
            <a href="@(Url.Action("Logout", "Login",
                         new { redirectUrl = Url.Action("CreateUserAccountGet", "AccountCreation") }))"
               class="govuk-link">
                create a new user account
            </a>
            to continue
        </p>
        
        <p class="govuk-body">
            If you did not expect this, please contact the Gender Pay Gap team at
            <a href="mailto:@(Global.GpgReportingEmail)"
               class="govuk-link">
                @(Global.GpgReportingEmail)
            </a>
        </p>

    </div>
</div>
