@using GenderPayGap.WebUI.Helpers
@model GenderPayGap.WebUI.Views.Components.StatusMessages.StatusMessagesViewModel

@{
    List<string> statusMessages = StatusMessageHelper.GetStatusMessages(Context.Request, Context.Response);
}

@if (statusMessages.Count > 0)
{
    <section role="status" class="status-message @(Model?.Classes)">
        @foreach (string statusMessage in statusMessages)
        {
            @(statusMessage)<br/>
        }
    </section>
}
